menuconfig PK_LIBX11
	select PK_LIBXCB
	select PK_XTRANS
	select PK_KBPROTO
	select PK_INPUTPROTO
	bool "libX11"

if PK_LIBX11

config PK_LIBX11_VERSION
	default "1.6.5"
	string "verstion"

config PK_LIBX11_TAR
	default "tar.gz"
	string "tar type"

config PK_LIBX11_URL
	default "https://www.x.org/releases/individual/lib/"
	string "url"

config PK_LIBX11_GITHUB
	string "GitHub"

config PK_LIBX11_SRCFILE
	string "Source code list"

config PK_LIBX11_CONFIG
	default "--enable-malloc0returnsnull --disable-selective-werror --enable-silent-rules --disable-static"
	string "CONFIG: Project Configure Options"

config PK_LIBX11_LIBPATH
	string "LIBS: Libraries to pass to the linker, e.g. -l<library>"

config PK_LIBX11_CPPFLAGS
	string "CPPFLAGS: C/C++ preprocessor flags, e.g. -I<include dir>"

config PK_LIBX11_DPKCONFIG
	string "PKG_CONFIG_PATH: Directories to add to pkg-config's search path"

config PK_LIBX11_CFLAGS
	string "CFLAGS: C compiler flags"

config PK_LIBX11_LDFLAGS
	string "LDFLAGS: Linker flags"

config PK_LIBX11_CXXFLAGS
	string "CXXFLAGS: C++ compiler flags"

config PK_LIBX11_ASFLAGS
	string "CCASFLAGS: assembler compiler flags (defaults to CFLAGS)"

config PK_LIBX11_BUILDARCH
	default "x86_64-unknown-linux-gnu"
	string "--host options on configure for Architecture"

endif # PK_LIBX11
