menuconfig UBOOT 
	bool "uboot"

if UBOOT

choice
	prompt "Setup uboot source code"

config UBOOT_GITHUB
	bool "uboot source code from Github"

config UBOOT_DL
	bool "uboot source code from External Package"

config UBOOT_WGET
	bool "uboot source code from Wget"

endchoice

if UBOOT_DL

config UBOOT_DL_NAME
	string "External uboot absolute path"

endif # UBOOT_DL

if UBOOT_WGET

config UBOOT_WGET_SITE
	string "uboot  wget site"
	default "ftp://ftp.denx.de/pub/u-boot/"

endif # UBOOT_WGET

if UBOOT_GITHUB

config UBOOT_GITHUB_SITE
	string "uboot  Github site"
	default "https://github.com/u-boot/u-boot.git"

endif # UBOOT_GITHUB

config UBOOT_VERSION
	string "uboot  verstion"

config UBOOT_SRC
	int 
	default 1 if UBOOT_GITHUB
	default 2 if UBOOT_DL
	default 3 if UBOOT_WGET

config UBOOT_TAR_TYPE
	string "uboot  source code tar type"

choice
	prompt "Choice CROSS compile"

config UBOOT_CROSS_GUNEABI
	bool "arm-linux-gnueabi"
	select TOOL_ARM_GNUEABI

config UBOOT_CROSS_GNUEABIHF
	bool "arm-linux-gnueabihf"
	select TOOL_ARM_GNUEABIHF

config UBOOT_CROSS_NONE_GNUEABI
	bool "arm-none-linux-gnueabi"
	select TOOL_ARM_NONE_GNUEABI 

endchoice

config UBOOT_CROSS_COMPILE
	string
	default "arm-linux-gnueabi" if UBOOT_CROSS_GUNEABI
	default "arm-linux-gnueabihf" if UBOOT_CROSS_GNUEABIHF
	default "arm-none-linux-gnueabi" if UBOOT_CROSS_NONE_GNUEABI

endif # PK_UBOOT_
