menuconfig PK_X86_MSR_IA32_VMX_PINBASED_CTLS
	bool "MSR_IA32_VMX_PINBASED_CTLS"

if PK_X86_MSR_IA32_VMX_PINBASED_CTLS

config PK_X86_MSR_IA32_VMX_PINBASED_CTLS_VERSION
	default "0.0.1"
	string "verstion"

config PK_X86_MSR_IA32_VMX_PINBASED_CTLS_TAR
	default "tar.gz"
	string "tar type"

config PK_X86_MSR_IA32_VMX_PINBASED_CTLS_URL
	default "https://gitee.com/BiscuitOS_team/HardStack/raw/Gitee/Architecture/Intel/Register/MSR_IA32_VMX_PINBASED_CTLS"
	string "url"

config PK_X86_MSR_IA32_VMX_PINBASED_CTLS_GITHUB
	string "GitHub"

config PK_X86_MSR_IA32_VMX_PINBASED_CTLS_SRCFILE
	default "main.c Kconfig Makefile"
	string "Source code list"

config PK_X86_MSR_IA32_VMX_PINBASED_CTLS_CSRCFILE
	string "Compile source code list"

config PK_X86_MSR_IA32_VMX_PINBASED_CTLS_CONFIG
	string "CONFIG: Project Configure Options"

config PK_X86_MSR_IA32_VMX_PINBASED_CTLS_LIBPATH
	string "LIBS: Libraries to pass to the linker, e.g. -l<library>"

config PK_X86_MSR_IA32_VMX_PINBASED_CTLS_CPPFLAGS
	string "CPPFLAGS: C/C++ preprocessor flags, e.g. -I<include dir>"

config PK_X86_MSR_IA32_VMX_PINBASED_CTLS_DPKCONFIG
	string "PKG_CONFIG_PATH: Directories to add to pkg-config's search path"

config PK_X86_MSR_IA32_VMX_PINBASED_CTLS_CFLAGS
	string "CFLAGS: C compiler flags"

config PK_X86_MSR_IA32_VMX_PINBASED_CTLS_LDFLAGS
	string "LDFLAGS: Linker flags"

config PK_X86_MSR_IA32_VMX_PINBASED_CTLS_CXXFLAGS
	string "CXXFLAGS: C++ compiler flags"

config PK_X86_MSR_IA32_VMX_PINBASED_CTLS_ASFLAGS
	string "CCASFLAGS: assembler compiler flags (defaults to CFLAGS)"

config PK_X86_MSR_IA32_VMX_PINBASED_CTLS_BUILDARCH
	string "--host options on configure for Architecture"

endif # PK_X86_MSR_IA32_VMX_PINBASED_CTLS
