menuconfig PK_PTE_PAGE_RW_KERNEL
	bool "PTE PAGE_RW Bit-1 (Kernel+)"

if PK_PTE_PAGE_RW_KERNEL

config PK_PTE_PAGE_RW_KERNEL_VERSION
	default "default"
	string "verstion"

config PK_PTE_PAGE_RW_KERNEL_TAR
	default "tar.gz"
	string "tar type"

config PK_PTE_PAGE_RW_KERNEL_URL
	default "https://gitee.com/BiscuitOS_team/HardStack/raw/Gitee/Memory-Allocator/Paging/PAGE_RW/kernel"
	string "url"

config PK_PTE_PAGE_RW_KERNEL_GITHUB
	string "GitHub"

config PK_PTE_PAGE_RW_KERNEL_SRCFILE
	default "main.c Kconfig Makefile"
	string "Source code list"

config PK_PTE_PAGE_RW_KERNEL_CSRCFILE
	string "Compile source code list"

config PK_PTE_PAGE_RW_KERNEL_CONFIG
	string "CONFIG: Project Configure Options"

config PK_PTE_PAGE_RW_KERNEL_LIBPATH
	string "LIBS: Libraries to pass to the linker, e.g. -l<library>"

config PK_PTE_PAGE_RW_KERNEL_CPPFLAGS
	string "CPPFLAGS: C/C++ preprocessor flags, e.g. -I<include dir>"

config PK_PTE_PAGE_RW_KERNEL_DPKCONFIG
	string "PKG_CONFIG_PATH: Directories to add to pkg-config's search path"

config PK_PTE_PAGE_RW_KERNEL_CFLAGS
	string "CFLAGS: C compiler flags"

config PK_PTE_PAGE_RW_KERNEL_LDFLAGS
	string "LDFLAGS: Linker flags"

config PK_PTE_PAGE_RW_KERNEL_CXXFLAGS
	string "CXXFLAGS: C++ compiler flags"

config PK_PTE_PAGE_RW_KERNEL_ASFLAGS
	string "CCASFLAGS: assembler compiler flags (defaults to CFLAGS)"

config PK_PTE_PAGE_RW_KERNEL_BUILDARCH
	string "--host options on configure for Architecture"

endif # PK_PTE_PAGE_RW_KERNEL
