menuconfig PK_FONTSPROTO
	bool "fontsproto"

if PK_FONTSPROTO

config PK_FONTSPROTO_VERSION
	default "2.1.3"
	string "verstion"

config PK_FONTSPROTO_TAR
	default "tar.gz"
	string "tar type"

config PK_FONTSPROTO_URL
	default "https://www.x.org/releases/individual/proto/"
	string "url"

config PK_FONTSPROTO_GITHUB
	string "GitHub"

config PK_FONTSPROTO_SRCFILE
	string "Source code list"

config PK_FONTSPROTO_CONFIG
	default "--enable-silent-rules --disable-static"
	string "CONFIG: Project Configure Options"

config PK_FONTSPROTO_LIBPATH
	string "LIBS: Libraries to pass to the linker, e.g. -l<library>"

config PK_FONTSPROTO_CPPFLAGS
	string "CPPFLAGS: C/C++ preprocessor flags, e.g. -I<include dir>"

config PK_FONTSPROTO_DPKCONFIG
	string "PKG_CONFIG_PATH: Directories to add to pkg-config's search path"

config PK_FONTSPROTO_CFLAGS
	string "CFLAGS: C compiler flags"

config PK_FONTSPROTO_LDFLAGS
	string "LDFLAGS: Linker flags"

config PK_FONTSPROTO_CXXFLAGS
	string "CXXFLAGS: C++ compiler flags"

config PK_FONTSPROTO_ASFLAGS
	string "CCASFLAGS: assembler compiler flags (defaults to CFLAGS)"

config PK_FONTSPROTO_BUILDARCH
	default "x86_64-unknown-linux-gnu"
	string "--host options on configure for Architecture"

endif # PK_FONTSPROTO
