menuconfig PK_BSVFS_BASE
	bool "bsvfs: basic"

if PK_BSVFS_BASE

config PK_BSVFS_BASE_VERSION
	default "0.0.1"
	string "verstion"

config PK_BSVFS_BASE_TAR
	default "tar.gz"
	string "tar type"

config PK_BSVFS_BASE_URL
	default "https://gitee.com/BiscuitOS_team/HardStack/raw/Gitee/fs/bsvfs/base"
	string "url"

config PK_BSVFS_BASE_GITHUB
	string "GitHub"

config PK_BSVFS_BASE_SRCFILE
	default "bsvfs.c Kconfig Makefile"
	string "Source code list"

config PK_BSVFS_BASE_CSRCFILE
	string "Compile source code list"

config PK_BSVFS_BASE_CONFIG
	string "CONFIG: Project Configure Options"

config PK_BSVFS_BASE_LIBPATH
	string "LIBS: Libraries to pass to the linker, e.g. -l<library>"

config PK_BSVFS_BASE_CPPFLAGS
	string "CPPFLAGS: C/C++ preprocessor flags, e.g. -I<include dir>"

config PK_BSVFS_BASE_DPKCONFIG
	string "PKG_CONFIG_PATH: Directories to add to pkg-config's search path"

config PK_BSVFS_BASE_CFLAGS
	string "CFLAGS: C compiler flags"

config PK_BSVFS_BASE_LDFLAGS
	string "LDFLAGS: Linker flags"

config PK_BSVFS_BASE_CXXFLAGS
	string "CXXFLAGS: C++ compiler flags"

config PK_BSVFS_BASE_ASFLAGS
	string "CCASFLAGS: assembler compiler flags (defaults to CFLAGS)"

config PK_BSVFS_BASE_BUILDARCH
	string "--host options on configure for Architecture"

endif # PK_BSVFS_BASE
