menuconfig PK_ZONE_DEVICE
	bool "ZONE_DEVICE"

if PK_ZONE_DEVICE

config PK_ZONE_DEVICE_VERSION
	default "default"
	string "verstion"

config PK_ZONE_DEVICE_TAR
	default "tar.gz"
	string "tar type"

config PK_ZONE_DEVICE_URL
	default "https://gitee.com/BiscuitOS_team/HardStack/raw/Gitee/Memory-Allocator/ZONE-MECH/BiscuitOS-ZONE-DEVICE"
	string "url"

config PK_ZONE_DEVICE_GITHUB
	string "GitHub"

config PK_ZONE_DEVICE_SRCFILE
	default "main.c Kconfig Makefile RunBiscuitOS.sh Makefile.host"
	string "Source code list"

config PK_ZONE_DEVICE_CSRCFILE
	string "Compile source code list"

config PK_ZONE_DEVICE_CONFIG
	string "CONFIG: Project Configure Options"

config PK_ZONE_DEVICE_LIBPATH
	string "LIBS: Libraries to pass to the linker, e.g. -l<library>"

config PK_ZONE_DEVICE_CPPFLAGS
	string "CPPFLAGS: C/C++ preprocessor flags, e.g. -I<include dir>"

config PK_ZONE_DEVICE_DPKCONFIG
	string "PKG_CONFIG_PATH: Directories to add to pkg-config's search path"

config PK_ZONE_DEVICE_CFLAGS
	string "CFLAGS: C compiler flags"

config PK_ZONE_DEVICE_LDFLAGS
	string "LDFLAGS: Linker flags"

config PK_ZONE_DEVICE_CXXFLAGS
	string "CXXFLAGS: C++ compiler flags"

config PK_ZONE_DEVICE_ASFLAGS
	string "CCASFLAGS: assembler compiler flags (defaults to CFLAGS)"

config PK_ZONE_DEVICE_BUILDARCH
	string "--host options on configure for Architecture"

endif # PK_ZONE_DEVICE
