menuconfig PK_PAGING_VM_ZERO_HPAGE
	bool "ZERO HUGE PAGE(2MiB)"

if PK_PAGING_VM_ZERO_HPAGE

config PK_PAGING_VM_ZERO_HPAGE_VERSION
	default "default"
	string "verstion"

config PK_PAGING_VM_ZERO_HPAGE_TAR
	default "tar.gz"
	string "tar type"

config PK_PAGING_VM_ZERO_HPAGE_URL
	default "https://gitee.com/BiscuitOS_team/HardStack/raw/Gitee/Memory-Allocator/PAGING-MECH/BiscuitOS-PAGING-VM-ZERO-HPAGE"
	string "url"

config PK_PAGING_VM_ZERO_HPAGE_GITHUB
	string "GitHub"

config PK_PAGING_VM_ZERO_HPAGE_SRCFILE
	default "main.c Makefile RunBiscuitOS.sh"
	string "Source code list"

config PK_PAGING_VM_ZERO_HPAGE_CSRCFILE
	string "Compile source code list"

config PK_PAGING_VM_ZERO_HPAGE_CONFIG
	string "CONFIG: Project Configure Options"

config PK_PAGING_VM_ZERO_HPAGE_LIBPATH
	string "LIBS: Libraries to pass to the linker, e.g. -l<library>"

config PK_PAGING_VM_ZERO_HPAGE_CPPFLAGS
	string "CPPFLAGS: C/C++ preprocessor flags, e.g. -I<include dir>"

config PK_PAGING_VM_ZERO_HPAGE_DPKCONFIG
	string "PKG_CONFIG_PATH: Directories to add to pkg-config's search path"

config PK_PAGING_VM_ZERO_HPAGE_CFLAGS
	string "CFLAGS: C compiler flags"

config PK_PAGING_VM_ZERO_HPAGE_LDFLAGS
	string "LDFLAGS: Linker flags"

config PK_PAGING_VM_ZERO_HPAGE_CXXFLAGS
	string "CXXFLAGS: C++ compiler flags"

config PK_PAGING_VM_ZERO_HPAGE_ASFLAGS
	string "CCASFLAGS: assembler compiler flags (defaults to CFLAGS)"

config PK_PAGING_VM_ZERO_HPAGE_BUILDARCH
	string "--host options on configure for Architecture"

endif # PK_PAGING_VM_ZERO_HPAGE
