menuconfig PK_LIBINPUTPROTO
	bool "libinputproto"

if PK_LIBINPUTPROTO

config LIB_LIBINPUTPROTO_VERSION
	default "2.1.99.6"
	string "verstion"

config LIB_LIBINPUTPROTO_TAR
	default "tar.gz"
	string "tar type"

config LIB_LIBINPUTPROTO_URL
	default "https://www.x.org/releases/individual/proto/"
	string "url"

config LIB_LIBINPUTPROTO_SRC
	string "source code list"

config LIB_LIBINPUTPROTO_LDFLAGS
	string "LDFLAGS"

config LIB_LIBINPUTPROTO_CFLAGS
	string "CFLAGS"

config LIB_LIBINPUTPROTO_CONFIG
	string "configure"

endif # PK_LIBINPUTPROTO
