menuconfig PK_TLB_CPUID
	bool "CPUID: Utility to read CPUIDs from x86 processors"

if PK_TLB_CPUID

config PK_TLB_CPUID_VERSION
	default "default"
	string "verstion"

config PK_TLB_CPUID_TAR
	default "tar.gz"
	string "tar type"

config PK_TLB_CPUID_URL
	default "https://gitee.com/BiscuitOS_team/HardStack/raw/Gitee/Memory-Allocator/TLB/BiscuitOS-TLB-CPUID"
	string "url"

config PK_TLB_CPUID_GITHUB
	string "GitHub"

config PK_TLB_CPUID_SRCFILE
	default "main.c Makefile"
	string "Source code list"

config PK_TLB_CPUID_CSRCFILE
	string "Compile source code list"

config PK_TLB_CPUID_CONFIG
	string "CONFIG: Project Configure Options"

config PK_TLB_CPUID_LIBPATH
	string "LIBS: Libraries to pass to the linker, e.g. -l<library>"

config PK_TLB_CPUID_CPPFLAGS
	string "CPPFLAGS: C/C++ preprocessor flags, e.g. -I<include dir>"

config PK_TLB_CPUID_DPKCONFIG
	string "PKG_CONFIG_PATH: Directories to add to pkg-config's search path"

config PK_TLB_CPUID_CFLAGS
	string "CFLAGS: C compiler flags"

config PK_TLB_CPUID_LDFLAGS
	string "LDFLAGS: Linker flags"

config PK_TLB_CPUID_CXXFLAGS
	string "CXXFLAGS: C++ compiler flags"

config PK_TLB_CPUID_ASFLAGS
	string "CCASFLAGS: assembler compiler flags (defaults to CFLAGS)"

config PK_TLB_CPUID_BUILDARCH
	string "--host options on configure for Architecture"

endif # PK_TLB_CPUID
