#
# kconfig for utils-linux
#
config PACKAGE_UTILS_LINUX
	bool "Utils for linux"
	help
	  util-linux is a standard package distributed by the 
	  Linux Kernel Organization for use as part of the Linux 
	  operating system. A fork, util-linux-ng—with ng meaning 
	  "next generation"—was created when development stalled, 
	  but as of January 2011 has been renamed back to util-linux, 
	  and is the official version of the package.

