menuconfig PK_IO_BISCUITOS_EPOLL
	bool "Epoll mechanism on BiscuitOS"

if PK_IO_BISCUITOS_EPOLL

config PK_IO_BISCUITOS_EPOLL_VERSION
	default "default"
	string "verstion"

config PK_IO_BISCUITOS_EPOLL_TAR
	default "tar.gz"
	string "tar type"

config PK_IO_BISCUITOS_EPOLL_URL
	default "https://gitee.com/BiscuitOS_team/HardStack/raw/Gitee/IO/AsyncBlock/BiscuitOS-epoll"
	string "url"

config PK_IO_BISCUITOS_EPOLL_GITHUB
	string "GitHub"

config PK_IO_BISCUITOS_EPOLL_SRCFILE
	default "epoll.c Kconfig Makefile module.c RunBiscuitOS.sh"
	string "Source code list"

config PK_IO_BISCUITOS_EPOLL_CSRCFILE
	string "Compile source code list"

config PK_IO_BISCUITOS_EPOLL_CONFIG
	string "CONFIG: Project Configure Options"

config PK_IO_BISCUITOS_EPOLL_LIBPATH
	string "LIBS: Libraries to pass to the linker, e.g. -l<library>"

config PK_IO_BISCUITOS_EPOLL_CPPFLAGS
	string "CPPFLAGS: C/C++ preprocessor flags, e.g. -I<include dir>"

config PK_IO_BISCUITOS_EPOLL_DPKCONFIG
	string "PKG_CONFIG_PATH: Directories to add to pkg-config's search path"

config PK_IO_BISCUITOS_EPOLL_CFLAGS
	string "CFLAGS: C compiler flags"

config PK_IO_BISCUITOS_EPOLL_LDFLAGS
	string "LDFLAGS: Linker flags"

config PK_IO_BISCUITOS_EPOLL_CXXFLAGS
	string "CXXFLAGS: C++ compiler flags"

config PK_IO_BISCUITOS_EPOLL_ASFLAGS
	string "CCASFLAGS: assembler compiler flags (defaults to CFLAGS)"

config PK_IO_BISCUITOS_EPOLL_BUILDARCH
	string "--host options on configure for Architecture"

endif # PK_IO_BISCUITOS_EPOLL
