menuconfig PK_PAGING_RMAP_FILE
	bool "RMAP: FILE-MAPPING"

if PK_PAGING_RMAP_FILE

config PK_PAGING_RMAP_FILE_VERSION
	default "default"
	string "verstion"

config PK_PAGING_RMAP_FILE_TAR
	default "tar.gz"
	string "tar type"

config PK_PAGING_RMAP_FILE_URL
	default "https://gitee.com/BiscuitOS_team/HardStack/raw/Gitee/Memory-Allocator/PAGING-MECH/BiscuitOS-PAGING-RMAP-FILE"
	string "url"

config PK_PAGING_RMAP_FILE_GITHUB
	string "GitHub"

config PK_PAGING_RMAP_FILE_SRCFILE
	default "main.c Makefile RunBiscuitOS.sh Makefile.app app.c Kconfig"
	string "Source code list"

config PK_PAGING_RMAP_FILE_CSRCFILE
	string "Compile source code list"

config PK_PAGING_RMAP_FILE_CONFIG
	string "CONFIG: Project Configure Options"

config PK_PAGING_RMAP_FILE_LIBPATH
	string "LIBS: Libraries to pass to the linker, e.g. -l<library>"

config PK_PAGING_RMAP_FILE_CPPFLAGS
	string "CPPFLAGS: C/C++ preprocessor flags, e.g. -I<include dir>"

config PK_PAGING_RMAP_FILE_DPKCONFIG
	string "PKG_CONFIG_PATH: Directories to add to pkg-config's search path"

config PK_PAGING_RMAP_FILE_CFLAGS
	string "CFLAGS: C compiler flags"

config PK_PAGING_RMAP_FILE_LDFLAGS
	string "LDFLAGS: Linker flags"

config PK_PAGING_RMAP_FILE_CXXFLAGS
	string "CXXFLAGS: C++ compiler flags"

config PK_PAGING_RMAP_FILE_ASFLAGS
	string "CCASFLAGS: assembler compiler flags (defaults to CFLAGS)"

config PK_PAGING_RMAP_FILE_BUILDARCH
	string "--host options on configure for Architecture"

endif # PK_PAGING_RMAP_FILE
