menuconfig PK_BISCUITOS_AS_DATA_SEGMENT_GL
	bool "Data Segment: Global Variable"

if PK_BISCUITOS_AS_DATA_SEGMENT_GL

config PK_BISCUITOS_AS_DATA_SEGMENT_GL_VERSION
	default "default"
	string "verstion"

config PK_BISCUITOS_AS_DATA_SEGMENT_GL_TAR
	default "tar.gz"
	string "tar type"

config PK_BISCUITOS_AS_DATA_SEGMENT_GL_URL
	default "https://gitee.com/BiscuitOS_team/HardStack/raw/Gitee/Memory-Allocator/Address-Space/BiscuitOS-address-space-data-segment-global"
	string "url"

config PK_BISCUITOS_AS_DATA_SEGMENT_GL_GITHUB
	string "GitHub"

config PK_BISCUITOS_AS_DATA_SEGMENT_GL_SRCFILE
	default "main.c Makefile BiscuitOS.c"
	string "Source code list"

config PK_BISCUITOS_AS_DATA_SEGMENT_GL_CSRCFILE
	string "Compile source code list"

config PK_BISCUITOS_AS_DATA_SEGMENT_GL_CONFIG
	string "CONFIG: Project Configure Options"

config PK_BISCUITOS_AS_DATA_SEGMENT_GL_LIBPATH
	string "LIBS: Libraries to pass to the linker, e.g. -l<library>"

config PK_BISCUITOS_AS_DATA_SEGMENT_GL_CPPFLAGS
	string "CPPFLAGS: C/C++ preprocessor flags, e.g. -I<include dir>"

config PK_BISCUITOS_AS_DATA_SEGMENT_GL_DPKCONFIG
	string "PKG_CONFIG_PATH: Directories to add to pkg-config's search path"

config PK_BISCUITOS_AS_DATA_SEGMENT_GL_CFLAGS
	string "CFLAGS: C compiler flags"

config PK_BISCUITOS_AS_DATA_SEGMENT_GL_LDFLAGS
	string "LDFLAGS: Linker flags"

config PK_BISCUITOS_AS_DATA_SEGMENT_GL_CXXFLAGS
	string "CXXFLAGS: C++ compiler flags"

config PK_BISCUITOS_AS_DATA_SEGMENT_GL_ASFLAGS
	string "CCASFLAGS: assembler compiler flags (defaults to CFLAGS)"

config PK_BISCUITOS_AS_DATA_SEGMENT_GL_BUILDARCH
	string "--host options on configure for Architecture"

endif # PK_BISCUITOS_AS_DATA_SEGMENT_GL
