menuconfig PK_MEMBLOCK_MERGE_ADJACENT
	bool "MEMBLOCK Region: Adding Adjacent Region"

if PK_MEMBLOCK_MERGE_ADJACENT

config PK_MEMBLOCK_MERGE_ADJACENT_VERSION
	default "default"
	string "verstion"

config PK_MEMBLOCK_MERGE_ADJACENT_TAR
	default "tar.gz"
	string "tar type"

config PK_MEMBLOCK_MERGE_ADJACENT_URL
	default "https://gitee.com/BiscuitOS_team/HardStack/raw/Gitee/Memory-Allocator/MEMBLOCK/BiscuitOS-MEMBLOCK-MERGE-Adjacent"
	string "url"

config PK_MEMBLOCK_MERGE_ADJACENT_GITHUB
	string "GitHub"

config PK_MEMBLOCK_MERGE_ADJACENT_SRCFILE
	default "main.c Kconfig Makefile BiscuitOS_Insert.bs"
	string "Source code list"

config PK_MEMBLOCK_MERGE_ADJACENT_CSRCFILE
	string "Compile source code list"

config PK_MEMBLOCK_MERGE_ADJACENT_CONFIG
	string "CONFIG: Project Configure Options"

config PK_MEMBLOCK_MERGE_ADJACENT_LIBPATH
	string "LIBS: Libraries to pass to the linker, e.g. -l<library>"

config PK_MEMBLOCK_MERGE_ADJACENT_CPPFLAGS
	string "CPPFLAGS: C/C++ preprocessor flags, e.g. -I<include dir>"

config PK_MEMBLOCK_MERGE_ADJACENT_DPKCONFIG
	string "PKG_CONFIG_PATH: Directories to add to pkg-config's search path"

config PK_MEMBLOCK_MERGE_ADJACENT_CFLAGS
	string "CFLAGS: C compiler flags"

config PK_MEMBLOCK_MERGE_ADJACENT_LDFLAGS
	string "LDFLAGS: Linker flags"

config PK_MEMBLOCK_MERGE_ADJACENT_CXXFLAGS
	string "CXXFLAGS: C++ compiler flags"

config PK_MEMBLOCK_MERGE_ADJACENT_ASFLAGS
	string "CCASFLAGS: assembler compiler flags (defaults to CFLAGS)"

config PK_MEMBLOCK_MERGE_ADJACENT_BUILDARCH
	string "--host options on configure for Architecture"

endif # PK_MEMBLOCK_MERGE_ADJACENT
