menuconfig PK_LM75A_WDOG
	bool "LM75A: Theraml Watchdog"

if PK_LM75A_WDOG

config PK_LM75A_WDOG_VERSION
	default "0.0.1"
	string "verstion"

config PK_LM75A_WDOG_TAR
	default "tar.gz"
	string "tar type"

config PK_LM75A_WDOG_URL
	default "https://gitee.com/BiscuitOS_team/HardStack/raw/Gitee/Device-Driver/i2c/Device/LM75A/Thermal_Watchdog/userland"
	string "url"

config PK_LM75A_WDOG_GITHUB
	string "GitHub"

config PK_LM75A_WDOG_SRCFILE
	default "lm75a.c lm75a.sh Makefile"
	string "Source code list"

config PK_LM75A_WDOG_CSRCFILE
	string "Compile source code list"

config PK_LM75A_WDOG_CONFIG
	string "CONFIG: Project Configure Options"

config PK_LM75A_WDOG_LIBPATH
	string "LIBS: Libraries to pass to the linker, e.g. -l<library>"

config PK_LM75A_WDOG_CPPFLAGS
	string "CPPFLAGS: C/C++ preprocessor flags, e.g. -I<include dir>"

config PK_LM75A_WDOG_DPKCONFIG
	string "PKG_CONFIG_PATH: Directories to add to pkg-config's search path"

config PK_LM75A_WDOG_CFLAGS
	string "CFLAGS: C compiler flags"

config PK_LM75A_WDOG_LDFLAGS
	string "LDFLAGS: Linker flags"

config PK_LM75A_WDOG_CXXFLAGS
	string "CXXFLAGS: C++ compiler flags"

config PK_LM75A_WDOG_ASFLAGS
	string "CCASFLAGS: assembler compiler flags (defaults to CFLAGS)"

config PK_LM75A_WDOG_BUILDARCH
	string "--host options on configure for Architecture"

endif # PK_LM75A_WDOG
