menuconfig PK_NUMA
	bool "NUMA(Non-Uniform Memory Access)"

if PK_NUMA

# numactl and libnuma
source package/NUMA/numactl-libnuma/Kconfig

# POLICY: PREFERRED
source package/NUMA/BiscuitOS-NUMA-MPOL-PREFERRED/Kconfig

# POLICY: PREFERRED-MANY
source package/NUMA/BiscuitOS-NUMA-MPOL-PREFERRED-MANY/Kconfig

# POLICY: BIND
source package/NUMA/BiscuitOS-NUMA-MPOL-BIND/Kconfig

# POLICY: LOCAL
source package/NUMA/BiscuitOS-NUMA-MPOL-LOCAL/Kconfig

# POLICY: INTERLEAVE
source package/NUMA/BiscuitOS-NUMA-MPOL-INTERLEAVE/Kconfig

# POLICY: WEIGHTED INTERLEAVE
source package/NUMA/BiscuitOS-NUMA-MPOL-WEIGHTED-INTERLEAVE/Kconfig

endif # PK_NUMA
