menuconfig PK_XINERAMAPROTO
	bool "xineramaproto"

if PK_XINERAMAPROTO

config PK_XINERAMAPROTO_VERSION
	default "1.2.1"
	string "verstion"

config PK_XINERAMAPROTO_TAR
	default "tar.gz"
	string "tar type"

config PK_XINERAMAPROTO_URL
	default "https://www.x.org/releases/individual/proto/"
	string "url"

config PK_XINERAMAPROTO_GITHUB
	string "GitHub"

config PK_XINERAMAPROTO_SRCFILE
	string "Source code list"

config PK_XINERAMAPROTO_CONFIG
	default "--enable-silent-rules --disable-static"
	string "CONFIG: Project Configure Options"

config PK_XINERAMAPROTO_LIBPATH
	string "LIBS: Libraries to pass to the linker, e.g. -l<library>"

config PK_XINERAMAPROTO_CPPFLAGS
	string "CPPFLAGS: C/C++ preprocessor flags, e.g. -I<include dir>"

config PK_XINERAMAPROTO_DPKCONFIG
	string "PKG_CONFIG_PATH: Directories to add to pkg-config's search path"

config PK_XINERAMAPROTO_CFLAGS
	string "CFLAGS: C compiler flags"

config PK_XINERAMAPROTO_LDFLAGS
	string "LDFLAGS: Linker flags"

config PK_XINERAMAPROTO_CXXFLAGS
	string "CXXFLAGS: C++ compiler flags"

config PK_XINERAMAPROTO_ASFLAGS
	string "CCASFLAGS: assembler compiler flags (defaults to CFLAGS)"

config PK_XINERAMAPROTO_BUILDARCH
	default "x86_64-unknown-linux-gnu"
	string "--host options on configure for Architecture"

endif # PK_XINERAMAPROTO
