menuconfig PK_CRASH_VTOP_U_PID
	bool "Example: vtop translate user address with PID"

if PK_CRASH_VTOP_U_PID

config PK_CRASH_VTOP_U_PID_VERSION
	default "default"
	string "verstion"

config PK_CRASH_VTOP_U_PID_TAR
	default "tar.gz"
	string "tar type"

config PK_CRASH_VTOP_U_PID_URL
	default "https://gitee.com/BiscuitOS_team/HardStack/raw/Gitee/Tools/Crash/BiscuitOS-crash-vtop-pid-user-address"
	string "url"

config PK_CRASH_VTOP_U_PID_GITHUB
	string "GitHub"

config PK_CRASH_VTOP_U_PID_SRCFILE
	default "main.c Makefile"
	string "Source code list"

config PK_CRASH_VTOP_U_PID_CSRCFILE
	string "Compile source code list"

config PK_CRASH_VTOP_U_PID_CONFIG
	string "CONFIG: Project Configure Options"

config PK_CRASH_VTOP_U_PID_LIBPATH
	string "LIBS: Libraries to pass to the linker, e.g. -l<library>"

config PK_CRASH_VTOP_U_PID_CPPFLAGS
	string "CPPFLAGS: C/C++ preprocessor flags, e.g. -I<include dir>"

config PK_CRASH_VTOP_U_PID_DPKCONFIG
	string "PKG_CONFIG_PATH: Directories to add to pkg-config's search path"

config PK_CRASH_VTOP_U_PID_CFLAGS
	string "CFLAGS: C compiler flags"

config PK_CRASH_VTOP_U_PID_LDFLAGS
	string "LDFLAGS: Linker flags"

config PK_CRASH_VTOP_U_PID_CXXFLAGS
	string "CXXFLAGS: C++ compiler flags"

config PK_CRASH_VTOP_U_PID_ASFLAGS
	string "CCASFLAGS: assembler compiler flags (defaults to CFLAGS)"

config PK_CRASH_VTOP_U_PID_BUILDARCH
	string "--host options on configure for Architecture"

endif # PK_CRASH_VTOP_U_PID
