menuconfig PK_DMA
	bool "DMA: Coherent Memory Allocate"

if PK_DMA

# DMA DEVICE Memory To Userspace
source package/DMA/BiscuitOS-DMA-DEVICE-MMAP-TO-USERSPACE/Kconfig

# DMA DEVICE Memory On Userspace
source package/DMA/BiscuitOS-DMA-DEVICE-USE-ON-USERSPACE/Kconfig

# DMA Memory To Userspace
source package/DMA/BiscuitOS-DMA-MEMORY-MMAP-TO-USERSPACE/Kconfig

# DMA Memory On Userspace
source package/DMA/BiscuitOS-DMA-MEMORY-USE-ON-USERSPACE/Kconfig

# DMABUF
source package/DMA/BiscuitOS-DMA-DMABUF/Kconfig

# DMABUF with QEMU Device
source package/DMA/BiscuitOS-DMA-DMABUF-with-QEMU-Device/Kconfig

endif # PK_DMA
