menuconfig PK_PAGING_ATPR_ONDEMAND
	bool "ATPR(Apply to page range): OnDemand"

if PK_PAGING_ATPR_ONDEMAND

config PK_PAGING_ATPR_ONDEMAND_VERSION
	default "default"
	string "verstion"

config PK_PAGING_ATPR_ONDEMAND_TAR
	default "tar.gz"
	string "tar type"

config PK_PAGING_ATPR_ONDEMAND_URL
	default "https://gitee.com/BiscuitOS_team/HardStack/raw/Gitee/Memory-Allocator/PAGING-MECH/BiscuitOS-PAGING-ATPR-ONDEMAND"
	string "url"

config PK_PAGING_ATPR_ONDEMAND_GITHUB
	string "GitHub"

config PK_PAGING_ATPR_ONDEMAND_SRCFILE
	default "app.c Kconfig main.c Makefile Makefile.host RunBiscuitOS.sh"
	string "Source code list"

config PK_PAGING_ATPR_ONDEMAND_CSRCFILE
	string "Compile source code list"

config PK_PAGING_ATPR_ONDEMAND_CONFIG
	string "CONFIG: Project Configure Options"

config PK_PAGING_ATPR_ONDEMAND_LIBPATH
	string "LIBS: Libraries to pass to the linker, e.g. -l<library>"

config PK_PAGING_ATPR_ONDEMAND_CPPFLAGS
	string "CPPFLAGS: C/C++ preprocessor flags, e.g. -I<include dir>"

config PK_PAGING_ATPR_ONDEMAND_DPKCONFIG
	string "PKG_CONFIG_PATH: Directories to add to pkg-config's search path"

config PK_PAGING_ATPR_ONDEMAND_CFLAGS
	string "CFLAGS: C compiler flags"

config PK_PAGING_ATPR_ONDEMAND_LDFLAGS
	string "LDFLAGS: Linker flags"

config PK_PAGING_ATPR_ONDEMAND_CXXFLAGS
	string "CXXFLAGS: C++ compiler flags"

config PK_PAGING_ATPR_ONDEMAND_ASFLAGS
	string "CCASFLAGS: assembler compiler flags (defaults to CFLAGS)"

config PK_PAGING_ATPR_ONDEMAND_BUILDARCH
	string "--host options on configure for Architecture"

endif # PK_PAGING_ATPR_ONDEMAND
