menuconfig PK_NODES_SHIFT_RIGHT
	bool "nodes_shift_right"

if PK_NODES_SHIFT_RIGHT

config PK_NODES_SHIFT_RIGHT_VERSION
	default "default"
	string "verstion"

config PK_NODES_SHIFT_RIGHT_TAR
	default "tar.gz"
	string "tar type"

config PK_NODES_SHIFT_RIGHT_URL
	default "https://gitee.com/BiscuitOS_team/HardStack/raw/Gitee/Algorithem/nodemask/nodes_shift_right"
	string "url"

config PK_NODES_SHIFT_RIGHT_GITHUB
	string "GitHub"

config PK_NODES_SHIFT_RIGHT_SRCFILE
	default "main.c Kconfig Makefile"
	string "Source code list"

config PK_NODES_SHIFT_RIGHT_CSRCFILE
	string "Compile source code list"

config PK_NODES_SHIFT_RIGHT_CONFIG
	string "CONFIG: Project Configure Options"

config PK_NODES_SHIFT_RIGHT_LIBPATH
	string "LIBS: Libraries to pass to the linker, e.g. -l<library>"

config PK_NODES_SHIFT_RIGHT_CPPFLAGS
	string "CPPFLAGS: C/C++ preprocessor flags, e.g. -I<include dir>"

config PK_NODES_SHIFT_RIGHT_DPKCONFIG
	string "PKG_CONFIG_PATH: Directories to add to pkg-config's search path"

config PK_NODES_SHIFT_RIGHT_CFLAGS
	string "CFLAGS: C compiler flags"

config PK_NODES_SHIFT_RIGHT_LDFLAGS
	string "LDFLAGS: Linker flags"

config PK_NODES_SHIFT_RIGHT_CXXFLAGS
	string "CXXFLAGS: C++ compiler flags"

config PK_NODES_SHIFT_RIGHT_ASFLAGS
	string "CCASFLAGS: assembler compiler flags (defaults to CFLAGS)"

config PK_NODES_SHIFT_RIGHT_BUILDARCH
	string "--host options on configure for Architecture"

endif # PK_NODES_SHIFT_RIGHT
