menuconfig PK_BISCUITOS_KVM_TOOLS_2M
	bool "Native Linux KVM tool (2M Hugepage) on BiscuitOS+"

if PK_BISCUITOS_KVM_TOOLS_2M

config PK_BISCUITOS_KVM_TOOLS_2M_VERSION
	default "github"
	string "verstion"

config PK_BISCUITOS_KVM_TOOLS_2M_TAR
	default "tar.xz"
	string "tar type"

config PK_BISCUITOS_KVM_TOOLS_2M_URL
	default "https://download.qemu.org/"
	string "url"

config PK_BISCUITOS_KVM_TOOLS_2M_GITHUB
	default "https://github.com/kvmtool/kvmtool.git"
	string "github"

config PK_BISCUITOS_KVM_TOOLS_2M_SRCFILE
	string "Source code list"

config PK_BISCUITOS_KVM_TOOLS_2M_CONFIG
	default ""
	string "CONFIG: Project Configure Options"

config PK_BISCUITOS_KVM_TOOLS_2M_LIBPATH
	string "LIBS: Libraries to pass to the linker, e.g. -l<library>"

config PK_BISCUITOS_KVM_TOOLS_2M_CPPFLAGS
	string "CPPFLAGS: C/C++ preprocessor flags, e.g. -I<include dir>"

config PK_BISCUITOS_KVM_TOOLS_2M_DPKCONFIG
	string "PKG_CONFIG_PATH: Directories to add to pkg-config's search path"

config PK_BISCUITOS_KVM_TOOLS_2M_CFLAGS
	string "CFLAGS: C compiler flags"

config PK_BISCUITOS_KVM_TOOLS_2M_LDFLAGS
	default "-static"
	string "LDFLAGS: Linker flags"

config PK_BISCUITOS_KVM_TOOLS_2M_CXXFLAGS
	string "CXXFLAGS: C++ compiler flags"

config PK_BISCUITOS_KVM_TOOLS_2M_ASFLAGS
	string "CCASFLAGS: assembler compiler flags (defaults to CFLAGS)"

config PK_BISCUITOS_KVM_TOOLS_2M_BUILDARCH
	default "x86_64-unknown-linux-gnu"
	string "--host options on configure for Architecture"

endif # PK_BISCUITOS_KVM_TOOLS_2M
