menuconfig PK_MOTION_MEMORY_ZSWAP_ANON
	bool "ZSWAP ANONYMOUS MEMORY"

if PK_MOTION_MEMORY_ZSWAP_ANON

config PK_MOTION_MEMORY_ZSWAP_ANON_VERSION
	default "default"
	string "verstion"

config PK_MOTION_MEMORY_ZSWAP_ANON_TAR
	default "tar.gz"
	string "tar type"

config PK_MOTION_MEMORY_ZSWAP_ANON_URL
	default "https://gitee.com/BiscuitOS_team/HardStack/raw/Gitee/MOTION/MEMORY/BiscuitOS-MOTION-MEMORY-ZSWAP-ANON"
	string "url"

config PK_MOTION_MEMORY_ZSWAP_ANON_GITHUB
	string "GitHub"

config PK_MOTION_MEMORY_ZSWAP_ANON_SRCFILE
	default "main.c Makefile RunBiscuitOS.sh"
	string "Source code list"

config PK_MOTION_MEMORY_ZSWAP_ANON_CSRCFILE
	string "Compile source code list"

config PK_MOTION_MEMORY_ZSWAP_ANON_CONFIG
	string "CONFIG: Project Configure Options"

config PK_MOTION_MEMORY_ZSWAP_ANON_LIBPATH
	string "LIBS: Libraries to pass to the linker, e.g. -l<library>"

config PK_MOTION_MEMORY_ZSWAP_ANON_CPPFLAGS
	string "CPPFLAGS: C/C++ preprocessor flags, e.g. -I<include dir>"

config PK_MOTION_MEMORY_ZSWAP_ANON_DPKCONFIG
	string "PKG_CONFIG_PATH: Directories to add to pkg-config's search path"

config PK_MOTION_MEMORY_ZSWAP_ANON_CFLAGS
	string "CFLAGS: C compiler flags"

config PK_MOTION_MEMORY_ZSWAP_ANON_LDFLAGS
	string "LDFLAGS: Linker flags"

config PK_MOTION_MEMORY_ZSWAP_ANON_CXXFLAGS
	string "CXXFLAGS: C++ compiler flags"

config PK_MOTION_MEMORY_ZSWAP_ANON_ASFLAGS
	string "CCASFLAGS: assembler compiler flags (defaults to CFLAGS)"

config PK_MOTION_MEMORY_ZSWAP_ANON_BUILDARCH
	string "--host options on configure for Architecture"

endif # PK_MOTION_MEMORY_ZSWAP_ANON
