menuconfig PK_GAME_TETRIS
	select PK_GNU_NCURSES
	bool "Game  tetris"

if PK_GAME_TETRIS

config GAME_TETRIS_VERSION
	default "0.11"
	string "verstion"

config GAME_TETRIS_TAR
	string "tar type"

config GAME_TETRIS_URL
	default "https://raw.githubusercontent.com/BiscuitOS/HardStack/master/GAME/tetris/"
	string "url"

config GAME_TETRIS_SRC
	default "tetris.c README.md Makefile keys.h settings.h"
	string "source code list"

config GAME_TETRIS_LDFLAGS
	default "-lncurses"
	string "LDFLAGS"

config GAME_TETRIS_CFLAGS
	default "-Wall -pedantic -g"
	string "CFLAGS"

config GAME_TETRIS_CONFIG
	string "configure"

endif # PK_GAME_TETRIS
