menuconfig PK_PAGING_PAGEWALK_LINEAR
	bool "PageWalk with Linear Mapping"

if PK_PAGING_PAGEWALK_LINEAR

config PK_PAGING_PAGEWALK_LINEAR_VERSION
	default "default"
	string "verstion"

config PK_PAGING_PAGEWALK_LINEAR_TAR
	default "tar.gz"
	string "tar type"

config PK_PAGING_PAGEWALK_LINEAR_URL
	default "https://gitee.com/BiscuitOS_team/HardStack/raw/Gitee/Memory-Allocator/PAGING-MECH/BiscuitOS-PAGING-PageWalk-Linear"
	string "url"

config PK_PAGING_PAGEWALK_LINEAR_GITHUB
	string "GitHub"

config PK_PAGING_PAGEWALK_LINEAR_SRCFILE
	default "main.c Makefile Kconfig"
	string "Source code list"

config PK_PAGING_PAGEWALK_LINEAR_CSRCFILE
	string "Compile source code list"

config PK_PAGING_PAGEWALK_LINEAR_CONFIG
	string "CONFIG: Project Configure Options"

config PK_PAGING_PAGEWALK_LINEAR_LIBPATH
	string "LIBS: Libraries to pass to the linker, e.g. -l<library>"

config PK_PAGING_PAGEWALK_LINEAR_CPPFLAGS
	string "CPPFLAGS: C/C++ preprocessor flags, e.g. -I<include dir>"

config PK_PAGING_PAGEWALK_LINEAR_DPKCONFIG
	string "PKG_CONFIG_PATH: Directories to add to pkg-config's search path"

config PK_PAGING_PAGEWALK_LINEAR_CFLAGS
	string "CFLAGS: C compiler flags"

config PK_PAGING_PAGEWALK_LINEAR_LDFLAGS
	string "LDFLAGS: Linker flags"

config PK_PAGING_PAGEWALK_LINEAR_CXXFLAGS
	string "CXXFLAGS: C++ compiler flags"

config PK_PAGING_PAGEWALK_LINEAR_ASFLAGS
	string "CCASFLAGS: assembler compiler flags (defaults to CFLAGS)"

config PK_PAGING_PAGEWALK_LINEAR_BUILDARCH
	string "--host options on configure for Architecture"

endif # PK_PAGING_PAGEWALK_LINEAR
