#
# For a description of the syntax of this configuration file,
#
mainmenu "buildroot for BiscuitOS Configuration"

source target/kernel/Kconfig

source package/Kconfig

source fs/Kconfig

source target/Host/Kconfig
