menuconfig PK_BUDDY_2_6_13
	bool "buddy on linux 2.6.13"

if PK_BUDDY_2_6_13

config PK_BUDDY_2_6_13_VERSION
	default "2.6.13"
	string "verstion"

config PK_BUDDY_2_6_13_TAR
	default "tar.gz"
	string "tar type"

config PK_BUDDY_2_6_13_URL
	default "https://gitee.com/BiscuitOS_team/HardStack/raw/Gitee/Memory-Allocator/History/mm/mm_bs"
	string "url"

config PK_BUDDY_2_6_13_GITHUB
	string "GitHub"
	default "https://gitee.com/BiscuitOS_team/BiscuitOS_Memory.git"

config PK_BUDDY_2_6_13_SRCFILE
	default "README.md"
	string "Source code list"

config PK_BUDDY_2_6_13_CSRCFILE
	string "Compile source code list"

config PK_BUDDY_2_6_13_CONFIG
	string "CONFIG: Project Configure Options"

config PK_BUDDY_2_6_13_LIBPATH
	string "LIBS: Libraries to pass to the linker, e.g. -l<library>"

config PK_BUDDY_2_6_13_CPPFLAGS
	string "CPPFLAGS: C/C++ preprocessor flags, e.g. -I<include dir>"

config PK_BUDDY_2_6_13_DPKCONFIG
	string "PKG_CONFIG_PATH: Directories to add to pkg-config's search path"

config PK_BUDDY_2_6_13_CFLAGS
	string "CFLAGS: C compiler flags"

config PK_BUDDY_2_6_13_LDFLAGS
	string "LDFLAGS: Linker flags"

config PK_BUDDY_2_6_13_CXXFLAGS
	string "CXXFLAGS: C++ compiler flags"

config PK_BUDDY_2_6_13_ASFLAGS
	string "CCASFLAGS: assembler compiler flags (defaults to CFLAGS)"

config PK_BUDDY_2_6_13_BUILDARCH
	string "--host options on configure for Architecture"

endif # PK_BUDDY_2_6_13
