menuconfig PK_MEMMAP_TRIGGER_OOM
	bool "Trigger OOM"

if PK_MEMMAP_TRIGGER_OOM

config PK_MEMMAP_TRIGGER_OOM_VERSION
	default "default"
	string "verstion"

config PK_MEMMAP_TRIGGER_OOM_TAR
	default "tar.gz"
	string "tar type"

config PK_MEMMAP_TRIGGER_OOM_URL
	default "https://gitee.com/BiscuitOS_team/HardStack/raw/Gitee/Memory-Allocator/MEMORY-MAPPING/BiscuitOS-MEMMAP-TRIGGER-OOM"
	string "url"

config PK_MEMMAP_TRIGGER_OOM_GITHUB
	string "GitHub"

config PK_MEMMAP_TRIGGER_OOM_SRCFILE
	default "main.c Makefile RunBiscuitOS.sh"
	string "Source code list"

config PK_MEMMAP_TRIGGER_OOM_CSRCFILE
	string "Compile source code list"

config PK_MEMMAP_TRIGGER_OOM_CONFIG
	string "CONFIG: Project Configure Options"

config PK_MEMMAP_TRIGGER_OOM_LIBPATH
	string "LIBS: Libraries to pass to the linker, e.g. -l<library>"

config PK_MEMMAP_TRIGGER_OOM_CPPFLAGS
	string "CPPFLAGS: C/C++ preprocessor flags, e.g. -I<include dir>"

config PK_MEMMAP_TRIGGER_OOM_DPKCONFIG
	string "PKG_CONFIG_PATH: Directories to add to pkg-config's search path"

config PK_MEMMAP_TRIGGER_OOM_CFLAGS
	string "CFLAGS: C compiler flags"

config PK_MEMMAP_TRIGGER_OOM_LDFLAGS
	string "LDFLAGS: Linker flags"

config PK_MEMMAP_TRIGGER_OOM_CXXFLAGS
	string "CXXFLAGS: C++ compiler flags"

config PK_MEMMAP_TRIGGER_OOM_ASFLAGS
	string "CCASFLAGS: assembler compiler flags (defaults to CFLAGS)"

config PK_MEMMAP_TRIGGER_OOM_BUILDARCH
	string "--host options on configure for Architecture"

endif # PK_MEMMAP_TRIGGER_OOM
