menuconfig PK_LIBHUGETLBFS_USAGE
	select PK_LIBHUGETLBFS
	bool "libhugetlbfs: The Application for libhugetlbfs"

if PK_LIBHUGETLBFS_USAGE

config PK_LIBHUGETLBFS_USAGE_VERSION
	default "default"
	string "verstion"

config PK_LIBHUGETLBFS_USAGE_TAR
	default "tar.gz"
	string "tar type"

config PK_LIBHUGETLBFS_USAGE_URL
	default "https://gitee.com/BiscuitOS_team/HardStack/raw/Gitee/Memory-Allocator/Hugetlb/BiscuitOS-libhugetlbfs-usage-default"
	string "url"

config PK_LIBHUGETLBFS_USAGE_GITHUB
	string "GitHub"

config PK_LIBHUGETLBFS_USAGE_SRCFILE
	default "main.c Makefile RunBiscuitOS.sh"
	string "Source code list"

config PK_LIBHUGETLBFS_USAGE_CSRCFILE
	string "Compile source code list"

config PK_LIBHUGETLBFS_USAGE_CONFIG
	string "CONFIG: Project Configure Options"

config PK_LIBHUGETLBFS_USAGE_LIBPATH
	string "LIBS: Libraries to pass to the linker, e.g. -l<library>"

config PK_LIBHUGETLBFS_USAGE_CPPFLAGS
	string "CPPFLAGS: C/C++ preprocessor flags, e.g. -I<include dir>"

config PK_LIBHUGETLBFS_USAGE_DPKCONFIG
	string "PKG_CONFIG_PATH: Directories to add to pkg-config's search path"

config PK_LIBHUGETLBFS_USAGE_CFLAGS
	string "CFLAGS: C compiler flags"

config PK_LIBHUGETLBFS_USAGE_LDFLAGS
	string "LDFLAGS: Linker flags"

config PK_LIBHUGETLBFS_USAGE_CXXFLAGS
	string "CXXFLAGS: C++ compiler flags"

config PK_LIBHUGETLBFS_USAGE_ASFLAGS
	string "CCASFLAGS: assembler compiler flags (defaults to CFLAGS)"

config PK_LIBHUGETLBFS_USAGE_BUILDARCH
	string "--host options on configure for Architecture"

endif # PK_LIBHUGETLBFS_USAGE
