menuconfig PK_PAGING_PF_SHMEM_MEMFD
	bool "Page Fault with SHMEM Memory on MEMFD"

if PK_PAGING_PF_SHMEM_MEMFD

config PK_PAGING_PF_SHMEM_MEMFD_VERSION
	default "default"
	string "verstion"

config PK_PAGING_PF_SHMEM_MEMFD_TAR
	default "tar.gz"
	string "tar type"

config PK_PAGING_PF_SHMEM_MEMFD_URL
	default "https://gitee.com/BiscuitOS_team/HardStack/raw/Gitee/Memory-Allocator/PAGING-MECH/BiscuitOS-PAGING-PF-SHMEM-MEMFD"
	string "url"

config PK_PAGING_PF_SHMEM_MEMFD_GITHUB
	string "GitHub"

config PK_PAGING_PF_SHMEM_MEMFD_SRCFILE
	default "main.c Makefile RunBiscuitOS.sh"
	string "Source code list"

config PK_PAGING_PF_SHMEM_MEMFD_CSRCFILE
	string "Compile source code list"

config PK_PAGING_PF_SHMEM_MEMFD_CONFIG
	string "CONFIG: Project Configure Options"

config PK_PAGING_PF_SHMEM_MEMFD_LIBPATH
	string "LIBS: Libraries to pass to the linker, e.g. -l<library>"

config PK_PAGING_PF_SHMEM_MEMFD_CPPFLAGS
	string "CPPFLAGS: C/C++ preprocessor flags, e.g. -I<include dir>"

config PK_PAGING_PF_SHMEM_MEMFD_DPKCONFIG
	string "PKG_CONFIG_PATH: Directories to add to pkg-config's search path"

config PK_PAGING_PF_SHMEM_MEMFD_CFLAGS
	string "CFLAGS: C compiler flags"

config PK_PAGING_PF_SHMEM_MEMFD_LDFLAGS
	string "LDFLAGS: Linker flags"

config PK_PAGING_PF_SHMEM_MEMFD_CXXFLAGS
	string "CXXFLAGS: C++ compiler flags"

config PK_PAGING_PF_SHMEM_MEMFD_ASFLAGS
	string "CCASFLAGS: assembler compiler flags (defaults to CFLAGS)"

config PK_PAGING_PF_SHMEM_MEMFD_BUILDARCH
	string "--host options on configure for Architecture"

endif # PK_PAGING_PF_SHMEM_MEMFD
