menuconfig PK_PAGING_PT_K2PT_PAGE_KERNEL_IO
	bool "Kernel with PageTable: PAGE_KERNEL_IO"

if PK_PAGING_PT_K2PT_PAGE_KERNEL_IO

config PK_PAGING_PT_K2PT_PAGE_KERNEL_IO_VERSION
	default "default"
	string "verstion"

config PK_PAGING_PT_K2PT_PAGE_KERNEL_IO_TAR
	default "tar.gz"
	string "tar type"

config PK_PAGING_PT_K2PT_PAGE_KERNEL_IO_URL
	default "https://gitee.com/BiscuitOS_team/HardStack/raw/Gitee/Memory-Allocator/PAGING-MECH/BiscuitOS-PAGING-PT-K2PT-PAGE-KERNEL-IO"
	string "url"

config PK_PAGING_PT_K2PT_PAGE_KERNEL_IO_GITHUB
	string "GitHub"

config PK_PAGING_PT_K2PT_PAGE_KERNEL_IO_SRCFILE
	default "main.c Makefile RunBiscuitOS.sh Kconfig Makefile.host"
	string "Source code list"

config PK_PAGING_PT_K2PT_PAGE_KERNEL_IO_CSRCFILE
	string "Compile source code list"

config PK_PAGING_PT_K2PT_PAGE_KERNEL_IO_CONFIG
	string "CONFIG: Project Configure Options"

config PK_PAGING_PT_K2PT_PAGE_KERNEL_IO_LIBPATH
	string "LIBS: Libraries to pass to the linker, e.g. -l<library>"

config PK_PAGING_PT_K2PT_PAGE_KERNEL_IO_CPPFLAGS
	string "CPPFLAGS: C/C++ preprocessor flags, e.g. -I<include dir>"

config PK_PAGING_PT_K2PT_PAGE_KERNEL_IO_DPKCONFIG
	string "PKG_CONFIG_PATH: Directories to add to pkg-config's search path"

config PK_PAGING_PT_K2PT_PAGE_KERNEL_IO_CFLAGS
	string "CFLAGS: C compiler flags"

config PK_PAGING_PT_K2PT_PAGE_KERNEL_IO_LDFLAGS
	string "LDFLAGS: Linker flags"

config PK_PAGING_PT_K2PT_PAGE_KERNEL_IO_CXXFLAGS
	string "CXXFLAGS: C++ compiler flags"

config PK_PAGING_PT_K2PT_PAGE_KERNEL_IO_ASFLAGS
	string "CCASFLAGS: assembler compiler flags (defaults to CFLAGS)"

config PK_PAGING_PT_K2PT_PAGE_KERNEL_IO_BUILDARCH
	string "--host options on configure for Architecture"

endif # PK_PAGING_PT_K2PT_PAGE_KERNEL_IO
