menuconfig PK_NAME_USERSPACE
	bool "Name Allocator on Userspace"

if PK_NAME_USERSPACE

config PK_NAME_USERSPACE_VERSION
	default "0.0.1"
	string "verstion"

config PK_NAME_USERSPACE_TAR
	default "tar.gz"
	string "tar type"

config PK_NAME_USERSPACE_URL
	default "https://gitee.com/BiscuitOS_team/HardStack/raw/Gitee/Memory-Allocator/slab/name_userspace"
	string "url"

config PK_NAME_USERSPACE_GITHUB
	string "GitHub"

config PK_NAME_USERSPACE_SRCFILE
	default "main.c include/linux/buddy.h include/linux/list.h include/linux/bitmap.h include/linux/getorder.h include/linux/biscuitos.h mm/kasprintf.c README.md include/linux/gfp.h include/linux/slub.h mm/buddy.c Makefile mm/slub.c"
	string "Source code list"

config PK_NAME_USERSPACE_CSRCFILE
	string "Compile source code list"

config PK_NAME_USERSPACE_CONFIG
	string "CONFIG: Project Configure Options"

config PK_NAME_USERSPACE_LIBPATH
	string "LIBS: Libraries to pass to the linker, e.g. -l<library>"

config PK_NAME_USERSPACE_CPPFLAGS
	string "CPPFLAGS: C/C++ preprocessor flags, e.g. -I<include dir>"

config PK_NAME_USERSPACE_DPKCONFIG
	string "PKG_CONFIG_PATH: Directories to add to pkg-config's search path"

config PK_NAME_USERSPACE_CFLAGS
	string "CFLAGS: C compiler flags"

config PK_NAME_USERSPACE_LDFLAGS
	string "LDFLAGS: Linker flags"

config PK_NAME_USERSPACE_CXXFLAGS
	string "CXXFLAGS: C++ compiler flags"

config PK_NAME_USERSPACE_ASFLAGS
	string "CCASFLAGS: assembler compiler flags (defaults to CFLAGS)"

config PK_NAME_USERSPACE_BUILDARCH
	string "--host options on configure for Architecture"

endif # PK_NAME_USERSPACE
