menuconfig PK_XORG
	select PK_EXPAT
	select PK_ZLIB
	select PK_LIBPNG
	select PK_OPENSSL
	select PK_XF86DRIPROTO
	select PK_XCMISCPROTO
	select PK_BIGREQSPROTO
	select PK_FONTSPROTO
	bool "Xorg-server"

if PK_XORG

config XORG_VERSION
	default "1.9.5"
	string "verstion"

config XORG_TAR
	default "tar.bz2"
	string "tar type"

config XORG_URL
	default "http://repository.timesys.com/buildsources/x/xorg-server/xorg-server-1.9.5/"
	string "url"

config XORG_SRC
	string "source code list"

config XORG_LDFLAGS
	string "LDFLAGS"

config XORG_CFLAGS
	string "CFLAGS"

config XORG_CONFIG
	string "configure"

endif # PK_XORG
