menuconfig PK_LIBELF
	bool "libelf"

if PK_LIBELF

config PK_LIBELF_VERSION
	default "0.8.13"
	string "verstion"

config PK_LIBELF_TAR
	default "tar.gz"
	string "tar type"

config PK_LIBELF_URL
	default "http://repository.timesys.com/buildsources/l/libelf/libelf-0.8.13/"
	string "url"

config PK_LIBELF_GITHUB
	string "GitHub"

config PK_LIBELF_SRCFILE
	string "Source code list"

config PK_LIBELF_CONFIG
	string "CONFIG: Project Configure Options"

config PK_LIBELF_LIBPATH
	string "LIBS: Libraries to pass to the linker, e.g. -l<library>"

config PK_LIBELF_CPPFLAGS
	string "CPPFLAGS: C/C++ preprocessor flags, e.g. -I<include dir>"

config PK_LIBELF_DPKCONFIG
	string "PKG_CONFIG_PATH: Directories to add to pkg-config's search path"

config PK_LIBELF_CFLAGS
	string "CFLAGS: C compiler flags"

config PK_LIBELF_LDFLAGS
	string "LDFLAGS: Linker flags"

config PK_LIBELF_CXXFLAGS
	string "CXXFLAGS: C++ compiler flags"

config PK_LIBELF_ASFLAGS
	string "CCASFLAGS: assembler compiler flags (defaults to CFLAGS)"

config PK_LIBELF_BUILDARCH
	default "x86_64-unknown-linux-gnu"
	string "--host options on configure for Architecture"

endif # PK_LIBELF
