menuconfig PK_ALGO_TREE23
	bool "Algo  2-3-tree"

if PK_ALGO_TREE23

config ALGO_TREE23_VERSION
	default "0.11"
	string "verstion"

config ALGO_TREE23_TAR
	string "tar type"

config ALGO_TREE23_URL
	default "https://raw.githubusercontent.com/BiscuitOS/HardStack/master/Algorithem/tree/2-3-tree/Basic"
	string "url"

config ALGO_TREE23_LDFLAGS
	string "LDFLAGS"

config ALGO_TREE23_CFLAGS
	string "CFLAGS"

config ALGO_TREE23_CONFIG
	string "configure"

config ALGO_TREE23_SRC
	default "Makefile README.md tree23.h tree23.c tree23_perform.c tree23_run.c"
	string "source code list"

config ALGO_TREE23_CSRC
	default "tree23.c tree23_run.c"
	string "Compile source code list"

endif # PK_ALGO_TREE23
