menuconfig PK_SYS_SYSCALL_DEFINE4
	bool "SYSCALL_DEFINE4(): Four Paramenter"

if PK_SYS_SYSCALL_DEFINE4

config PK_SYS_SYSCALL_DEFINE4_VERSION
	default "0.0.1"
	string "verstion"

config PK_SYS_SYSCALL_DEFINE4_TAR
	default "tar.gz"
	string "tar type"

config PK_SYS_SYSCALL_DEFINE4_URL
	default "https://gitee.com/BiscuitOS_team/HardStack/raw/Gitee/SystemCall/sys_hello_BiscuitOS/SYSCALL_DEFINE4_common"
	string "url"

config PK_SYS_SYSCALL_DEFINE4_GITHUB
	string "GitHub"

config PK_SYS_SYSCALL_DEFINE4_SRCFILE
	default "main.c Makefile BiscuitOS_syscall.c"
	string "Source code list"

config PK_SYS_SYSCALL_DEFINE4_CSRCFILE
	string "Compile source code list"

config PK_SYS_SYSCALL_DEFINE4_CONFIG
	string "CONFIG: Project Configure Options"

config PK_SYS_SYSCALL_DEFINE4_LIBPATH
	string "LIBS: Libraries to pass to the linker, e.g. -l<library>"

config PK_SYS_SYSCALL_DEFINE4_CPPFLAGS
	string "CPPFLAGS: C/C++ preprocessor flags, e.g. -I<include dir>"

config PK_SYS_SYSCALL_DEFINE4_DPKCONFIG
	string "PKG_CONFIG_PATH: Directories to add to pkg-config's search path"

config PK_SYS_SYSCALL_DEFINE4_CFLAGS
	string "CFLAGS: C compiler flags"

config PK_SYS_SYSCALL_DEFINE4_LDFLAGS
	string "LDFLAGS: Linker flags"

config PK_SYS_SYSCALL_DEFINE4_CXXFLAGS
	string "CXXFLAGS: C++ compiler flags"

config PK_SYS_SYSCALL_DEFINE4_ASFLAGS
	string "CCASFLAGS: assembler compiler flags (defaults to CFLAGS)"

config PK_SYS_SYSCALL_DEFINE4_BUILDARCH
	string "--host options on configure for Architecture"

endif # PK_SYS_SYSCALL_DEFINE4
