menuconfig PK_MMAP_ODALLOC
	bool "On-Demand Alloc: Memory from OSMEM"

if PK_MMAP_ODALLOC

config PK_MMAP_ODALLOC_VERSION
	default "default"
	string "verstion"

config PK_MMAP_ODALLOC_TAR
	default "tar.gz"
	string "tar type"

config PK_MMAP_ODALLOC_URL
	default "https://gitee.com/BiscuitOS_team/HardStack/raw/Gitee/Memory-Allocator/MMAP/BiscuitOS-MMAP-OnDemand-Alloc"
	string "url"

config PK_MMAP_ODALLOC_GITHUB
	string "GitHub"

config PK_MMAP_ODALLOC_SRCFILE
	default "app.c main.c Kconfig Makefile Makefile.host RunBiscuitOS.sh"
	string "Source code list"

config PK_MMAP_ODALLOC_CSRCFILE
	string "Compile source code list"

config PK_MMAP_ODALLOC_CONFIG
	string "CONFIG: Project Configure Options"

config PK_MMAP_ODALLOC_LIBPATH
	string "LIBS: Libraries to pass to the linker, e.g. -l<library>"

config PK_MMAP_ODALLOC_CPPFLAGS
	string "CPPFLAGS: C/C++ preprocessor flags, e.g. -I<include dir>"

config PK_MMAP_ODALLOC_DPKCONFIG
	string "PKG_CONFIG_PATH: Directories to add to pkg-config's search path"

config PK_MMAP_ODALLOC_CFLAGS
	string "CFLAGS: C compiler flags"

config PK_MMAP_ODALLOC_LDFLAGS
	string "LDFLAGS: Linker flags"

config PK_MMAP_ODALLOC_CXXFLAGS
	string "CXXFLAGS: C++ compiler flags"

config PK_MMAP_ODALLOC_ASFLAGS
	string "CCASFLAGS: assembler compiler flags (defaults to CFLAGS)"

config PK_MMAP_ODALLOC_BUILDARCH
	string "--host options on configure for Architecture"

endif # PK_MMAP_ODALLOC
