menuconfig PK_MEMBLOCK_MEMBLOCK_IS_REGION_RESERVED
	bool "MEMBLOCK API: memblock_is_region_reserved()"

if PK_MEMBLOCK_MEMBLOCK_IS_REGION_RESERVED

config PK_MEMBLOCK_MEMBLOCK_IS_REGION_RESERVED_VERSION
	default "default"
	string "verstion"

config PK_MEMBLOCK_MEMBLOCK_IS_REGION_RESERVED_TAR
	default "tar.gz"
	string "tar type"

config PK_MEMBLOCK_MEMBLOCK_IS_REGION_RESERVED_URL
	default "https://gitee.com/BiscuitOS_team/HardStack/raw/Gitee/Memory-Allocator/MEMBLOCK/BiscuitOS-MEMBLOCK-memblock_is_region_reserved"
	string "url"

config PK_MEMBLOCK_MEMBLOCK_IS_REGION_RESERVED_GITHUB
	string "GitHub"

config PK_MEMBLOCK_MEMBLOCK_IS_REGION_RESERVED_SRCFILE
	default "main.c Kconfig Makefile BiscuitOS_Insert.bs"
	string "Source code list"

config PK_MEMBLOCK_MEMBLOCK_IS_REGION_RESERVED_CSRCFILE
	string "Compile source code list"

config PK_MEMBLOCK_MEMBLOCK_IS_REGION_RESERVED_CONFIG
	string "CONFIG: Project Configure Options"

config PK_MEMBLOCK_MEMBLOCK_IS_REGION_RESERVED_LIBPATH
	string "LIBS: Libraries to pass to the linker, e.g. -l<library>"

config PK_MEMBLOCK_MEMBLOCK_IS_REGION_RESERVED_CPPFLAGS
	string "CPPFLAGS: C/C++ preprocessor flags, e.g. -I<include dir>"

config PK_MEMBLOCK_MEMBLOCK_IS_REGION_RESERVED_DPKCONFIG
	string "PKG_CONFIG_PATH: Directories to add to pkg-config's search path"

config PK_MEMBLOCK_MEMBLOCK_IS_REGION_RESERVED_CFLAGS
	string "CFLAGS: C compiler flags"

config PK_MEMBLOCK_MEMBLOCK_IS_REGION_RESERVED_LDFLAGS
	string "LDFLAGS: Linker flags"

config PK_MEMBLOCK_MEMBLOCK_IS_REGION_RESERVED_CXXFLAGS
	string "CXXFLAGS: C++ compiler flags"

config PK_MEMBLOCK_MEMBLOCK_IS_REGION_RESERVED_ASFLAGS
	string "CCASFLAGS: assembler compiler flags (defaults to CFLAGS)"

config PK_MEMBLOCK_MEMBLOCK_IS_REGION_RESERVED_BUILDARCH
	string "--host options on configure for Architecture"

endif # PK_MEMBLOCK_MEMBLOCK_IS_REGION_RESERVED
