menuconfig PK_MOTION_MEMORY
	bool "Linux Dream Motion: MEMORY FOUDATION"

if PK_MOTION_MEMORY

# BUDDY
source package/MOTION-MEMORY/BiscuitOS-MOTION-MEMORY-BUDDY/Kconfig

# PCP
source package/MOTION-MEMORY/BiscuitOS-MOTION-MEMORY-PCP/Kconfig

# VMALLOC
source package/MOTION-MEMORY/BiscuitOS-MOTION-MEMORY-VMALLOC/Kconfig

# SLAB
source package/MOTION-MEMORY/BiscuitOS-MOTION-MEMORY-SLAB/Kconfig

# SLAB: GENERAL CACHE
source package/MOTION-MEMORY/BiscuitOS-MOTION-MEMORY-SLAB-GENERAL/Kconfig

# DMA
source package/MOTION-MEMORY/BiscuitOS-MOTION-MEMORY-DMA/Kconfig

# CMA
source package/MOTION-MEMORY/BiscuitOS-MOTION-MEMORY-CMA/Kconfig

# TEMPORARY: MMIO
source package/MOTION-MEMORY/BiscuitOS-MOTION-MEMORY-TEMPORARY-MMIO/Kconfig

# TEMPORARY: RSVDMEM
source package/MOTION-MEMORY/BiscuitOS-MOTION-MEMORY-TEMPORARY-RSVDMEM/Kconfig

# TEMPORARY: OSMEM
source package/MOTION-MEMORY/BiscuitOS-MOTION-MEMORY-TEMPORARY-OSMEM/Kconfig

# FIXEDMAP
source package/MOTION-MEMORY/BiscuitOS-MOTION-MEMORY-FIXEDMAP/Kconfig

# SWAP ANONYMOUS
source package/MOTION-MEMORY/BiscuitOS-MOTION-MEMORY-SWAP-ANON/Kconfig

# SWAP SHARED
source package/MOTION-MEMORY/BiscuitOS-MOTION-MEMORY-SWAP-SHARED/Kconfig

# ZSWAP ANONYMOUS
source package/MOTION-MEMORY/BiscuitOS-MOTION-MEMORY-ZSWAP-ANON/Kconfig

# ZSWAP SHARED
source package/MOTION-MEMORY/BiscuitOS-MOTION-MEMORY-ZSWAP-SHARED/Kconfig

# COW
source package/MOTION-MEMORY/BiscuitOS-MOTION-MEMORY-COW/Kconfig

# ANONYMOUS MEMORY
source package/MOTION-MEMORY/BiscuitOS-MOTION-MEMORY-ANONYMOUS-MEMORY/Kconfig

# SHARED MEMORY
source package/MOTION-MEMORY/BiscuitOS-MOTION-MEMORY-SHARED-MEMORY/Kconfig

# FILEMAPPED MEMORY
source package/MOTION-MEMORY/BiscuitOS-MOTION-MEMORY-FILEMAPPED-MEMORY/Kconfig

# PFNMAPPED MEMORY
source package/MOTION-MEMORY/BiscuitOS-MOTION-MEMORY-PFNMAPPED-MEMORY/Kconfig

# PREALLOC
source package/MOTION-MEMORY/BiscuitOS-MOTION-MEMORY-PREALLOC/Kconfig

# LAZYALLOC
source package/MOTION-MEMORY/BiscuitOS-MOTION-MEMORY-LAZYALLOC/Kconfig

# ONDEMAND
source package/MOTION-MEMORY/BiscuitOS-MOTION-MEMORY-ONDEMAND/Kconfig

# USERSPACE
source package/MOTION-MEMORY/BiscuitOS-MOTION-MEMORY-USERSPACE/Kconfig

# USER PROCESS
source package/MOTION-MEMORY/BiscuitOS-MOTION-MEMORY-USER/Kconfig

# ZONE
source package/MOTION-MEMORY/BiscuitOS-MOTION-MEMORY-ZONE/Kconfig

# RECLAIM: ANONYMOUS PAGE
source package/MOTION-MEMORY/BiscuitOS-MOTION-MEMORY-RECLAIM-ANONYMOUS/Kconfig

# RECLAIM: SHARED MEMORY
source package/MOTION-MEMORY/BiscuitOS-MOTION-MEMORY-RECLAIM-SHARED/Kconfig

# THP
source package/MOTION-MEMORY/BiscuitOS-MOTION-MEMORY-THP/Kconfig

# HUGETLB
source package/MOTION-MEMORY/BiscuitOS-MOTION-MEMORY-HUGETLB/Kconfig

# RMAP: ANONYMOUS MEMORY
source package/MOTION-MEMORY/BiscuitOS-MOTION-MEMORY-RMAP-ANONYMOUS/Kconfig

# RMAP: SHARED/FILEMAPPED MEMORY
source package/MOTION-MEMORY/BiscuitOS-MOTION-MEMORY-RMAP-SHARED/Kconfig

# OOM: USERSPACE
source package/MOTION-MEMORY/BiscuitOS-MOTION-MEMORY-OOM-USERSPACE/Kconfig

# OOM: KERNEL
source package/MOTION-MEMORY/BiscuitOS-MOTION-MEMORY-OOM-KERNEL/Kconfig

# ALLOCATOR: USERSPACE
source package/MOTION-MEMORY/BiscuitOS-MOTION-MEMORY-ALLOCATOR-USERSPACE/Kconfig

# ALLOCATOR: USERSPACE DEMO
source package/MOTION-MEMORY/BiscuitOS-MOTION-MEMORY-ALLOCATOR-UDEMO/Kconfig

# ALLOCATOR: KERNEL
source package/MOTION-MEMORY/BiscuitOS-MOTION-MEMORY-ALLOCATOR-KERNEL/Kconfig

# ALLOCATOR: KERNEL DEMO
source package/MOTION-MEMORY/BiscuitOS-MOTION-MEMORY-ALLOCATOR-KDEMO/Kconfig

# CRASH
source package/MOTION-MEMORY/BiscuitOS-MOTION-MEMORY-CRASH/Kconfig

# ASAN
source package/MOTION-MEMORY/BiscuitOS-MOTION-MEMORY-ASAN/Kconfig

# GDB CORE
source package/MOTION-MEMORY/BiscuitOS-MOTION-MEMORY-GDBCORE/Kconfig

endif # PK_MOTION_MEMORY
