menuconfig PK_PAGING_PT_PAGE_RW_ZERO
	bool "PAGE_RW: ZERO PAGE"

if PK_PAGING_PT_PAGE_RW_ZERO

config PK_PAGING_PT_PAGE_RW_ZERO_VERSION
	default "default"
	string "verstion"

config PK_PAGING_PT_PAGE_RW_ZERO_TAR
	default "tar.gz"
	string "tar type"

config PK_PAGING_PT_PAGE_RW_ZERO_URL
	default "https://gitee.com/BiscuitOS_team/HardStack/raw/Gitee/Memory-Allocator/PAGING-MECH/BiscuitOS-PAGING-PT-PAGE-RW-ZERO"
	string "url"

config PK_PAGING_PT_PAGE_RW_ZERO_GITHUB
	string "GitHub"

config PK_PAGING_PT_PAGE_RW_ZERO_SRCFILE
	default "main.c Makefile RunBiscuitOS.sh"
	string "Source code list"

config PK_PAGING_PT_PAGE_RW_ZERO_CSRCFILE
	string "Compile source code list"

config PK_PAGING_PT_PAGE_RW_ZERO_CONFIG
	string "CONFIG: Project Configure Options"

config PK_PAGING_PT_PAGE_RW_ZERO_LIBPATH
	string "LIBS: Libraries to pass to the linker, e.g. -l<library>"

config PK_PAGING_PT_PAGE_RW_ZERO_CPPFLAGS
	string "CPPFLAGS: C/C++ preprocessor flags, e.g. -I<include dir>"

config PK_PAGING_PT_PAGE_RW_ZERO_DPKCONFIG
	string "PKG_CONFIG_PATH: Directories to add to pkg-config's search path"

config PK_PAGING_PT_PAGE_RW_ZERO_CFLAGS
	string "CFLAGS: C compiler flags"

config PK_PAGING_PT_PAGE_RW_ZERO_LDFLAGS
	string "LDFLAGS: Linker flags"

config PK_PAGING_PT_PAGE_RW_ZERO_CXXFLAGS
	string "CXXFLAGS: C++ compiler flags"

config PK_PAGING_PT_PAGE_RW_ZERO_ASFLAGS
	string "CCASFLAGS: assembler compiler flags (defaults to CFLAGS)"

config PK_PAGING_PT_PAGE_RW_ZERO_BUILDARCH
	string "--host options on configure for Architecture"

endif # PK_PAGING_PT_PAGE_RW_ZERO
