menuconfig PK_DEMO_APP
	bool "Demo  Application"

if PK_DEMO_APP

config DEMO_APP_VERSION
	default "0.11"
	string "verstion"

config DEMO_APP_TAR
	string "tar type"

config DEMO_APP_URL
	default "https://raw.githubusercontent.com/BiscuitOS/HardStack/master/CodeSegment/demo/"
	string "url"

config DEMO_APP_LDFLAGS
	string "LDFLAGS"

config DEMO_APP_CFLAGS
	string "CFLAGS"

config DEMO_APP_CONFIG
	string "configure"

config DEMO_APP_SRC
	default "demo.c"
	string "source code list"

endif # PK_DEMO_APP
