menuconfig PK_MEMORY_MMAP_SPECIAL_MAPPING_LEGACY
	bool "Memory Mapping: SPECIAL MAPPING(LEGACY)"

if PK_MEMORY_MMAP_SPECIAL_MAPPING_LEGACY

config PK_MEMORY_MMAP_SPECIAL_MAPPING_LEGACY_VERSION
	default "default"
	string "verstion"

config PK_MEMORY_MMAP_SPECIAL_MAPPING_LEGACY_TAR
	default "tar.gz"
	string "tar type"

config PK_MEMORY_MMAP_SPECIAL_MAPPING_LEGACY_URL
	default "https://gitee.com/BiscuitOS_team/HardStack/raw/Gitee/Memory-Allocator/MMAP-MECH/BiscuitOS-MEMORY-MMAP-SPECIAL-MAPPING-LEGACY"
	string "url"

config PK_MEMORY_MMAP_SPECIAL_MAPPING_LEGACY_GITHUB
	string "GitHub"

config PK_MEMORY_MMAP_SPECIAL_MAPPING_LEGACY_SRCFILE
	default "app.c  Kconfig  main.c  Makefile  Makefile.app  RunBiscuitOS.sh"
	string "Source code list"

config PK_MEMORY_MMAP_SPECIAL_MAPPING_LEGACY_CSRCFILE
	string "Compile source code list"

config PK_MEMORY_MMAP_SPECIAL_MAPPING_LEGACY_CONFIG
	string "CONFIG: Project Configure Options"

config PK_MEMORY_MMAP_SPECIAL_MAPPING_LEGACY_LIBPATH
	string "LIBS: Libraries to pass to the linker, e.g. -l<library>"

config PK_MEMORY_MMAP_SPECIAL_MAPPING_LEGACY_CPPFLAGS
	string "CPPFLAGS: C/C++ preprocessor flags, e.g. -I<include dir>"

config PK_MEMORY_MMAP_SPECIAL_MAPPING_LEGACY_DPKCONFIG
	string "PKG_CONFIG_PATH: Directories to add to pkg-config's search path"

config PK_MEMORY_MMAP_SPECIAL_MAPPING_LEGACY_CFLAGS
	string "CFLAGS: C compiler flags"

config PK_MEMORY_MMAP_SPECIAL_MAPPING_LEGACY_LDFLAGS
	string "LDFLAGS: Linker flags"

config PK_MEMORY_MMAP_SPECIAL_MAPPING_LEGACY_CXXFLAGS
	string "CXXFLAGS: C++ compiler flags"

config PK_MEMORY_MMAP_SPECIAL_MAPPING_LEGACY_ASFLAGS
	string "CCASFLAGS: assembler compiler flags (defaults to CFLAGS)"

config PK_MEMORY_MMAP_SPECIAL_MAPPING_LEGACY_BUILDARCH
	string "--host options on configure for Architecture"

endif # PK_MEMORY_MMAP_SPECIAL_MAPPING_LEGACY
