menuconfig PK_LIBJPEG
	select PK_ZLIB
	bool "libjpeg"

if PK_LIBJPEG

config LIB_LIBJPEG_VERSION
	default "v8d"
	string "verstion"

config LIB_LIBJPEG_TAR
	default "tar.gz"
	string "tar type"

config LIB_LIBJPEG_URL
	default "https://ftp.osuosl.org/pub/blfs/conglomeration/jpeg/"
	string "url"

config LIB_LIBJPEG_SRC
	string "source code list"

config LIB_LIBJPEG_LDFLAGS
	string "LDFLAGS"

config LIB_LIBJPEG_CFLAGS
	string "CFLAGS"

config LIB_LIBJPEG_CONFIG
	string "configure"

endif # PK_LIBJPEG
