menuconfig PK_DAMAGEPROTO
	bool "damageproto"

if PK_DAMAGEPROTO

config DAMAGEPROTO_VERSION
	default "1.2.1"
	string "verstion"

config DAMAGEPROTO_TAR
	default "tar.gz"
	string "tar type"

config DAMAGEPROTO_URL
	default "https://www.x.org/releases/X11R7.7/src/proto/"
	string "url"

config DAMAGEPROTO_SRC
	string "source code list"

config DAMAGEPROTO_LDFLAGS
	string "LDFLAGS"

config DAMAGEPROTO_CFLAGS
	string "CFLAGS"

config DAMAGEPROTO_CONFIG
	string "configure"

endif # PK_DAMAGEPROTO
