menuconfig PK_I2C
	bool "I2C: Inter-Integrated Circuit"

if PK_I2C

# AT24C08 application
source package/i2c/at24c08_app/Kconfig

# AT24C08 chest
source package/i2c/at24c08_chest/Kconfig

# AT24C08 Module
source package/i2c/at24c08_module/Kconfig

# I2C Bus Device Driver
source package/i2c/i2c_bus/Kconfig

# LM75A Application
source "package/i2c/lm75a_app/Kconfig"

# LM75A Device Driver
source "package/i2c/lm75a_module/Kconfig"

# LM75A input Application
source "package/i2c/lm75a_input_app/Kconfig"

# LM75A input Device Driver
source "package/i2c/lm75a_input_module/Kconfig"

# LM75A thermal Watchdog
source "package/i2c/lm75a_thermal_watchdog/Kconfig"

# PCF8574 application
source package/i2c/pcf8574_app/Kconfig

# PCF8574 module
source package/i2c/pcf8574_module/Kconfig

# PCF8574 Interrupt module
source package/i2c/pcf8574_intr_module/Kconfig

# PCF8574 Interrupt error
source package/i2c/pcf8574_err0/Kconfig

# PCF8574 Traffic Light
source package/i2c/pcf8574_traffic/Kconfig

endif # PK_I2C
