menuconfig PK_LIBXKBFILE
	bool "libxkbfile"

if PK_LIBXKBFILE

config LIBXKBFILE_VERSION
	default "1.0.9"
	string "verstion"

config LIBXKBFILE_TAR
	default "tar.bz2"
	string "tar type"

config LIBXKBFILE_URL
	default "http://repository.timesys.com/buildsources/l/libxkbfile/libxkbfile-1.0.9/"
	string "url"

config LIBXKBFILE_SRC
	string "source code list"

config LIBXKBFILE_LDFLAGS
	string "LDFLAGS"

config LIBXKBFILE_CFLAGS
	string "CFLAGS"

config LIBXKBFILE_CONFIG
	string "configure"

endif # PK_LIBXKBFILE
