menuconfig TOOL_RISCV32
	bool "riscv32-biscuitos-linux-gnu"

if TOOL_RISCV32

choice
	prompt "Setup way to get riscv32-biscuitos-linux-gnu"

config TOOL_RISCV32_SRC
	bool "riscv32-biscuitos-linux-gnu from Source Code"

config TOOL_RISCV32_APT
	bool "riscv32-biscuitos-linux-gnu from Debian(apt install)"

config TOOL_RISCV32_WGET
	bool "riscv32-biscuitos-linux-gnu from WGET"

config TOOL_RISCV32_EXT
	bool "riscv32-biscuitos-linux-gnu from External package"


endchoice

config TOOL_RISCV32_WAY
	int
	default 1 if TOOL_RISCV32_SRC
	default 2 if TOOL_RISCV32_APT
	default 3 if TOOL_RISCV32_WGET
	default 4 if TOOL_RISCV32_EXT

config TOOL_RISCV32_VERSION
	string "riscv32-biscuitos-linux-gnu Version"

config TOOL_RISCV32_TAR
	string "Tar-package type"

endif # TOOL_RISCV32
