menuconfig PK_LIBXDAMAGE
	select PK_DAMAGEPROTO
	select PK_LIBXFIXES
	bool "libXdamage"

if PK_LIBXDAMAGE

config PK_LIBXDAMAGE_VERSION
	default "1.1"
	string "verstion"

config PK_LIBXDAMAGE_TAR
	default "tar.gz"
	string "tar type"

config PK_LIBXDAMAGE_URL
	default "https://www.x.org/releases/individual/lib/"
	string "url"

config PK_LIBXDAMAGE_GITHUB
	string "GitHub"

config PK_LIBXDAMAGE_SRCFILE
	string "Source code list"

config PK_LIBXDAMAGE_CONFIG
	default "--enable-silent-rules --disable-static"
	string "CONFIG: Project Configure Options"

config PK_LIBXDAMAGE_LIBPATH
	string "LIBS: Libraries to pass to the linker, e.g. -l<library>"

config PK_LIBXDAMAGE_CPPFLAGS
	string "CPPFLAGS: C/C++ preprocessor flags, e.g. -I<include dir>"

config PK_LIBXDAMAGE_DPKCONFIG
	string "PKG_CONFIG_PATH: Directories to add to pkg-config's search path"

config PK_LIBXDAMAGE_CFLAGS
	string "CFLAGS: C compiler flags"

config PK_LIBXDAMAGE_LDFLAGS
	string "LDFLAGS: Linker flags"

config PK_LIBXDAMAGE_CXXFLAGS
	string "CXXFLAGS: C++ compiler flags"

config PK_LIBXDAMAGE_ASFLAGS
	string "CCASFLAGS: assembler compiler flags (defaults to CFLAGS)"

config PK_LIBXDAMAGE_BUILDARCH
	default "x86_64-unknown-linux-gnu"
	string "--host options on configure for Architecture"

endif # PK_LIBXDAMAGE
