menuconfig PK_GAME_2048
	bool "Game  2048"

if PK_GAME_2048

config GAME_2048_VERSION
	default "0.11"
	string "verstion"

config GAME_2048_TAR
	string "tar type"

config GAME_2048_URL
	default "https://raw.githubusercontent.com/mevdschee/2048.c/master/"
	string "url"

config GAME_2048_SRC
	default "2048.c README.md palette.sh Makefile LICENSE"
	string "source code list"

config GAME_2048_LDFLAGS
	string "LDFLAGS"

config GAME_2048_CFLAGS
	string "CFLAGS"

config GAME_2048_CONFIG
	string "configure"

endif # PK_GAME_2048
