menuconfig PK_PAGING_LOOKUP_ADDR_MEMBLOCK
	bool "LOOKUP-Address: Consult MEMBLOCK"

if PK_PAGING_LOOKUP_ADDR_MEMBLOCK

config PK_PAGING_LOOKUP_ADDR_MEMBLOCK_VERSION
	default "default"
	string "verstion"

config PK_PAGING_LOOKUP_ADDR_MEMBLOCK_TAR
	default "tar.gz"
	string "tar type"

config PK_PAGING_LOOKUP_ADDR_MEMBLOCK_URL
	default "https://gitee.com/BiscuitOS_team/HardStack/raw/Gitee/Memory-Allocator/PAGING-MECH/BiscuitOS-PAGING-LOOKUP-ADDR-MEMBLOCK"
	string "url"

config PK_PAGING_LOOKUP_ADDR_MEMBLOCK_GITHUB
	string "GitHub"

config PK_PAGING_LOOKUP_ADDR_MEMBLOCK_SRCFILE
	default "main.c Makefile Kconfig BiscuitOS_Insert.bs"
	string "Source code list"

config PK_PAGING_LOOKUP_ADDR_MEMBLOCK_CSRCFILE
	string "Compile source code list"

config PK_PAGING_LOOKUP_ADDR_MEMBLOCK_CONFIG
	string "CONFIG: Project Configure Options"

config PK_PAGING_LOOKUP_ADDR_MEMBLOCK_LIBPATH
	string "LIBS: Libraries to pass to the linker, e.g. -l<library>"

config PK_PAGING_LOOKUP_ADDR_MEMBLOCK_CPPFLAGS
	string "CPPFLAGS: C/C++ preprocessor flags, e.g. -I<include dir>"

config PK_PAGING_LOOKUP_ADDR_MEMBLOCK_DPKCONFIG
	string "PKG_CONFIG_PATH: Directories to add to pkg-config's search path"

config PK_PAGING_LOOKUP_ADDR_MEMBLOCK_CFLAGS
	string "CFLAGS: C compiler flags"

config PK_PAGING_LOOKUP_ADDR_MEMBLOCK_LDFLAGS
	string "LDFLAGS: Linker flags"

config PK_PAGING_LOOKUP_ADDR_MEMBLOCK_CXXFLAGS
	string "CXXFLAGS: C++ compiler flags"

config PK_PAGING_LOOKUP_ADDR_MEMBLOCK_ASFLAGS
	string "CCASFLAGS: assembler compiler flags (defaults to CFLAGS)"

config PK_PAGING_LOOKUP_ADDR_MEMBLOCK_BUILDARCH
	string "--host options on configure for Architecture"

endif # PK_PAGING_LOOKUP_ADDR_MEMBLOCK
