menuconfig PK_GNU_GLIBC
	bool "GNU - glibc"

if PK_GNU_GLIBC

config GNU_GLIBC_VERSION
	default "2.24"
	string "verstion"

config GNU_GLIBC_TAR
	default "tar.gz"
	string "tar type"

config GNU_GLIBC_URL
	default "http://ftp.gnu.org/pub/gnu/glibc/"
	string "url"

config GNU_GLIBC_LDFLAGS
	string "LDFLAGS"

config GNU_GLIBC_CFLAGS
	string "CFLAGS"

config GNU_GLIBC_CONFIG
	default "--disable-nls --disable-werror --disable-multilib --enable-shared"
	string "configure"

endif # PK_GNU_GLIBC
