menuconfig PK_PTE_PAGE_RW_USERSPACE_NONE
	select PK_PTE_PAGE_RW_KERNEL
	bool "PTE PAGE_RW Bit-1: Forbid Read/Write (Userspace+)"

if PK_PTE_PAGE_RW_USERSPACE_NONE

config PK_PTE_PAGE_RW_USERSPACE_NONE_VERSION
	default "default"
	string "verstion"

config PK_PTE_PAGE_RW_USERSPACE_NONE_TAR
	default "tar.gz"
	string "tar type"

config PK_PTE_PAGE_RW_USERSPACE_NONE_URL
	default "https://gitee.com/BiscuitOS_team/HardStack/raw/Gitee/Memory-Allocator/Paging/PAGE_RW/userspace-none"
	string "url"

config PK_PTE_PAGE_RW_USERSPACE_NONE_GITHUB
	string "GitHub"

config PK_PTE_PAGE_RW_USERSPACE_NONE_SRCFILE
	default "main.c Makefile RunBiscuitOS.sh"
	string "Source code list"

config PK_PTE_PAGE_RW_USERSPACE_NONE_CSRCFILE
	string "Compile source code list"

config PK_PTE_PAGE_RW_USERSPACE_NONE_CONFIG
	string "CONFIG: Project Configure Options"

config PK_PTE_PAGE_RW_USERSPACE_NONE_LIBPATH
	string "LIBS: Libraries to pass to the linker, e.g. -l<library>"

config PK_PTE_PAGE_RW_USERSPACE_NONE_CPPFLAGS
	string "CPPFLAGS: C/C++ preprocessor flags, e.g. -I<include dir>"

config PK_PTE_PAGE_RW_USERSPACE_NONE_DPKCONFIG
	string "PKG_CONFIG_PATH: Directories to add to pkg-config's search path"

config PK_PTE_PAGE_RW_USERSPACE_NONE_CFLAGS
	string "CFLAGS: C compiler flags"

config PK_PTE_PAGE_RW_USERSPACE_NONE_LDFLAGS
	string "LDFLAGS: Linker flags"

config PK_PTE_PAGE_RW_USERSPACE_NONE_CXXFLAGS
	string "CXXFLAGS: C++ compiler flags"

config PK_PTE_PAGE_RW_USERSPACE_NONE_ASFLAGS
	string "CCASFLAGS: assembler compiler flags (defaults to CFLAGS)"

config PK_PTE_PAGE_RW_USERSPACE_NONE_BUILDARCH
	string "--host options on configure for Architecture"

endif # PK_PTE_PAGE_RW_USERSPACE_NONE
