menuconfig PK_MEMORY_GUP_HOW
	bool "GUP: FIRST DEMO"

if PK_MEMORY_GUP_HOW

config PK_MEMORY_GUP_HOW_VERSION
	default "default"
	string "verstion"

config PK_MEMORY_GUP_HOW_TAR
	default "tar.gz"
	string "tar type"

config PK_MEMORY_GUP_HOW_URL
	default "https://gitee.com/BiscuitOS_team/HardStack/raw/Gitee/Memory-Allocator/MMAP-MECH/BiscuitOS-MEMORY-GUP-HOW"
	string "url"

config PK_MEMORY_GUP_HOW_GITHUB
	string "GitHub"

config PK_MEMORY_GUP_HOW_SRCFILE
	default "app.c  Kconfig  main.c  Makefile  Makefile.host  RunBiscuitOS.sh"
	string "Source code list"

config PK_MEMORY_GUP_HOW_CSRCFILE
	string "Compile source code list"

config PK_MEMORY_GUP_HOW_CONFIG
	string "CONFIG: Project Configure Options"

config PK_MEMORY_GUP_HOW_LIBPATH
	string "LIBS: Libraries to pass to the linker, e.g. -l<library>"

config PK_MEMORY_GUP_HOW_CPPFLAGS
	string "CPPFLAGS: C/C++ preprocessor flags, e.g. -I<include dir>"

config PK_MEMORY_GUP_HOW_DPKCONFIG
	string "PKG_CONFIG_PATH: Directories to add to pkg-config's search path"

config PK_MEMORY_GUP_HOW_CFLAGS
	string "CFLAGS: C compiler flags"

config PK_MEMORY_GUP_HOW_LDFLAGS
	string "LDFLAGS: Linker flags"

config PK_MEMORY_GUP_HOW_CXXFLAGS
	string "CXXFLAGS: C++ compiler flags"

config PK_MEMORY_GUP_HOW_ASFLAGS
	string "CCASFLAGS: assembler compiler flags (defaults to CFLAGS)"

config PK_MEMORY_GUP_HOW_BUILDARCH
	string "--host options on configure for Architecture"

endif # PK_MEMORY_GUP_HOW
