menuconfig PK_FIXESPROTO
	bool "fixesproto"

if PK_FIXESPROTO

config FIXESPROTO_VERSION
	default "5.0"
	string "verstion"

config FIXESPROTO_TAR
	default "tar.gz"
	string "tar type"

config FIXESPROTO_URL
	default "https://www.x.org/releases/X11R7.7/src/proto/"
	string "url"

config FIXESPROTO_SRC
	string "source code list"

config FIXESPROTO_LDFLAGS
	string "LDFLAGS"

config FIXESPROTO_CFLAGS
	string "CFLAGS"

config FIXESPROTO_CONFIG
	string "configure"

endif # PK_FIXESPROTO
