menuconfig PK_MEMORY_MMAP_VMA_VM_RAND_READ
	bool "Memory Mapping: VMA VM_RAND_READ"

if PK_MEMORY_MMAP_VMA_VM_RAND_READ

config PK_MEMORY_MMAP_VMA_VM_RAND_READ_VERSION
	default "default"
	string "verstion"

config PK_MEMORY_MMAP_VMA_VM_RAND_READ_TAR
	default "tar.gz"
	string "tar type"

config PK_MEMORY_MMAP_VMA_VM_RAND_READ_URL
	default "https://gitee.com/BiscuitOS_team/HardStack/raw/Gitee/Memory-Allocator/MMAP-MECH/BiscuitOS-MEMORY-MMAP-VMA-VM-RAND-READ"
	string "url"

config PK_MEMORY_MMAP_VMA_VM_RAND_READ_GITHUB
	string "GitHub"

config PK_MEMORY_MMAP_VMA_VM_RAND_READ_SRCFILE
	default "main.c Makefile RunBiscuitOS.sh"
	string "Source code list"

config PK_MEMORY_MMAP_VMA_VM_RAND_READ_CSRCFILE
	string "Compile source code list"

config PK_MEMORY_MMAP_VMA_VM_RAND_READ_CONFIG
	string "CONFIG: Project Configure Options"

config PK_MEMORY_MMAP_VMA_VM_RAND_READ_LIBPATH
	string "LIBS: Libraries to pass to the linker, e.g. -l<library>"

config PK_MEMORY_MMAP_VMA_VM_RAND_READ_CPPFLAGS
	string "CPPFLAGS: C/C++ preprocessor flags, e.g. -I<include dir>"

config PK_MEMORY_MMAP_VMA_VM_RAND_READ_DPKCONFIG
	string "PKG_CONFIG_PATH: Directories to add to pkg-config's search path"

config PK_MEMORY_MMAP_VMA_VM_RAND_READ_CFLAGS
	string "CFLAGS: C compiler flags"

config PK_MEMORY_MMAP_VMA_VM_RAND_READ_LDFLAGS
	string "LDFLAGS: Linker flags"

config PK_MEMORY_MMAP_VMA_VM_RAND_READ_CXXFLAGS
	string "CXXFLAGS: C++ compiler flags"

config PK_MEMORY_MMAP_VMA_VM_RAND_READ_ASFLAGS
	string "CCASFLAGS: assembler compiler flags (defaults to CFLAGS)"

config PK_MEMORY_MMAP_VMA_VM_RAND_READ_BUILDARCH
	string "--host options on configure for Architecture"

endif # PK_MEMORY_MMAP_VMA_VM_RAND_READ
