menuconfig PK_MOTION_MEMORY_USER
	bool "USER PROCESS"

if PK_MOTION_MEMORY_USER

config PK_MOTION_MEMORY_USER_VERSION
	default "default"
	string "verstion"

config PK_MOTION_MEMORY_USER_TAR
	default "tar.gz"
	string "tar type"

config PK_MOTION_MEMORY_USER_URL
	default "https://gitee.com/BiscuitOS_team/HardStack/raw/Gitee/MOTION/MEMORY/BiscuitOS-MOTION-MEMORY-USER"
	string "url"

config PK_MOTION_MEMORY_USER_GITHUB
	string "GitHub"

config PK_MOTION_MEMORY_USER_SRCFILE
	default "main.c Makefile RunBiscuitOS.sh"
	string "Source code list"

config PK_MOTION_MEMORY_USER_CSRCFILE
	string "Compile source code list"

config PK_MOTION_MEMORY_USER_CONFIG
	string "CONFIG: Project Configure Options"

config PK_MOTION_MEMORY_USER_LIBPATH
	string "LIBS: Libraries to pass to the linker, e.g. -l<library>"

config PK_MOTION_MEMORY_USER_CPPFLAGS
	string "CPPFLAGS: C/C++ preprocessor flags, e.g. -I<include dir>"

config PK_MOTION_MEMORY_USER_DPKCONFIG
	string "PKG_CONFIG_PATH: Directories to add to pkg-config's search path"

config PK_MOTION_MEMORY_USER_CFLAGS
	string "CFLAGS: C compiler flags"

config PK_MOTION_MEMORY_USER_LDFLAGS
	string "LDFLAGS: Linker flags"

config PK_MOTION_MEMORY_USER_CXXFLAGS
	string "CXXFLAGS: C++ compiler flags"

config PK_MOTION_MEMORY_USER_ASFLAGS
	string "CCASFLAGS: assembler compiler flags (defaults to CFLAGS)"

config PK_MOTION_MEMORY_USER_BUILDARCH
	string "--host options on configure for Architecture"

endif # PK_MOTION_MEMORY_USER
