menuconfig PK_MEMBLOCK_MEMBLOCK_IS_REGION_MEMORY
	bool "MEMBLOCK API: memblock_is_region_memory()"

if PK_MEMBLOCK_MEMBLOCK_IS_REGION_MEMORY

config PK_MEMBLOCK_MEMBLOCK_IS_REGION_MEMORY_VERSION
	default "default"
	string "verstion"

config PK_MEMBLOCK_MEMBLOCK_IS_REGION_MEMORY_TAR
	default "tar.gz"
	string "tar type"

config PK_MEMBLOCK_MEMBLOCK_IS_REGION_MEMORY_URL
	default "https://gitee.com/BiscuitOS_team/HardStack/raw/Gitee/Memory-Allocator/MEMBLOCK/BiscuitOS-MEMBLOCK-memblock_is_region_memory"
	string "url"

config PK_MEMBLOCK_MEMBLOCK_IS_REGION_MEMORY_GITHUB
	string "GitHub"

config PK_MEMBLOCK_MEMBLOCK_IS_REGION_MEMORY_SRCFILE
	default "main.c Kconfig Makefile BiscuitOS_Insert.bs"
	string "Source code list"

config PK_MEMBLOCK_MEMBLOCK_IS_REGION_MEMORY_CSRCFILE
	string "Compile source code list"

config PK_MEMBLOCK_MEMBLOCK_IS_REGION_MEMORY_CONFIG
	string "CONFIG: Project Configure Options"

config PK_MEMBLOCK_MEMBLOCK_IS_REGION_MEMORY_LIBPATH
	string "LIBS: Libraries to pass to the linker, e.g. -l<library>"

config PK_MEMBLOCK_MEMBLOCK_IS_REGION_MEMORY_CPPFLAGS
	string "CPPFLAGS: C/C++ preprocessor flags, e.g. -I<include dir>"

config PK_MEMBLOCK_MEMBLOCK_IS_REGION_MEMORY_DPKCONFIG
	string "PKG_CONFIG_PATH: Directories to add to pkg-config's search path"

config PK_MEMBLOCK_MEMBLOCK_IS_REGION_MEMORY_CFLAGS
	string "CFLAGS: C compiler flags"

config PK_MEMBLOCK_MEMBLOCK_IS_REGION_MEMORY_LDFLAGS
	string "LDFLAGS: Linker flags"

config PK_MEMBLOCK_MEMBLOCK_IS_REGION_MEMORY_CXXFLAGS
	string "CXXFLAGS: C++ compiler flags"

config PK_MEMBLOCK_MEMBLOCK_IS_REGION_MEMORY_ASFLAGS
	string "CCASFLAGS: assembler compiler flags (defaults to CFLAGS)"

config PK_MEMBLOCK_MEMBLOCK_IS_REGION_MEMORY_BUILDARCH
	string "--host options on configure for Architecture"

endif # PK_MEMBLOCK_MEMBLOCK_IS_REGION_MEMORY
