menuconfig PK_PAGING_VMALLOC_HUGE
	bool "VMALLOC Mapping: HugePage"

if PK_PAGING_VMALLOC_HUGE

config PK_PAGING_VMALLOC_HUGE_VERSION
	default "default"
	string "verstion"

config PK_PAGING_VMALLOC_HUGE_TAR
	default "tar.gz"
	string "tar type"

config PK_PAGING_VMALLOC_HUGE_URL
	default "https://gitee.com/BiscuitOS_team/HardStack/raw/Gitee/Memory-Allocator/PAGING-MECH/BiscuitOS-PAGING-VMALLOC-HUGE"
	string "url"

config PK_PAGING_VMALLOC_HUGE_GITHUB
	string "GitHub"

config PK_PAGING_VMALLOC_HUGE_SRCFILE
	default "main.c Makefile Kconfig Makefile.host RunBiscuitOS.sh"
	string "Source code list"

config PK_PAGING_VMALLOC_HUGE_CSRCFILE
	string "Compile source code list"

config PK_PAGING_VMALLOC_HUGE_CONFIG
	string "CONFIG: Project Configure Options"

config PK_PAGING_VMALLOC_HUGE_LIBPATH
	string "LIBS: Libraries to pass to the linker, e.g. -l<library>"

config PK_PAGING_VMALLOC_HUGE_CPPFLAGS
	string "CPPFLAGS: C/C++ preprocessor flags, e.g. -I<include dir>"

config PK_PAGING_VMALLOC_HUGE_DPKCONFIG
	string "PKG_CONFIG_PATH: Directories to add to pkg-config's search path"

config PK_PAGING_VMALLOC_HUGE_CFLAGS
	string "CFLAGS: C compiler flags"

config PK_PAGING_VMALLOC_HUGE_LDFLAGS
	string "LDFLAGS: Linker flags"

config PK_PAGING_VMALLOC_HUGE_CXXFLAGS
	string "CXXFLAGS: C++ compiler flags"

config PK_PAGING_VMALLOC_HUGE_ASFLAGS
	string "CCASFLAGS: assembler compiler flags (defaults to CFLAGS)"

config PK_PAGING_VMALLOC_HUGE_BUILDARCH
	string "--host options on configure for Architecture"

endif # PK_PAGING_VMALLOC_HUGE
