menuconfig PK_RESOURCEPROTO
	bool "resourceproto"

if PK_RESOURCEPROTO

config RESOURCEPROTO_VERSION
	default "1.2.0"
	string "verstion"

config RESOURCEPROTO_TAR
	default "tar.bz2"
	string "tar type"

config RESOURCEPROTO_URL
	default "http://repository.timesys.com/buildsources/r/resourceproto/resourceproto-1.2.0/"
	string "url"

config RESOURCEPROTO_SRC
	string "source code list"

config RESOURCEPROTO_LDFLAGS
	string "LDFLAGS"

config RESOURCEPROTO_CFLAGS
	string "CFLAGS"

config RESOURCEPROTO_CONFIG
	string "configure"

endif # PK_RESOURCEPROTO
