menuconfig PK_PAGING_ATPR_PREALLOC
	bool "ATPR(Apply to page range): PreAlloc"

if PK_PAGING_ATPR_PREALLOC

config PK_PAGING_ATPR_PREALLOC_VERSION
	default "default"
	string "verstion"

config PK_PAGING_ATPR_PREALLOC_TAR
	default "tar.gz"
	string "tar type"

config PK_PAGING_ATPR_PREALLOC_URL
	default "https://gitee.com/BiscuitOS_team/HardStack/raw/Gitee/Memory-Allocator/PAGING-MECH/BiscuitOS-PAGING-ATPR-PREALLOC"
	string "url"

config PK_PAGING_ATPR_PREALLOC_GITHUB
	string "GitHub"

config PK_PAGING_ATPR_PREALLOC_SRCFILE
	default "app.c Kconfig main.c Makefile Makefile.host RunBiscuitOS.sh"
	string "Source code list"

config PK_PAGING_ATPR_PREALLOC_CSRCFILE
	string "Compile source code list"

config PK_PAGING_ATPR_PREALLOC_CONFIG
	string "CONFIG: Project Configure Options"

config PK_PAGING_ATPR_PREALLOC_LIBPATH
	string "LIBS: Libraries to pass to the linker, e.g. -l<library>"

config PK_PAGING_ATPR_PREALLOC_CPPFLAGS
	string "CPPFLAGS: C/C++ preprocessor flags, e.g. -I<include dir>"

config PK_PAGING_ATPR_PREALLOC_DPKCONFIG
	string "PKG_CONFIG_PATH: Directories to add to pkg-config's search path"

config PK_PAGING_ATPR_PREALLOC_CFLAGS
	string "CFLAGS: C compiler flags"

config PK_PAGING_ATPR_PREALLOC_LDFLAGS
	string "LDFLAGS: Linker flags"

config PK_PAGING_ATPR_PREALLOC_CXXFLAGS
	string "CXXFLAGS: C++ compiler flags"

config PK_PAGING_ATPR_PREALLOC_ASFLAGS
	string "CCASFLAGS: assembler compiler flags (defaults to CFLAGS)"

config PK_PAGING_ATPR_PREALLOC_BUILDARCH
	string "--host options on configure for Architecture"

endif # PK_PAGING_ATPR_PREALLOC
