menuconfig PK_ASAN_MM_LEAK
	bool "ASAN: Memory leak (C Version)"

if PK_ASAN_MM_LEAK

config PK_ASAN_MM_LEAK_VERSION
	default "default"
	string "verstion"

config PK_ASAN_MM_LEAK_TAR
	default "tar.gz"
	string "tar type"

config PK_ASAN_MM_LEAK_URL
	default "https://gitee.com/BiscuitOS_team/HardStack/raw/Gitee/Memory-Allocator/Memory-Sanitizer/BiscuitOS-ASAN-memory-leak"
	string "url"

config PK_ASAN_MM_LEAK_GITHUB
	string "GitHub"

config PK_ASAN_MM_LEAK_SRCFILE
	default "main.c Makefile"
	string "Source code list"

config PK_ASAN_MM_LEAK_CSRCFILE
	string "Compile source code list"

config PK_ASAN_MM_LEAK_CONFIG
	string "CONFIG: Project Configure Options"

config PK_ASAN_MM_LEAK_LIBPATH
	string "LIBS: Libraries to pass to the linker, e.g. -l<library>"

config PK_ASAN_MM_LEAK_CPPFLAGS
	string "CPPFLAGS: C/C++ preprocessor flags, e.g. -I<include dir>"

config PK_ASAN_MM_LEAK_DPKCONFIG
	string "PKG_CONFIG_PATH: Directories to add to pkg-config's search path"

config PK_ASAN_MM_LEAK_CFLAGS
	string "CFLAGS: C compiler flags"

config PK_ASAN_MM_LEAK_LDFLAGS
	string "LDFLAGS: Linker flags"

config PK_ASAN_MM_LEAK_CXXFLAGS
	string "CXXFLAGS: C++ compiler flags"

config PK_ASAN_MM_LEAK_ASFLAGS
	string "CCASFLAGS: assembler compiler flags (defaults to CFLAGS)"

config PK_ASAN_MM_LEAK_BUILDARCH
	string "--host options on configure for Architecture"

endif # PK_ASAN_MM_LEAK
