menuconfig PK_IOMMU_PCI_DMA_MSIX
	select HW_PCI_DMA_MSIX
	bool "IOMMU: PCI DMA MSIX with IOMMU"

if PK_IOMMU_PCI_DMA_MSIX

config PK_IOMMU_PCI_DMA_MSIX_VERSION
	default "default"
	string "verstion"

config PK_IOMMU_PCI_DMA_MSIX_TAR
	default "tar.gz"
	string "tar type"

config PK_IOMMU_PCI_DMA_MSIX_URL
	default "https://gitee.com/BiscuitOS_team/HardStack/raw/Gitee/Memory-Allocator/IOMMU-MECH/BiscuitOS-IOMMU-PCI-DMA-MSIX/"
	string "url"

config PK_IOMMU_PCI_DMA_MSIX_GITHUB
	string "GitHub"

config PK_IOMMU_PCI_DMA_MSIX_SRCFILE
	default "Kconfig main.c Makefile Makefile.host README.md RunBiscuitOS.sh"
	string "Source code list"

config PK_IOMMU_PCI_DMA_MSIX_CSRCFILE
	string "Compile source code list"

config PK_IOMMU_PCI_DMA_MSIX_CONFIG
	string "CONFIG: Project Configure Options"

config PK_IOMMU_PCI_DMA_MSIX_LIBPATH
	string "LIBS: Libraries to pass to the linker, e.g. -l<library>"

config PK_IOMMU_PCI_DMA_MSIX_CPPFLAGS
	string "CPPFLAGS: C/C++ preprocessor flags, e.g. -I<include dir>"

config PK_IOMMU_PCI_DMA_MSIX_DPKCONFIG
	string "PKG_CONFIG_PATH: Directories to add to pkg-config's search path"

config PK_IOMMU_PCI_DMA_MSIX_CFLAGS
	string "CFLAGS: C compiler flags"

config PK_IOMMU_PCI_DMA_MSIX_LDFLAGS
	string "LDFLAGS: Linker flags"

config PK_IOMMU_PCI_DMA_MSIX_CXXFLAGS
	string "CXXFLAGS: C++ compiler flags"

config PK_IOMMU_PCI_DMA_MSIX_ASFLAGS
	string "CCASFLAGS: assembler compiler flags (defaults to CFLAGS)"

config PK_IOMMU_PCI_DMA_MSIX_BUILDARCH
	string "--host options on configure for Architecture"

endif # PK_IOMMU_PCI_DMA_MSIX
