menuconfig PK_LIBUUID
	bool "libuuid"

if PK_LIBUUID

config LIBUUID_VERSION
	default "1.0.3"
	string "verstion"

config LIBUUID_TAR
	default "tar.gz"
	string "tar type"

config LIBUUID_URL
	default "https://nchc.dl.sourceforge.net/project/libuuid/"
	string "url"

config LIBUUID_LDFLAGS
	string "LDFLAGS"

config LIBUUID_CFLAGS
	string "CFLAGS"

config LIBUUID_CONFIG
	string "configure"

endif # PK_LIBUUID
