menuconfig PK_PAGING_32BIT_PAGING_MMAP_4M
	bool "32-Bit Paging mmap 4MiB Physical Memory"

if PK_PAGING_32BIT_PAGING_MMAP_4M

config PK_PAGING_32BIT_PAGING_MMAP_4M_VERSION
	default "default"
	string "verstion"

config PK_PAGING_32BIT_PAGING_MMAP_4M_TAR
	default "tar.gz"
	string "tar type"

config PK_PAGING_32BIT_PAGING_MMAP_4M_URL
	default "https://gitee.com/BiscuitOS_team/HardStack/raw/Gitee/Memory-Allocator/PAGING-MECH/BiscuitOS-PAGING-32Bit-Paging-MMAP-4MiB"
	string "url"

config PK_PAGING_32BIT_PAGING_MMAP_4M_GITHUB
	string "GitHub"

config PK_PAGING_32BIT_PAGING_MMAP_4M_SRCFILE
	default "main.c Makefile Kconfig Makefile.app RunBiscuitOS.sh app.c"
	string "Source code list"

config PK_PAGING_32BIT_PAGING_MMAP_4M_CSRCFILE
	string "Compile source code list"

config PK_PAGING_32BIT_PAGING_MMAP_4M_CONFIG
	string "CONFIG: Project Configure Options"

config PK_PAGING_32BIT_PAGING_MMAP_4M_LIBPATH
	string "LIBS: Libraries to pass to the linker, e.g. -l<library>"

config PK_PAGING_32BIT_PAGING_MMAP_4M_CPPFLAGS
	string "CPPFLAGS: C/C++ preprocessor flags, e.g. -I<include dir>"

config PK_PAGING_32BIT_PAGING_MMAP_4M_DPKCONFIG
	string "PKG_CONFIG_PATH: Directories to add to pkg-config's search path"

config PK_PAGING_32BIT_PAGING_MMAP_4M_CFLAGS
	string "CFLAGS: C compiler flags"

config PK_PAGING_32BIT_PAGING_MMAP_4M_LDFLAGS
	string "LDFLAGS: Linker flags"

config PK_PAGING_32BIT_PAGING_MMAP_4M_CXXFLAGS
	string "CXXFLAGS: C++ compiler flags"

config PK_PAGING_32BIT_PAGING_MMAP_4M_ASFLAGS
	string "CCASFLAGS: assembler compiler flags (defaults to CFLAGS)"

config PK_PAGING_32BIT_PAGING_MMAP_4M_BUILDARCH
	string "--host options on configure for Architecture"

endif # PK_PAGING_32BIT_PAGING_MMAP_4M
