menuconfig PK_BISCUITOS_VMA_MERGE_CASE0
	bool "Case0: start == prev->vm_end && end == next->vm_start"

if PK_BISCUITOS_VMA_MERGE_CASE0

config PK_BISCUITOS_VMA_MERGE_CASE0_VERSION
	default "default"
	string "verstion"

config PK_BISCUITOS_VMA_MERGE_CASE0_TAR
	default "tar.gz"
	string "tar type"

config PK_BISCUITOS_VMA_MERGE_CASE0_URL
	default "https://gitee.com/BiscuitOS_team/HardStack/raw/Gitee/Memory-Allocator/MMAP/BiscuitOS-vma-merge/BiscuitOS-vma-merge-case0"
	string "url"

config PK_BISCUITOS_VMA_MERGE_CASE0_GITHUB
	string "GitHub"

config PK_BISCUITOS_VMA_MERGE_CASE0_SRCFILE
	default "main.c Makefile"
	string "Source code list"

config PK_BISCUITOS_VMA_MERGE_CASE0_CSRCFILE
	string "Compile source code list"

config PK_BISCUITOS_VMA_MERGE_CASE0_CONFIG
	string "CONFIG: Project Configure Options"

config PK_BISCUITOS_VMA_MERGE_CASE0_LIBPATH
	string "LIBS: Libraries to pass to the linker, e.g. -l<library>"

config PK_BISCUITOS_VMA_MERGE_CASE0_CPPFLAGS
	string "CPPFLAGS: C/C++ preprocessor flags, e.g. -I<include dir>"

config PK_BISCUITOS_VMA_MERGE_CASE0_DPKCONFIG
	string "PKG_CONFIG_PATH: Directories to add to pkg-config's search path"

config PK_BISCUITOS_VMA_MERGE_CASE0_CFLAGS
	string "CFLAGS: C compiler flags"

config PK_BISCUITOS_VMA_MERGE_CASE0_LDFLAGS
	string "LDFLAGS: Linker flags"

config PK_BISCUITOS_VMA_MERGE_CASE0_CXXFLAGS
	string "CXXFLAGS: C++ compiler flags"

config PK_BISCUITOS_VMA_MERGE_CASE0_ASFLAGS
	string "CCASFLAGS: assembler compiler flags (defaults to CFLAGS)"

config PK_BISCUITOS_VMA_MERGE_CASE0_BUILDARCH
	string "--host options on configure for Architecture"

endif # PK_BISCUITOS_VMA_MERGE_CASE0
