menuconfig PK_MEMBARRIER_NOLOCK_SYNC_CNT
	bool "NO-LOCKING Synchronization with Counter"

if PK_MEMBARRIER_NOLOCK_SYNC_CNT

config PK_MEMBARRIER_NOLOCK_SYNC_CNT_VERSION
	default "default"
	string "verstion"

config PK_MEMBARRIER_NOLOCK_SYNC_CNT_TAR
	default "tar.gz"
	string "tar type"

config PK_MEMBARRIER_NOLOCK_SYNC_CNT_URL
	default "https://gitee.com/BiscuitOS_team/HardStack/raw/Gitee/Memory-Allocator/MEMORY-BARRIER/BiscuitOS-MEMORY-BARRIER-NOLOCKING-SYNC-COUNTER"
	string "url"

config PK_MEMBARRIER_NOLOCK_SYNC_CNT_GITHUB
	string "GitHub"

config PK_MEMBARRIER_NOLOCK_SYNC_CNT_SRCFILE
	default "main.c Makefile RunBiscuitOS.sh Makefile.host Kconfig"
	string "Source code list"

config PK_MEMBARRIER_NOLOCK_SYNC_CNT_CSRCFILE
	string "Compile source code list"

config PK_MEMBARRIER_NOLOCK_SYNC_CNT_CONFIG
	string "CONFIG: Project Configure Options"

config PK_MEMBARRIER_NOLOCK_SYNC_CNT_LIBPATH
	string "LIBS: Libraries to pass to the linker, e.g. -l<library>"

config PK_MEMBARRIER_NOLOCK_SYNC_CNT_CPPFLAGS
	string "CPPFLAGS: C/C++ preprocessor flags, e.g. -I<include dir>"

config PK_MEMBARRIER_NOLOCK_SYNC_CNT_DPKCONFIG
	string "PKG_CONFIG_PATH: Directories to add to pkg-config's search path"

config PK_MEMBARRIER_NOLOCK_SYNC_CNT_CFLAGS
	string "CFLAGS: C compiler flags"

config PK_MEMBARRIER_NOLOCK_SYNC_CNT_LDFLAGS
	string "LDFLAGS: Linker flags"

config PK_MEMBARRIER_NOLOCK_SYNC_CNT_CXXFLAGS
	string "CXXFLAGS: C++ compiler flags"

config PK_MEMBARRIER_NOLOCK_SYNC_CNT_ASFLAGS
	string "CCASFLAGS: assembler compiler flags (defaults to CFLAGS)"

config PK_MEMBARRIER_NOLOCK_SYNC_CNT_BUILDARCH
	string "--host options on configure for Architecture"

endif # PK_MEMBARRIER_NOLOCK_SYNC_CNT
