menuconfig PK___GETNAME
	bool "__getname()"

if PK___GETNAME

config PK___GETNAME_VERSION
	default "0.0.1"
	string "verstion"

config PK___GETNAME_TAR
	default "tar.gz"
	string "tar type"

config PK___GETNAME_URL
	default "https://gitee.com/BiscuitOS_team/HardStack/raw/Gitee/Memory-Allocator/slab/API/__getname"
	string "url"

config PK___GETNAME_GITHUB
	string "GitHub"

config PK___GETNAME_SRCFILE
	default "core.c Makefile"
	string "Source code list"

config PK___GETNAME_CSRCFILE
	string "Compile source code list"

config PK___GETNAME_CONFIG
	string "CONFIG: Project Configure Options"

config PK___GETNAME_LIBPATH
	string "LIBS: Libraries to pass to the linker, e.g. -l<library>"

config PK___GETNAME_CPPFLAGS
	string "CPPFLAGS: C/C++ preprocessor flags, e.g. -I<include dir>"

config PK___GETNAME_DPKCONFIG
	string "PKG_CONFIG_PATH: Directories to add to pkg-config's search path"

config PK___GETNAME_CFLAGS
	string "CFLAGS: C compiler flags"

config PK___GETNAME_LDFLAGS
	string "LDFLAGS: Linker flags"

config PK___GETNAME_CXXFLAGS
	string "CXXFLAGS: C++ compiler flags"

config PK___GETNAME_ASFLAGS
	string "CCASFLAGS: assembler compiler flags (defaults to CFLAGS)"

config PK___GETNAME_BUILDARCH
	string "--host options on configure for Architecture"

endif # PK___GETNAME
