menuconfig PK_BUDDY_DEMO
	bool "BUDDY ALLOCATOR"

if PK_BUDDY_DEMO

config PK_BUDDY_DEMO_VERSION
	default "default"
	string "verstion"

config PK_BUDDY_DEMO_TAR
	default "tar.gz"
	string "tar type"

config PK_BUDDY_DEMO_URL
	default "https://gitee.com/BiscuitOS_team/HardStack/raw/Gitee/Memory-Allocator/BUDDY-ALLOCATOR/BiscuitOS-BUDDY"
	string "url"

config PK_BUDDY_DEMO_GITHUB
	string "GitHub"

config PK_BUDDY_DEMO_SRCFILE
	default "Kconfig  main.c  Makefile  Makefile.host  RunBiscuitOS.sh"
	string "Source code list"

config PK_BUDDY_DEMO_CSRCFILE
	string "Compile source code list"

config PK_BUDDY_DEMO_CONFIG
	string "CONFIG: Project Configure Options"

config PK_BUDDY_DEMO_LIBPATH
	string "LIBS: Libraries to pass to the linker, e.g. -l<library>"

config PK_BUDDY_DEMO_CPPFLAGS
	string "CPPFLAGS: C/C++ preprocessor flags, e.g. -I<include dir>"

config PK_BUDDY_DEMO_DPKCONFIG
	string "PKG_CONFIG_PATH: Directories to add to pkg-config's search path"

config PK_BUDDY_DEMO_CFLAGS
	string "CFLAGS: C compiler flags"

config PK_BUDDY_DEMO_LDFLAGS
	string "LDFLAGS: Linker flags"

config PK_BUDDY_DEMO_CXXFLAGS
	string "CXXFLAGS: C++ compiler flags"

config PK_BUDDY_DEMO_ASFLAGS
	string "CCASFLAGS: assembler compiler flags (defaults to CFLAGS)"

config PK_BUDDY_DEMO_BUILDARCH
	string "--host options on configure for Architecture"

endif # PK_BUDDY_DEMO
