menuconfig PK_HMM_CXL_SHMEM_GPU
	select DIY_CPU_Q35
	select DIY_VIOMMU
	select PK_CXL_TOOLS
	select PK_NUMA
	select PK_NUMACTL_LIBNUMA 
	select PK_PCI
	select PK_PCIUTILS
	bool "CXL SHMEM: GPU(VFIO)"

if PK_HMM_CXL_SHMEM_GPU

config PK_HMM_CXL_SHMEM_GPU_VERSION
	default "default"
	string "verstion"

config PK_HMM_CXL_SHMEM_GPU_TAR
	default "tar.gz"
	string "tar type"

config PK_HMM_CXL_SHMEM_GPU_URL
	default "https://gitee.com/BiscuitOS_team/HardStack/raw/Gitee/Memory-Allocator/HMM-MECH/BiscuitOS-CXL-SHMEM-GPU"
	string "url"

config PK_HMM_CXL_SHMEM_GPU_GITHUB
	string "GitHub"

config PK_HMM_CXL_SHMEM_GPU_SRCFILE
	default "main.c Makefile RunBiscuitOS.sh"
	string "Source code list"

config PK_HMM_CXL_SHMEM_GPU_CSRCFILE
	string "Compile source code list"

config PK_HMM_CXL_SHMEM_GPU_CONFIG
	string "CONFIG: Project Configure Options"

config PK_HMM_CXL_SHMEM_GPU_LIBPATH
	string "LIBS: Libraries to pass to the linker, e.g. -l<library>"

config PK_HMM_CXL_SHMEM_GPU_CPPFLAGS
	string "CPPFLAGS: C/C++ preprocessor flags, e.g. -I<include dir>"

config PK_HMM_CXL_SHMEM_GPU_DPKCONFIG
	string "PKG_CONFIG_PATH: Directories to add to pkg-config's search path"

config PK_HMM_CXL_SHMEM_GPU_CFLAGS
	string "CFLAGS: C compiler flags"

config PK_HMM_CXL_SHMEM_GPU_LDFLAGS
	string "LDFLAGS: Linker flags"

config PK_HMM_CXL_SHMEM_GPU_CXXFLAGS
	string "CXXFLAGS: C++ compiler flags"

config PK_HMM_CXL_SHMEM_GPU_ASFLAGS
	string "CCASFLAGS: assembler compiler flags (defaults to CFLAGS)"

config PK_HMM_CXL_SHMEM_GPU_BUILDARCH
	string "--host options on configure for Architecture"

endif # PK_HMM_CXL_SHMEM_GPU
