menuconfig PK_TCMALLOC
	bool "tcmalloc: Thread-Caching Malloc"

if PK_TCMALLOC

# tcmalloc
source package/tcmalloc/tcmalloc/Kconfig

# TCMALLOC APP DEMO
source package/tcmalloc/BiscuitOS-TCMALLOC-APP/Kconfig

endif # PK_TCMALLOC
