menuconfig PK_PAGING_PAGEWALK_MADV_COLD
	bool "PageWalk Use-Case: MADV_COLD"

if PK_PAGING_PAGEWALK_MADV_COLD

config PK_PAGING_PAGEWALK_MADV_COLD_VERSION
	default "default"
	string "verstion"

config PK_PAGING_PAGEWALK_MADV_COLD_TAR
	default "tar.gz"
	string "tar type"

config PK_PAGING_PAGEWALK_MADV_COLD_URL
	default "https://gitee.com/BiscuitOS_team/HardStack/raw/Gitee/Memory-Allocator/PAGING-MECH/BiscuitOS-PAGING-PageWalk-MADV_COLD"
	string "url"

config PK_PAGING_PAGEWALK_MADV_COLD_GITHUB
	string "GitHub"

config PK_PAGING_PAGEWALK_MADV_COLD_SRCFILE
	default "main.c Makefile"
	string "Source code list"

config PK_PAGING_PAGEWALK_MADV_COLD_CSRCFILE
	string "Compile source code list"

config PK_PAGING_PAGEWALK_MADV_COLD_CONFIG
	string "CONFIG: Project Configure Options"

config PK_PAGING_PAGEWALK_MADV_COLD_LIBPATH
	string "LIBS: Libraries to pass to the linker, e.g. -l<library>"

config PK_PAGING_PAGEWALK_MADV_COLD_CPPFLAGS
	string "CPPFLAGS: C/C++ preprocessor flags, e.g. -I<include dir>"

config PK_PAGING_PAGEWALK_MADV_COLD_DPKCONFIG
	string "PKG_CONFIG_PATH: Directories to add to pkg-config's search path"

config PK_PAGING_PAGEWALK_MADV_COLD_CFLAGS
	string "CFLAGS: C compiler flags"

config PK_PAGING_PAGEWALK_MADV_COLD_LDFLAGS
	string "LDFLAGS: Linker flags"

config PK_PAGING_PAGEWALK_MADV_COLD_CXXFLAGS
	string "CXXFLAGS: C++ compiler flags"

config PK_PAGING_PAGEWALK_MADV_COLD_ASFLAGS
	string "CCASFLAGS: assembler compiler flags (defaults to CFLAGS)"

config PK_PAGING_PAGEWALK_MADV_COLD_BUILDARCH
	string "--host options on configure for Architecture"

endif # PK_PAGING_PAGEWALK_MADV_COLD
