menuconfig PK_X86_MSR
	bool "MSR Register"

if PK_X86_MSR

# MSR_IA32_EFER
source "package/Register/x86/MSR/MSR-IA32_EFER/Kconfig"

# MSR_IA32_MTRRCAP
source "package/Register/x86/MSR/MSR-IA32_MTRRCAP/Kconfig"

# MSR_IA32_MTRR_DEF_TYPE
source "package/Register/x86/MSR/MSR-IA32_MTRR_DEF_TYPE/Kconfig"

# MSR_IA32_MTRR_FIX64K_00000
source "package/Register/x86/MSR/MSR-IA32_MTRR_FIX64K_00000/Kconfig"

# MSR_IA32_MTRR_FIX16K_80000
source "package/Register/x86/MSR/MSR-IA32_MTRR_FIX16K_80000/Kconfig"

# MSR_IA32_MTRR_FIX16K_A0000
source "package/Register/x86/MSR/MSR-IA32_MTRR_FIX16K_A0000/Kconfig"

# MSR_IA32_MTRR_FIX4K_C0000
source "package/Register/x86/MSR/MSR-IA32_MTRR_FIX4K_C0000/Kconfig"

# MSR_IA32_MTRR_FIX4K_C8000
source "package/Register/x86/MSR/MSR-IA32_MTRR_FIX4K_C8000/Kconfig"

# MSR_IA32_MTRR_FIX4K_D0000
source "package/Register/x86/MSR/MSR-IA32_MTRR_FIX4K_D0000/Kconfig"

# MSR_IA32_MTRR_FIX4K_D8000
source "package/Register/x86/MSR/MSR-IA32_MTRR_FIX4K_D8000/Kconfig"

# MSR_IA32_MTRR_FIX4K_E0000
source "package/Register/x86/MSR/MSR-IA32_MTRR_FIX4K_E0000/Kconfig"

# MSR_IA32_MTRR_FIX4K_E8000
source "package/Register/x86/MSR/MSR-IA32_MTRR_FIX4K_E8000/Kconfig"

# MSR_IA32_MTRR_FIX4K_F0000
source "package/Register/x86/MSR/MSR-IA32_MTRR_FIX4K_F0000/Kconfig"

# MSR_IA32_MTRR_FIX4K_F8000
source "package/Register/x86/MSR/MSR-IA32_MTRR_FIX4K_F8000/Kconfig"

# MSR_IA32_MTRR_PHYSBASEn
source "package/Register/x86/MSR/MSR-IA32_MTRR_PHYSBASEn/Kconfig"

# MSR_IA32_MTRR_PHYSMASKn
source "package/Register/x86/MSR/MSR-IA32_MTRR_PHYSMASKn/Kconfig"

endif # PK_REGISTER_X86
