menuconfig PK_PAGING_PROC_SMAPS_SHMEMPMDMAPPED
	bool "PROC SMAPS with Shmem PMD-Mapped Memory"

if PK_PAGING_PROC_SMAPS_SHMEMPMDMAPPED

config PK_PAGING_PROC_SMAPS_SHMEMPMDMAPPED_VERSION
	default "default"
	string "verstion"

config PK_PAGING_PROC_SMAPS_SHMEMPMDMAPPED_TAR
	default "tar.gz"
	string "tar type"

config PK_PAGING_PROC_SMAPS_SHMEMPMDMAPPED_URL
	default "https://gitee.com/BiscuitOS_team/HardStack/raw/Gitee/Memory-Allocator/PAGING-MECH/BiscuitOS-PAGING-PROC-SMAPS-SHMEMPMDMAPPED"
	string "url"

config PK_PAGING_PROC_SMAPS_SHMEMPMDMAPPED_GITHUB
	string "GitHub"

config PK_PAGING_PROC_SMAPS_SHMEMPMDMAPPED_SRCFILE
	default "main.c Makefile RunBiscuitOS.sh"
	string "Source code list"

config PK_PAGING_PROC_SMAPS_SHMEMPMDMAPPED_CSRCFILE
	string "Compile source code list"

config PK_PAGING_PROC_SMAPS_SHMEMPMDMAPPED_CONFIG
	string "CONFIG: Project Configure Options"

config PK_PAGING_PROC_SMAPS_SHMEMPMDMAPPED_LIBPATH
	string "LIBS: Libraries to pass to the linker, e.g. -l<library>"

config PK_PAGING_PROC_SMAPS_SHMEMPMDMAPPED_CPPFLAGS
	string "CPPFLAGS: C/C++ preprocessor flags, e.g. -I<include dir>"

config PK_PAGING_PROC_SMAPS_SHMEMPMDMAPPED_DPKCONFIG
	string "PKG_CONFIG_PATH: Directories to add to pkg-config's search path"

config PK_PAGING_PROC_SMAPS_SHMEMPMDMAPPED_CFLAGS
	string "CFLAGS: C compiler flags"

config PK_PAGING_PROC_SMAPS_SHMEMPMDMAPPED_LDFLAGS
	string "LDFLAGS: Linker flags"

config PK_PAGING_PROC_SMAPS_SHMEMPMDMAPPED_CXXFLAGS
	string "CXXFLAGS: C++ compiler flags"

config PK_PAGING_PROC_SMAPS_SHMEMPMDMAPPED_ASFLAGS
	string "CCASFLAGS: assembler compiler flags (defaults to CFLAGS)"

config PK_PAGING_PROC_SMAPS_SHMEMPMDMAPPED_BUILDARCH
	string "--host options on configure for Architecture"

endif # PK_PAGING_PROC_SMAPS_SHMEMPMDMAPPED
