menuconfig PK_NEXT_ONLINE_NODE
	bool "next_online_node"

if PK_NEXT_ONLINE_NODE

config PK_NEXT_ONLINE_NODE_VERSION
	default "default"
	string "verstion"

config PK_NEXT_ONLINE_NODE_TAR
	default "tar.gz"
	string "tar type"

config PK_NEXT_ONLINE_NODE_URL
	default "https://gitee.com/BiscuitOS_team/HardStack/raw/Gitee/Algorithem/nodemask/next_online_node"
	string "url"

config PK_NEXT_ONLINE_NODE_GITHUB
	string "GitHub"

config PK_NEXT_ONLINE_NODE_SRCFILE
	default "main.c Kconfig Makefile"
	string "Source code list"

config PK_NEXT_ONLINE_NODE_CSRCFILE
	string "Compile source code list"

config PK_NEXT_ONLINE_NODE_CONFIG
	string "CONFIG: Project Configure Options"

config PK_NEXT_ONLINE_NODE_LIBPATH
	string "LIBS: Libraries to pass to the linker, e.g. -l<library>"

config PK_NEXT_ONLINE_NODE_CPPFLAGS
	string "CPPFLAGS: C/C++ preprocessor flags, e.g. -I<include dir>"

config PK_NEXT_ONLINE_NODE_DPKCONFIG
	string "PKG_CONFIG_PATH: Directories to add to pkg-config's search path"

config PK_NEXT_ONLINE_NODE_CFLAGS
	string "CFLAGS: C compiler flags"

config PK_NEXT_ONLINE_NODE_LDFLAGS
	string "LDFLAGS: Linker flags"

config PK_NEXT_ONLINE_NODE_CXXFLAGS
	string "CXXFLAGS: C++ compiler flags"

config PK_NEXT_ONLINE_NODE_ASFLAGS
	string "CCASFLAGS: assembler compiler flags (defaults to CFLAGS)"

config PK_NEXT_ONLINE_NODE_BUILDARCH
	string "--host options on configure for Architecture"

endif # PK_NEXT_ONLINE_NODE
