menuconfig PK_MM_ERR_PERMANENT_OVERFLOW
	bool "Permanent Mapping BUG: Overflow Range"

if PK_MM_ERR_PERMANENT_OVERFLOW

config PK_MM_ERR_PERMANENT_OVERFLOW_VERSION
	default "default"
	string "verstion"

config PK_MM_ERR_PERMANENT_OVERFLOW_TAR
	default "tar.gz"
	string "tar type"

config PK_MM_ERR_PERMANENT_OVERFLOW_URL
	default "https://gitee.com/BiscuitOS_team/HardStack/raw/Gitee/Memory-Allocator/FIXMAP/BiscuitOS-Permanent"
	string "url"

config PK_MM_ERR_PERMANENT_OVERFLOW_GITHUB
	string "GitHub"

config PK_MM_ERR_PERMANENT_OVERFLOW_SRCFILE
	default "main.c Kconfig Makefile"
	string "Source code list"

config PK_MM_ERR_PERMANENT_OVERFLOW_CSRCFILE
	string "Compile source code list"

config PK_MM_ERR_PERMANENT_OVERFLOW_CONFIG
	string "CONFIG: Project Configure Options"

config PK_MM_ERR_PERMANENT_OVERFLOW_LIBPATH
	string "LIBS: Libraries to pass to the linker, e.g. -l<library>"

config PK_MM_ERR_PERMANENT_OVERFLOW_CPPFLAGS
	string "CPPFLAGS: C/C++ preprocessor flags, e.g. -I<include dir>"

config PK_MM_ERR_PERMANENT_OVERFLOW_DPKCONFIG
	string "PKG_CONFIG_PATH: Directories to add to pkg-config's search path"

config PK_MM_ERR_PERMANENT_OVERFLOW_CFLAGS
	string "CFLAGS: C compiler flags"

config PK_MM_ERR_PERMANENT_OVERFLOW_LDFLAGS
	string "LDFLAGS: Linker flags"

config PK_MM_ERR_PERMANENT_OVERFLOW_CXXFLAGS
	string "CXXFLAGS: C++ compiler flags"

config PK_MM_ERR_PERMANENT_OVERFLOW_ASFLAGS
	string "CCASFLAGS: assembler compiler flags (defaults to CFLAGS)"

config PK_MM_ERR_PERMANENT_OVERFLOW_BUILDARCH
	string "--host options on configure for Architecture"

endif # PK_MM_ERR_PERMANENT_OVERFLOW
