menuconfig PK_REPEAT_BYTE
	bool "REPEAT_BYTE()"

if PK_REPEAT_BYTE

config PK_REPEAT_BYTE_VERSION
	default "0.0.1"
	string "verstion"

config PK_REPEAT_BYTE_TAR
	default "tar.gz"
	string "tar type"

config PK_REPEAT_BYTE_URL
	default "https://gitee.com/BiscuitOS_team/HardStack/raw/Gitee/Algorithem/hash/API/REPEAT_BYTE"
	string "url"

config PK_REPEAT_BYTE_GITHUB
	string "GitHub"

config PK_REPEAT_BYTE_SRCFILE
	default "core.c Kconfig Makefile"
	string "Source code list"

config PK_REPEAT_BYTE_CSRCFILE
	string "Compile source code list"

config PK_REPEAT_BYTE_CONFIG
	string "CONFIG: Project Configure Options"

config PK_REPEAT_BYTE_LIBPATH
	string "LIBS: Libraries to pass to the linker, e.g. -l<library>"

config PK_REPEAT_BYTE_CPPFLAGS
	string "CPPFLAGS: C/C++ preprocessor flags, e.g. -I<include dir>"

config PK_REPEAT_BYTE_DPKCONFIG
	string "PKG_CONFIG_PATH: Directories to add to pkg-config's search path"

config PK_REPEAT_BYTE_CFLAGS
	string "CFLAGS: C compiler flags"

config PK_REPEAT_BYTE_LDFLAGS
	string "LDFLAGS: Linker flags"

config PK_REPEAT_BYTE_CXXFLAGS
	string "CXXFLAGS: C++ compiler flags"

config PK_REPEAT_BYTE_ASFLAGS
	string "CCASFLAGS: assembler compiler flags (defaults to CFLAGS)"

config PK_REPEAT_BYTE_BUILDARCH
	string "--host options on configure for Architecture"

endif # PK_REPEAT_BYTE
