menuconfig PK_MEMORY_GUP_FOLL_WRITE
	bool "GUP: FOLL_WRITE"

if PK_MEMORY_GUP_FOLL_WRITE

config PK_MEMORY_GUP_FOLL_WRITE_VERSION
	default "default"
	string "verstion"

config PK_MEMORY_GUP_FOLL_WRITE_TAR
	default "tar.gz"
	string "tar type"

config PK_MEMORY_GUP_FOLL_WRITE_URL
	default "https://gitee.com/BiscuitOS_team/HardStack/raw/Gitee/Memory-Allocator/MMAP-MECH/BiscuitOS-MEMORY-GUP-FOLL-WRITE"
	string "url"

config PK_MEMORY_GUP_FOLL_WRITE_GITHUB
	string "GitHub"

config PK_MEMORY_GUP_FOLL_WRITE_SRCFILE
	default "app.c  Kconfig  main.c  Makefile  Makefile.host  RunBiscuitOS.sh"
	string "Source code list"

config PK_MEMORY_GUP_FOLL_WRITE_CSRCFILE
	string "Compile source code list"

config PK_MEMORY_GUP_FOLL_WRITE_CONFIG
	string "CONFIG: Project Configure Options"

config PK_MEMORY_GUP_FOLL_WRITE_LIBPATH
	string "LIBS: Libraries to pass to the linker, e.g. -l<library>"

config PK_MEMORY_GUP_FOLL_WRITE_CPPFLAGS
	string "CPPFLAGS: C/C++ preprocessor flags, e.g. -I<include dir>"

config PK_MEMORY_GUP_FOLL_WRITE_DPKCONFIG
	string "PKG_CONFIG_PATH: Directories to add to pkg-config's search path"

config PK_MEMORY_GUP_FOLL_WRITE_CFLAGS
	string "CFLAGS: C compiler flags"

config PK_MEMORY_GUP_FOLL_WRITE_LDFLAGS
	string "LDFLAGS: Linker flags"

config PK_MEMORY_GUP_FOLL_WRITE_CXXFLAGS
	string "CXXFLAGS: C++ compiler flags"

config PK_MEMORY_GUP_FOLL_WRITE_ASFLAGS
	string "CCASFLAGS: assembler compiler flags (defaults to CFLAGS)"

config PK_MEMORY_GUP_FOLL_WRITE_BUILDARCH
	string "--host options on configure for Architecture"

endif # PK_MEMORY_GUP_FOLL_WRITE
