menuconfig PK_LIBXCOMPOSITE
	bool "libXcomposite"

if PK_LIBXCOMPOSITE

config LIB_LIBXCOMPOSITE_VERSION
	default "0.4.3" if X11R7_7
	default "0.4.3"
	string "verstion"

config LIB_LIBXCOMPOSITE_TAR
	default "tar.gz"
	string "tar type"

config LIB_LIBXCOMPOSITE_URL
	default "https://www.x.org/releases/X11R7.7/src/lib/" if X11R7_7
	default "https://www.x.org/releases/X11R7.7/src/lib/"
	string "url"

config LIB_LIBXCOMPOSITE_SRC
	string "source code list"

config LIB_LIBXCOMPOSITE_LDFLAGS
	string "LDFLAGS"

config LIB_LIBXCOMPOSITE_CFLAGS
	string "CFLAGS"

config LIB_LIBXCOMPOSITE_CONFIG
	string "configure"

endif # PK_LIBXCOMPOSITE
