#
# Rootfs configure menu
#

menuconfig ROOTFS
	bool "Root-Filesystem"
	default y
	help
	  The rootfs for BiscuitOS

if ROOTFS

# Ext4
source fs/ext4/Kconfig

# MINIX-FS
source fs/minix/Kconfig

# Ext2
source fs/ext2/Kconfig

# MSDOS
source fs/msdos/Kconfig

# XV6
source fs/xv6/Kconfig

endif # Rootfs
