#
# Rootfs configure menu
#

menu "Rootfs: file system"

config ROOTFS
	bool "Rootfs for BiscuitOS"
	default y
	help
	  The rootfs for BiscuitOS

if ROOTFS

# Ext4
source fs/ext4/Kconfig

endif # Rootfs

endmenu
