menuconfig PK_TLB_FLUSH_NOTIFY
	select PK_TLB_FLUSH_APP
	bool "TLB FLUSH Notify Mechansim"

if PK_TLB_FLUSH_NOTIFY

config PK_TLB_FLUSH_NOTIFY_VERSION
	default "default"
	string "verstion"

config PK_TLB_FLUSH_NOTIFY_TAR
	default "tar.gz"
	string "tar type"

config PK_TLB_FLUSH_NOTIFY_URL
	default "https://gitee.com/BiscuitOS_team/HardStack/raw/Gitee/Memory-Allocator/TLB/BiscuitOS-TLB-FLUSH-NOTIFY"
	string "url"

config PK_TLB_FLUSH_NOTIFY_GITHUB
	string "GitHub"

config PK_TLB_FLUSH_NOTIFY_SRCFILE
	default "main.c Makefile Kconfig"
	string "Source code list"

config PK_TLB_FLUSH_NOTIFY_CSRCFILE
	string "Compile source code list"

config PK_TLB_FLUSH_NOTIFY_CONFIG
	string "CONFIG: Project Configure Options"

config PK_TLB_FLUSH_NOTIFY_LIBPATH
	string "LIBS: Libraries to pass to the linker, e.g. -l<library>"

config PK_TLB_FLUSH_NOTIFY_CPPFLAGS
	string "CPPFLAGS: C/C++ preprocessor flags, e.g. -I<include dir>"

config PK_TLB_FLUSH_NOTIFY_DPKCONFIG
	string "PKG_CONFIG_PATH: Directories to add to pkg-config's search path"

config PK_TLB_FLUSH_NOTIFY_CFLAGS
	string "CFLAGS: C compiler flags"

config PK_TLB_FLUSH_NOTIFY_LDFLAGS
	string "LDFLAGS: Linker flags"

config PK_TLB_FLUSH_NOTIFY_CXXFLAGS
	string "CXXFLAGS: C++ compiler flags"

config PK_TLB_FLUSH_NOTIFY_ASFLAGS
	string "CCASFLAGS: assembler compiler flags (defaults to CFLAGS)"

config PK_TLB_FLUSH_NOTIFY_BUILDARCH
	string "--host options on configure for Architecture"

endif # PK_TLB_FLUSH_NOTIFY
