menuconfig PK_ALGO_BITMAP
	bool "Algo  Bitmap"

if PK_ALGO_BITMAP

config ALGO_BITMAP_VERSION
	default "0.11"
	string "verstion"

config ALGO_BITMAP_TAR
	string "tar type"

config ALGO_BITMAP_URL
	default "https://raw.githubusercontent.com/BiscuitOS/HardStack/master/Algorithem/bitmap/Basic/"
	string "url"

config ALGO_BITMAP_LDFLAGS
	string "LDFLAGS"

config ALGO_BITMAP_CFLAGS
	string "CFLAGS"

config ALGO_BITMAP_CONFIG
	string "configure"

config ALGO_BITMAP_SRC
	default "Makefile bitmap.c bitmap.h bitmap_run.c"
	string "source code list"

endif # PK_ALGO_BITMAP
