menuconfig PK_OPENSSL
	bool "openssl"

if PK_OPENSSL

config OPENSSL_VERSION
	default "1.0.2e"
	string "verstion"

config OPENSSL_TAR
	default "tar.gz"
	string "tar type"

config OPENSSL_URL
	default "http://repository.timesys.com/buildsources/o/openssl/openssl-1.0.2e/"
	string "url"

config OPENSSL_SRC
	string "source code list"

config OPENSSL_LDFLAGS
	string "LDFLAGS"

config OPENSSL_CFLAGS
	string "CFLAGS"

config OPENSSL_CONFIG
	default "dist"
	string "configure"

endif # PK_OPENSSL
