menuconfig PK_KFREE_CONST
	bool "kfree_const()"

if PK_KFREE_CONST

config PK_KFREE_CONST_VERSION
	default "0.0.1"
	string "verstion"

config PK_KFREE_CONST_TAR
	default "tar.gz"
	string "tar type"

config PK_KFREE_CONST_URL
	default "https://gitee.com/BiscuitOS_team/HardStack/raw/Gitee/Memory-Allocator/slab/API/kfree_const"
	string "url"

config PK_KFREE_CONST_GITHUB
	string "GitHub"

config PK_KFREE_CONST_SRCFILE
	default "core.c Makefile"
	string "Source code list"

config PK_KFREE_CONST_CSRCFILE
	string "Compile source code list"

config PK_KFREE_CONST_CONFIG
	string "CONFIG: Project Configure Options"

config PK_KFREE_CONST_LIBPATH
	string "LIBS: Libraries to pass to the linker, e.g. -l<library>"

config PK_KFREE_CONST_CPPFLAGS
	string "CPPFLAGS: C/C++ preprocessor flags, e.g. -I<include dir>"

config PK_KFREE_CONST_DPKCONFIG
	string "PKG_CONFIG_PATH: Directories to add to pkg-config's search path"

config PK_KFREE_CONST_CFLAGS
	string "CFLAGS: C compiler flags"

config PK_KFREE_CONST_LDFLAGS
	string "LDFLAGS: Linker flags"

config PK_KFREE_CONST_CXXFLAGS
	string "CXXFLAGS: C++ compiler flags"

config PK_KFREE_CONST_ASFLAGS
	string "CCASFLAGS: assembler compiler flags (defaults to CFLAGS)"

config PK_KFREE_CONST_BUILDARCH
	string "--host options on configure for Architecture"

endif # PK_KFREE_CONST
