menuconfig PK_MADVISE_MADV_REMOVE
	bool "MADV_REMOVE: Remove these pages & resources"

if PK_MADVISE_MADV_REMOVE

config PK_MADVISE_MADV_REMOVE_VERSION
	default "default"
	string "verstion"

config PK_MADVISE_MADV_REMOVE_TAR
	default "tar.gz"
	string "tar type"

config PK_MADVISE_MADV_REMOVE_URL
	default "https://gitee.com/BiscuitOS_team/HardStack/raw/Gitee/Memory-Allocator/MADVISE-MECH/BiscuitOS-madvise-MADV_REMOVE"
	string "url"

config PK_MADVISE_MADV_REMOVE_GITHUB
	string "GitHub"

config PK_MADVISE_MADV_REMOVE_SRCFILE
	default "main.c Makefile RunBiscuitOS.sh"
	string "Source code list"

config PK_MADVISE_MADV_REMOVE_CSRCFILE
	string "Compile source code list"

config PK_MADVISE_MADV_REMOVE_CONFIG
	string "CONFIG: Project Configure Options"

config PK_MADVISE_MADV_REMOVE_LIBPATH
	string "LIBS: Libraries to pass to the linker, e.g. -l<library>"

config PK_MADVISE_MADV_REMOVE_CPPFLAGS
	string "CPPFLAGS: C/C++ preprocessor flags, e.g. -I<include dir>"

config PK_MADVISE_MADV_REMOVE_DPKCONFIG
	string "PKG_CONFIG_PATH: Directories to add to pkg-config's search path"

config PK_MADVISE_MADV_REMOVE_CFLAGS
	string "CFLAGS: C compiler flags"

config PK_MADVISE_MADV_REMOVE_LDFLAGS
	string "LDFLAGS: Linker flags"

config PK_MADVISE_MADV_REMOVE_CXXFLAGS
	string "CXXFLAGS: C++ compiler flags"

config PK_MADVISE_MADV_REMOVE_ASFLAGS
	string "CCASFLAGS: assembler compiler flags (defaults to CFLAGS)"

config PK_MADVISE_MADV_REMOVE_BUILDARCH
	string "--host options on configure for Architecture"

endif # PK_MADVISE_MADV_REMOVE
