menuconfig PK_KOBJECT_INIT
	bool "kobject_init()"

if PK_KOBJECT_INIT

config PK_KOBJECT_INIT_VERSION
	default "0.0.1"
	string "verstion"

config PK_KOBJECT_INIT_TAR
	default "tar.gz"
	string "tar type"

config PK_KOBJECT_INIT_URL
	default "https://gitee.com/BiscuitOS_team/HardStack/raw/Gitee/Algorithem/kobject/API/kobject_init"
	string "url"

config PK_KOBJECT_INIT_GITHUB
	string "GitHub"

config PK_KOBJECT_INIT_SRCFILE
	default "core.c Kconfig Makefile"
	string "Source code list"

config PK_KOBJECT_INIT_CSRCFILE
	string "Compile source code list"

config PK_KOBJECT_INIT_CONFIG
	string "CONFIG: Project Configure Options"

config PK_KOBJECT_INIT_LIBPATH
	string "LIBS: Libraries to pass to the linker, e.g. -l<library>"

config PK_KOBJECT_INIT_CPPFLAGS
	string "CPPFLAGS: C/C++ preprocessor flags, e.g. -I<include dir>"

config PK_KOBJECT_INIT_DPKCONFIG
	string "PKG_CONFIG_PATH: Directories to add to pkg-config's search path"

config PK_KOBJECT_INIT_CFLAGS
	string "CFLAGS: C compiler flags"

config PK_KOBJECT_INIT_LDFLAGS
	string "LDFLAGS: Linker flags"

config PK_KOBJECT_INIT_CXXFLAGS
	string "CXXFLAGS: C++ compiler flags"

config PK_KOBJECT_INIT_ASFLAGS
	string "CCASFLAGS: assembler compiler flags (defaults to CFLAGS)"

config PK_KOBJECT_INIT_BUILDARCH
	string "--host options on configure for Architecture"

endif # PK_KOBJECT_INIT
