menuconfig PK_MEMBLOCK_MEMBLOCK_GET_CURRENT_LIMIT
	bool "MEMBLOCK API: memblock_get_current_limit()"

if PK_MEMBLOCK_MEMBLOCK_GET_CURRENT_LIMIT

config PK_MEMBLOCK_MEMBLOCK_GET_CURRENT_LIMIT_VERSION
	default "default"
	string "verstion"

config PK_MEMBLOCK_MEMBLOCK_GET_CURRENT_LIMIT_TAR
	default "tar.gz"
	string "tar type"

config PK_MEMBLOCK_MEMBLOCK_GET_CURRENT_LIMIT_URL
	default "https://gitee.com/BiscuitOS_team/HardStack/raw/Gitee/Memory-Allocator/MEMBLOCK/BiscuitOS-MEMBLOCK-memblock_get_current_limit"
	string "url"

config PK_MEMBLOCK_MEMBLOCK_GET_CURRENT_LIMIT_GITHUB
	string "GitHub"

config PK_MEMBLOCK_MEMBLOCK_GET_CURRENT_LIMIT_SRCFILE
	default "main.c Kconfig Makefile BiscuitOS_Insert.bs"
	string "Source code list"

config PK_MEMBLOCK_MEMBLOCK_GET_CURRENT_LIMIT_CSRCFILE
	string "Compile source code list"

config PK_MEMBLOCK_MEMBLOCK_GET_CURRENT_LIMIT_CONFIG
	string "CONFIG: Project Configure Options"

config PK_MEMBLOCK_MEMBLOCK_GET_CURRENT_LIMIT_LIBPATH
	string "LIBS: Libraries to pass to the linker, e.g. -l<library>"

config PK_MEMBLOCK_MEMBLOCK_GET_CURRENT_LIMIT_CPPFLAGS
	string "CPPFLAGS: C/C++ preprocessor flags, e.g. -I<include dir>"

config PK_MEMBLOCK_MEMBLOCK_GET_CURRENT_LIMIT_DPKCONFIG
	string "PKG_CONFIG_PATH: Directories to add to pkg-config's search path"

config PK_MEMBLOCK_MEMBLOCK_GET_CURRENT_LIMIT_CFLAGS
	string "CFLAGS: C compiler flags"

config PK_MEMBLOCK_MEMBLOCK_GET_CURRENT_LIMIT_LDFLAGS
	string "LDFLAGS: Linker flags"

config PK_MEMBLOCK_MEMBLOCK_GET_CURRENT_LIMIT_CXXFLAGS
	string "CXXFLAGS: C++ compiler flags"

config PK_MEMBLOCK_MEMBLOCK_GET_CURRENT_LIMIT_ASFLAGS
	string "CCASFLAGS: assembler compiler flags (defaults to CFLAGS)"

config PK_MEMBLOCK_MEMBLOCK_GET_CURRENT_LIMIT_BUILDARCH
	string "--host options on configure for Architecture"

endif # PK_MEMBLOCK_MEMBLOCK_GET_CURRENT_LIMIT
