menuconfig PK_LIBDRM
	bool "libdrm"

if PK_LIBDRM

config LIB_LIBDRM_VERSION
	default "2.4.88"
	string "verstion"

config LIB_LIBDRM_TAR
	default "tar.bz2"
	string "tar type"

config LIB_LIBDRM_URL
	default "http://repository.timesys.com/buildsources/l/libdrm/libdrm-2.4.88/"
	string "url"

config LIB_LIBDRM_SRC
	string "source code list"

config LIB_LIBDRM_LDFLAGS
	string "LDFLAGS"

config LIB_LIBDRM_CFLAGS
	string "CFLAGS"

config LIB_LIBDRM_CONFIG
	string "configure"

endif # PK_LIBDRM
