menuconfig PK_PAGING_PF_UFFD_REMAP
	bool "Page Fault with userfaultfd on REMAP"

if PK_PAGING_PF_UFFD_REMAP

config PK_PAGING_PF_UFFD_REMAP_VERSION
	default "default"
	string "verstion"

config PK_PAGING_PF_UFFD_REMAP_TAR
	default "tar.gz"
	string "tar type"

config PK_PAGING_PF_UFFD_REMAP_URL
	default "https://gitee.com/BiscuitOS_team/HardStack/raw/Gitee/Memory-Allocator/PAGING-MECH/BiscuitOS-PAGING-PF-UFFD-REMAP"
	string "url"

config PK_PAGING_PF_UFFD_REMAP_GITHUB
	string "GitHub"

config PK_PAGING_PF_UFFD_REMAP_SRCFILE
	default "main.c Makefile RunBiscuitOS.sh"
	string "Source code list"

config PK_PAGING_PF_UFFD_REMAP_CSRCFILE
	string "Compile source code list"

config PK_PAGING_PF_UFFD_REMAP_CONFIG
	string "CONFIG: Project Configure Options"

config PK_PAGING_PF_UFFD_REMAP_LIBPATH
	string "LIBS: Libraries to pass to the linker, e.g. -l<library>"

config PK_PAGING_PF_UFFD_REMAP_CPPFLAGS
	string "CPPFLAGS: C/C++ preprocessor flags, e.g. -I<include dir>"

config PK_PAGING_PF_UFFD_REMAP_DPKCONFIG
	string "PKG_CONFIG_PATH: Directories to add to pkg-config's search path"

config PK_PAGING_PF_UFFD_REMAP_CFLAGS
	string "CFLAGS: C compiler flags"

config PK_PAGING_PF_UFFD_REMAP_LDFLAGS
	string "LDFLAGS: Linker flags"

config PK_PAGING_PF_UFFD_REMAP_CXXFLAGS
	string "CXXFLAGS: C++ compiler flags"

config PK_PAGING_PF_UFFD_REMAP_ASFLAGS
	string "CCASFLAGS: assembler compiler flags (defaults to CFLAGS)"

config PK_PAGING_PF_UFFD_REMAP_BUILDARCH
	string "--host options on configure for Architecture"

endif # PK_PAGING_PF_UFFD_REMAP
