menu "Architecture configure"

choice
	prompt "Setup Machine Architecture"

config x86
	bool "Intel x86 board (Compat: i386,486 etc)"

config ARM
	bool "ARM 32-bit"

config ARM64
	bool "ARM 64-bit"

endchoice

config ARCH_MAGIC
	string
	default "1" if x86
	default "2" if ARM
	default "3" if ARM64

endmenu
