menu "Architecture configure"

config I386
	bool "Intel i386sx board"

config I486
	bool "Intel i486 board"

config I586
	bool "Intel i586 board"

config I686
	bool "Intel i686 board"

config x86
	bool "Intel x86 board"

endmenu




























