menuconfig PK_ALGO_BINARYTREE
	bool "Algo  binary-tree"

if PK_ALGO_BINARYTREE

config ALGO_BINARYTREE_VERSION
	default "0.11"
	string "verstion"

config ALGO_BINARYTREE_TAR
	string "tar type"

config ALGO_BINARYTREE_URL
	default "https://raw.githubusercontent.com/BiscuitOS/HardStack/master/Algorithem/tree/binary-tree/Basic/"
	string "url"

config ALGO_BINARYTREE_LDFLAGS
	string "LDFLAGS"

config ALGO_BINARYTREE_CFLAGS
	string "CFLAGS"

config ALGO_BINARYTREE_CONFIG
	string "configure"

config ALGO_BINARYTREE_SRC
	default "binary.c"
	string "source code list"

config ALGO_BINARYTREE_CSRC
	default "binary.c"
	string "Compile source code list"

endif # PK_ALGO_BINARYTREE
