menuconfig PK_MSR_IA32_MTRR_FIX4K_D0000
	bool "MSR IA32_MTRR_FIX4K_D0000"

if PK_MSR_IA32_MTRR_FIX4K_D0000

config PK_MSR_IA32_MTRR_FIX4K_D0000_VERSION
	default "default"
	string "verstion"

config PK_MSR_IA32_MTRR_FIX4K_D0000_TAR
	default "tar.gz"
	string "tar type"

config PK_MSR_IA32_MTRR_FIX4K_D0000_URL
	default "https://gitee.com/BiscuitOS_team/HardStack/raw/Gitee/Architecture/Intel/Register/MSR-IA32_MTRR_FIX4K_D0000"
	string "url"

config PK_MSR_IA32_MTRR_FIX4K_D0000_GITHUB
	string "GitHub"

config PK_MSR_IA32_MTRR_FIX4K_D0000_SRCFILE
	default "main.c Kconfig Makefile"
	string "Source code list"

config PK_MSR_IA32_MTRR_FIX4K_D0000_CSRCFILE
	string "Compile source code list"

config PK_MSR_IA32_MTRR_FIX4K_D0000_CONFIG
	string "CONFIG: Project Configure Options"

config PK_MSR_IA32_MTRR_FIX4K_D0000_LIBPATH
	string "LIBS: Libraries to pass to the linker, e.g. -l<library>"

config PK_MSR_IA32_MTRR_FIX4K_D0000_CPPFLAGS
	string "CPPFLAGS: C/C++ preprocessor flags, e.g. -I<include dir>"

config PK_MSR_IA32_MTRR_FIX4K_D0000_DPKCONFIG
	string "PKG_CONFIG_PATH: Directories to add to pkg-config's search path"

config PK_MSR_IA32_MTRR_FIX4K_D0000_CFLAGS
	string "CFLAGS: C compiler flags"

config PK_MSR_IA32_MTRR_FIX4K_D0000_LDFLAGS
	string "LDFLAGS: Linker flags"

config PK_MSR_IA32_MTRR_FIX4K_D0000_CXXFLAGS
	string "CXXFLAGS: C++ compiler flags"

config PK_MSR_IA32_MTRR_FIX4K_D0000_ASFLAGS
	string "CCASFLAGS: assembler compiler flags (defaults to CFLAGS)"

config PK_MSR_IA32_MTRR_FIX4K_D0000_BUILDARCH
	string "--host options on configure for Architecture"

endif # PK_MSR_IA32_MTRR_FIX4K_D0000
