menuconfig PK_E2FSPROGS
	bool "e2fsprogs"

if PK_E2FSPROGS

config E2FSPROGS_VERSION
	default "1.45.3"
	string "verstion"

config E2FSPROGS_TAR
	default "tar.gz"
	string "tar type"

config E2FSPROGS_URL
	default "https://nchc.dl.sourceforge.net/project/e2fsprogs/e2fsprogs/v1.45.3/"
	string "url"

config E2FSPROGS_LDFLAGS
	string "LDFLAGS"

config E2FSPROGS_CFLAGS
	string "CFLAGS"

config E2FSPROGS_CONFIG
	default "--enable-elf-shlibs"
	string "configure"

endif # PK_E2FSPROGS
