menuconfig PK_GLPROTO
	bool "glproto"

if PK_GLPROTO

config GLPROTO_VERSION
	default "1.4.15"
	string "verstion"

config GLPROTO_TAR
	default "tar.gz"
	string "tar type"

config GLPROTO_URL
	default "https://www.x.org/releases/X11R7.7/src/proto/"
	string "url"

config GLPROTO_SRC
	string "source code list"

config GLPROTO_LDFLAGS
	string "LDFLAGS"

config GLPROTO_CFLAGS
	string "CFLAGS"

config GLPROTO_CONFIG
	string "configure"

endif # PK_GLPROTO
