menuconfig PK_PCRE
	bool "videoproto"

if PK_PCRE

config PCRE_VERSION
	default "2.3.3"
	string "verstion"

config PCRE_TAR
	default "tar.bz2"
	string "tar type"

config PCRE_URL
	default "repository.timesys.com/buildsources/v/videoproto/videoproto-2.3.3/"
	string "url"

config PCRE_SRC
	string "source code list"

config PCRE_LDFLAGS
	string "LDFLAGS"

config PCRE_CFLAGS
	string "CFLAGS"

config PCRE_CONFIG
	string "configure"

endif # PK_PCRE
