menuconfig PK_LIBXFIXES
	bool "libXfixes"

if PK_LIBXFIXES

config LIB_LIBXFIXES_VERSION
	default "5.0" if X11R7_7
	default "5.0"
	#default "1.13"
	string "verstion"

config LIB_LIBXFIXES_TAR
	default "tar.gz"
	string "tar type"

config LIB_LIBXFIXES_URL
	default "https://www.x.org/releases/X11R7.7/src/lib/" if X11R7_7
	default "https://www.x.org/releases/X11R7.7/src/lib/"
	#default "https://www.x.org/releases/individual/xcb/"
	string "url"

config LIB_LIBXFIXES_SRC
	string "source code list"

config LIB_LIBXFIXES_LDFLAGS
	string "LDFLAGS"

config LIB_LIBXFIXES_CFLAGS
	string "CFLAGS"

config LIB_LIBXFIXES_CONFIG
	string "configure"

endif # PK_LIBXFIXES
