menuconfig PK_PAGING
	bool "Paging Mechanism"

if PK_PAGING

# Paging
source package/PAGING/BiscuitOS-PAGING/Kconfig

# PGD
source package/PAGING/BiscuitOS-PAGING-PGD/Kconfig

# P4D
source package/PAGING/BiscuitOS-PAGING-P4D/Kconfig

# PUD
source package/PAGING/BiscuitOS-PAGING-PUD/Kconfig

# PMD
source package/PAGING/BiscuitOS-PAGING-PMD/Kconfig

# PTE
source package/PAGING/BiscuitOS-PAGING-PTE/Kconfig

# PGPROT
source package/PAGING/BiscuitOS-PAGING-PGPROT/Kconfig

# 32-Bit Paging mmap 4MiB
source package/PAGING/BiscuitOS-PAGING-32Bit-Paging-MMAP-4MiB/Kconfig

# 32-Bit Paging mmap 4KiB
source package/PAGING/BiscuitOS-PAGING-32Bit-Paging-MMAP-4KiB/Kconfig

# 4-level Paging mmap 1Gig
source package/PAGING/BiscuitOS-PAGING-4level-Paging-MMAP-1Gig/Kconfig

# 4-level Paging mmap 2MiB
source package/PAGING/BiscuitOS-PAGING-4level-Paging-MMAP-2MiB/Kconfig

# 4-level Paging mmap 4KiB
source package/PAGING/BiscuitOS-PAGING-4level-Paging-MMAP-4KiB/Kconfig

# 5-level Paging mmap 1Gig
source package/PAGING/BiscuitOS-PAGING-5level-Paging-MMAP-1Gig/Kconfig

# 5-level Paging mmap 2MiB
source package/PAGING/BiscuitOS-PAGING-5level-Paging-MMAP-2MiB/Kconfig

# 5-level Paging mmap 4KiB
source package/PAGING/BiscuitOS-PAGING-5level-Paging-MMAP-4KiB/Kconfig

# PageWalk Mechanism
source package/PAGING/BiscuitOS-PAGING-PageWalk/Kconfig

# PageWalk: Kernel Space
source package/PAGING/BiscuitOS-PAGING-PageWalk-Kernel/Kconfig

# PageWalk: VMA
source package/PAGING/BiscuitOS-PAGING-PageWalk-VMA/Kconfig

# PageWalk: RANGE
source package/PAGING/BiscuitOS-PAGING-PageWalk-RANGE/Kconfig

# PageWalk: PageCACHE
source package/PAGING/BiscuitOS-PAGING-PageWalk-PageCACHE/Kconfig

# PageWalk: File
source package/PAGING/BiscuitOS-PAGING-PageWalk-File/Kconfig

# PageWalk: Anonymous
source package/PAGING/BiscuitOS-PAGING-PageWalk-Anonymous/Kconfig

# PageWalk: Hugetlbfs
source package/PAGING/BiscuitOS-PAGING-PageWalk-Hugetlbfs/Kconfig

# PageWalk: THP
source package/PAGING/BiscuitOS-PAGING-PageWalk-THP/Kconfig

# PageWalk: MMIO
source package/PAGING/BiscuitOS-PAGING-PageWalk-MMIO/Kconfig

# PageWalk: RSVD-MEM
source package/PAGING/BiscuitOS-PAGING-PageWalk-RSVDMEM/Kconfig

# PageWalk: VMALLOC
source package/PAGING/BiscuitOS-PAGING-PageWalk-VMALLOC/Kconfig

# PageWalk: Permanent
source package/PAGING/BiscuitOS-PAGING-PageWalk-Permanent/Kconfig

# PageWalk: Linear
source package/PAGING/BiscuitOS-PAGING-PageWalk-Linear/Kconfig

# PageWalk: Temporary
source package/PAGING/BiscuitOS-PAGING-PageWalk-Temporary/Kconfig

# PageWalk: IOREMAP
source package/PAGING/BiscuitOS-PAGING-PageWalk-IOREMAP/Kconfig

# PageWalk: CMA
source package/PAGING/BiscuitOS-PAGING-PageWalk-CMA/Kconfig

# PageWalk: DMA
source package/PAGING/BiscuitOS-PAGING-PageWalk-DMA/Kconfig

# PageWalk: Modify
source package/PAGING/BiscuitOS-PAGING-PageWalk-Modify/Kconfig

# PageWalk: ADD
source package/PAGING/BiscuitOS-PAGING-PageWalk-ADD/Kconfig

# PageWalk: USE-CASE SMAPS
source package/PAGING/BiscuitOS-PAGING-PageWalk-SMAPS/Kconfig

# PageWalk: USE-CASE NUMA_MAPS
source package/PAGING/BiscuitOS-PAGING-PageWalk-NUMA-MAPS/Kconfig

# PageWalk: USE-CASE Pagemap
source package/PAGING/BiscuitOS-PAGING-PageWalk-Pagemap/Kconfig

# PageWalk: USE-CASE Clear_refs
source package/PAGING/BiscuitOS-PAGING-PageWalk-CLEAR-Reference/Kconfig

# PageWalk: USE-CASE MAVD_COLD
source package/PAGING/BiscuitOS-PAGING-PageWalk-MADV_COLD/Kconfig

# PageWalk: USE-CASE MAVD_PAGEOUT
source package/PAGING/BiscuitOS-PAGING-PageWalk-MADV_PAGEOUT/Kconfig

# PageWalk: USE-CASE MAVD_FREE
source package/PAGING/BiscuitOS-PAGING-PageWalk-MADV_FREE/Kconfig

# PageWalk: USE-CASE MAVD_WILLNEED
source package/PAGING/BiscuitOS-PAGING-PageWalk-MADV_WILLNEED/Kconfig

# PageWalk: USE-CASE MLOCK
source package/PAGING/BiscuitOS-PAGING-PageWalk-MLOCK/Kconfig

# PageWalk: CBC walk_page_test 65#
source package/PAGING/BiscuitOS-PAGING-PageWalk-CBC-walk_page_test-65/Kconfig

# PageWalk: CBC walk_page_test 76#
source package/PAGING/BiscuitOS-PAGING-PageWalk-CBC-walk_page_test-76/Kconfig

# PageWalk: CBC __walk_page_range 10#
source package/PAGING/BiscuitOS-PAGING-PageWalk-CBC-__walk_page_range-10/Kconfig

# PageWalk: CBC walk_pmd_range 18#
source package/PAGING/BiscuitOS-PAGING-PageWalk-CBC-walk_pmd_range-18/Kconfig

# PageWalk: CBC walk_pmd_range 37#
source package/PAGING/BiscuitOS-PAGING-PageWalk-CBC-walk_pmd_range-37/Kconfig

# PageWalk: CBC walk_pmd_range 49#
source package/PAGING/BiscuitOS-PAGING-PageWalk-CBC-walk_pmd_range-49/Kconfig

# PageWalk: DeepMind MMAP LOCK
source package/PAGING/BiscuitOS-PAGING-PageWalk-DM-MMAP-LOCK/Kconfig

# PageWalk: DeepMind ACTION
source package/PAGING/BiscuitOS-PAGING-PageWalk-DM-ACTION/Kconfig

# PageWalk: DeepMind PTE-LOCK
source package/PAGING/BiscuitOS-PAGING-PageWalk-DM-PTE-LOCK/Kconfig

# PageWalk: DeepMind SPLIT-THP
source package/PAGING/BiscuitOS-PAGING-PageWalk-DM-SPLIT-THP/Kconfig

# PTDUMP: DUMP Current Userspace
source package/PAGING/BiscuitOS-PAGING-PTDUMP-CURRUSER/Kconfig

# PTDUMP: DUMP Current Kernel Space
source package/PAGING/BiscuitOS-PAGING-PTDUMP-CURRKERNEL/Kconfig

# PTDUMP: Check NX
source package/PAGING/BiscuitOS-PAGING-PTDUMP-CHECK-NX/Kconfig

# PROC PageMap
source package/PAGING/BiscuitOS-PAGING-PROC-PageMap/Kconfig

# PROC PageMap: Hugetlbfs
source package/PAGING/BiscuitOS-PAGING-PROC-PageMap-Hugetlbfs/Kconfig

# PROC PageMap: THP
source package/PAGING/BiscuitOS-PAGING-PROC-PageMap-THP/Kconfig

# PROC PageMap: SWAP
source package/PAGING/BiscuitOS-PAGING-PROC-PageMap-SWAP/Kconfig

# PROC PageMap: 1Gig Page
source package/PAGING/BiscuitOS-PAGING-PROC-PageMap-1G/Kconfig

# PROC PageMap: HOLE
source package/PAGING/BiscuitOS-PAGING-PROC-PageMap-HOLE/Kconfig

# PROC PageMap: MMIO
source package/PAGING/BiscuitOS-PAGING-PROC-PageMap-MMIO/Kconfig

# PROC PageMap: Anonymous
source package/PAGING/BiscuitOS-PAGING-PROC-PageMap-ANON/Kconfig

# PROC PageMap: File
source package/PAGING/BiscuitOS-PAGING-PROC-PageMap-FILE/Kconfig

# PROC SMAPS
source package/PAGING/BiscuitOS-PAGING-PROC-SMAPS/Kconfig

# PROC SMAPS: Anonymous
source package/PAGING/BiscuitOS-PAGING-PROC-SMAPS-ANON/Kconfig

# PROC SMAPS: Anonymous Shared
source package/PAGING/BiscuitOS-PAGING-PROC-SMAPS-ANON-SHARED/Kconfig

# PROC SMAPS: Anonymous Private
source package/PAGING/BiscuitOS-PAGING-PROC-SMAPS-ANON-PRIVATE/Kconfig

# PROC SMAPS: File
source package/PAGING/BiscuitOS-PAGING-PROC-SMAPS-FILE/Kconfig

# PROC SMAPS: File Shared
source package/PAGING/BiscuitOS-PAGING-PROC-SMAPS-FILE-PRIVATE/Kconfig

# PROC SMAPS: File Shared
source package/PAGING/BiscuitOS-PAGING-PROC-SMAPS-FILE-SHARED/Kconfig

# PROC SMAPS: SHARED
source package/PAGING/BiscuitOS-PAGING-PROC-SMAPS-SHARED/Kconfig

# PROC SMAPS: Dirty
source package/PAGING/BiscuitOS-PAGING-PROC-SMAPS-DIRTY/Kconfig

# PROC SMAPS: Shmem PMD-Mapped
source package/PAGING/BiscuitOS-PAGING-PROC-SMAPS-SHMEMPMDMAPPED/Kconfig

# PROC SMAPS: Anonymous Huge Page
source package/PAGING/BiscuitOS-PAGING-PROC-SMAPS-ANONHUGEPAGES/Kconfig

# PROC SMAPS: Private Hugetlb
source package/PAGING/BiscuitOS-PAGING-PROC-SMAPS-PRIVATE-HUGETLB/Kconfig

# PROC SMAPS: Shared Hugetlb
source package/PAGING/BiscuitOS-PAGING-PROC-SMAPS-SHARED-HUGETLB/Kconfig

# PROC SMAPS: LOCKED
source package/PAGING/BiscuitOS-PAGING-PROC-SMAPS-LOCKED/Kconfig

# PROC SMAPS: SWAP
source package/PAGING/BiscuitOS-PAGING-PROC-SMAPS-SWAP/Kconfig

# PROC SMAPS: File PMD-Mapped
source package/PAGING/BiscuitOS-PAGING-PROC-SMAPS-FILEPMDMAPPED/Kconfig

# PROC SMAPS: PSS
source package/PAGING/BiscuitOS-PAGING-PROC-SMAPS-PSS/Kconfig

# PROC SMAPS: REFERENCE
source package/PAGING/BiscuitOS-PAGING-PROC-SMAPS-REFERENCE/Kconfig

# PROC SMAPS-ROLLUP
source package/PAGING/BiscuitOS-PAGING-PROC-SMAPS-ROLLUP/Kconfig

# PROC CLEAR-REFS
source package/PAGING/BiscuitOS-PAGING-PROC-CLEAR-REFS/Kconfig

# PROC CLEAR-REFS: Anonymous
source package/PAGING/BiscuitOS-PAGING-PROC-CLEAR-REFS-ANON/Kconfig

# PROC CLEAR-REFS: File-MApped
source package/PAGING/BiscuitOS-PAGING-PROC-CLEAR-REFS-FILE/Kconfig

# PROC CLEAR-REFS: SoftDirty
source package/PAGING/BiscuitOS-PAGING-PROC-CLEAR-REFS-SOFTDIRTY/Kconfig

# PROC CLEAR-REFS: HiWater RSS
source package/PAGING/BiscuitOS-PAGING-PROC-CLEAR-REFS-HIWATER-RSS/Kconfig

endif # PK_PAGING
