menuconfig PK_GNU_AUTOMAKE
	bool "GNU - automake"

if PK_GNU_AUTOMAKE

config GNU_AUTOMAKE_VERSION
	default "1.16"
	string "verstion"

config GNU_AUTOMAKE_TAR
	default "tar.gz"
	string "tar type"

config GNU_AUTOMAKE_URL
	default "http://ftp.gnu.org/pub/gnu/automake/"
	string "url"

config GNU_AUTOMAKE_LDFLAGS
	string "LDFLAGS"

config GNU_AUTOMAKE_CFLAGS
	string "CFLAGS"

config GNU_AUTOMAKE_CONFIG
	string "configure"

endif # PK_GNU_AUTOMAKE
