menuconfig PK_KMEMDUP
	bool "kmemdup()"

if PK_KMEMDUP

config PK_KMEMDUP_VERSION
	default "0.0.1"
	string "verstion"

config PK_KMEMDUP_TAR
	default "tar.gz"
	string "tar type"

config PK_KMEMDUP_URL
	default "https://gitee.com/BiscuitOS_team/HardStack/raw/Gitee/Memory-Allocator/slab/API/kmemdup"
	string "url"

config PK_KMEMDUP_GITHUB
	string "GitHub"

config PK_KMEMDUP_SRCFILE
	default "core.c Makefile"
	string "Source code list"

config PK_KMEMDUP_CSRCFILE
	string "Compile source code list"

config PK_KMEMDUP_CONFIG
	string "CONFIG: Project Configure Options"

config PK_KMEMDUP_LIBPATH
	string "LIBS: Libraries to pass to the linker, e.g. -l<library>"

config PK_KMEMDUP_CPPFLAGS
	string "CPPFLAGS: C/C++ preprocessor flags, e.g. -I<include dir>"

config PK_KMEMDUP_DPKCONFIG
	string "PKG_CONFIG_PATH: Directories to add to pkg-config's search path"

config PK_KMEMDUP_CFLAGS
	string "CFLAGS: C compiler flags"

config PK_KMEMDUP_LDFLAGS
	string "LDFLAGS: Linker flags"

config PK_KMEMDUP_CXXFLAGS
	string "CXXFLAGS: C++ compiler flags"

config PK_KMEMDUP_ASFLAGS
	string "CCASFLAGS: assembler compiler flags (defaults to CFLAGS)"

config PK_KMEMDUP_BUILDARCH
	string "--host options on configure for Architecture"

endif # PK_KMEMDUP
