menuconfig PK_LIBXML2
	bool "libxml2"

if PK_LIBXML2

config LIB_LIBXML2_VERSION
	default "2.9.5"
	string "verstion"

config LIB_LIBXML2_TAR
	default "tar.gz"
	string "tar type"

config LIB_LIBXML2_URL
	default "ftp://xmlsoft.org/libxml2/"
	string "url"

config LIB_LIBXML2_SRC
	string "source code list"

config LIB_LIBXML2_LDFLAGS
	string "LDFLAGS"

config LIB_LIBXML2_CFLAGS
	string "CFLAGS"

config LIB_LIBXML2_CONFIG
	default "--with-python=no"
	string "configure"

endif # PK_LIBXML2
