menuconfig PK_GUN_GCC
	bool "GUN GCC"

if PK_GUN_GCC

# GUN-GCC-V9
source package/GUN-GCC/BiscuitOS-GUN-GCC-V9/Kconfig

# GUN-GCC-V9-ASCAN
source package/GUN-GCC/BiscuitOS-GUN-GCC-V9-ASCAN/Kconfig

endif # PK_GUN_GCC
