menuconfig PK_MEMORY_MMAP
	bool "Memory Mapping Mechanism"

if PK_MEMORY_MMAP

# MEMORY MMAP
source package/MEMORY-MMAP/BiscuitOS-MEMORY-MMAP/Kconfig

# MEMORY MMAP: RBTREE UPDATE GAP
source package/MEMORY-MMAP/BiscuitOS-MEMORY-MMAP-RB-UPDATE-GAP/Kconfig

endif # PK_MEMORY_MMAP
