menuconfig PK_MEMORY_MMAP
	bool "Memory Mapping Mechanism"

if PK_MEMORY_MMAP

# MEMORY MMAP
source package/MEMORY-MMAP/BiscuitOS-MEMORY-MMAP/Kconfig

# MEMORY MMAP: FLAGS MAP_PRIVATE
source package/MEMORY-MMAP/BiscuitOS-MEMORY-MMAP-MAP-PRIVATE/Kconfig

# MEMORY MMAP: FLAGS MAP_SHARED
source package/MEMORY-MMAP/BiscuitOS-MEMORY-MMAP-MAP-SHARED/Kconfig

# MEMORY MMAP: FLAGS MAP_SHARED_VALIDATE
source package/MEMORY-MMAP/BiscuitOS-MEMORY-MMAP-MAP-SHARED-VALIDATE/Kconfig

# MEMORY MMAP: FLAGS MAP_ANONYMOUS
source package/MEMORY-MMAP/BiscuitOS-MEMORY-MMAP-MAP-ANONYMOUS/Kconfig

# MEMORY MMAP: FLAGS MAP_FIXED
source package/MEMORY-MMAP/BiscuitOS-MEMORY-MMAP-MAP-FIXED/Kconfig

# MEMORY MMAP: FLAGS MAP_FIXED_NOREPLACE
source package/MEMORY-MMAP/BiscuitOS-MEMORY-MMAP-MAP-FIXED-NOREPLACE/Kconfig

# MEMORY MMAP: RBTREE UPDATE GAP
source package/MEMORY-MMAP/BiscuitOS-MEMORY-MMAP-RB-UPDATE-GAP/Kconfig

# MEMORY MMAP: AREA
source package/MEMORY-MMAP/BiscuitOS-MEMORY-MMAP-AREA/Kconfig

# MEMORY MMAP: AREA NOREPLACE
source package/MEMORY-MMAP/BiscuitOS-MEMORY-MMAP-AREA-NOREPLACE/Kconfig

# MEMORY MMAP: AREA FIXED
source package/MEMORY-MMAP/BiscuitOS-MEMORY-MMAP-AREA-FIXED/Kconfig

endif # PK_MEMORY_MMAP
