menuconfig PK_MEMORY_MMAP
	bool "Memory Mapping Mechanism"

if PK_MEMORY_MMAP

# MEMORY MMAP
source package/MEMORY-MMAP/BiscuitOS-MEMORY-MMAP/Kconfig

# MEMORY MMAP: FLAGS MAP_PRIVATE
source package/MEMORY-MMAP/BiscuitOS-MEMORY-MMAP-MAP-PRIVATE/Kconfig

# MEMORY MMAP: FLAGS MAP_SHARED
source package/MEMORY-MMAP/BiscuitOS-MEMORY-MMAP-MAP-SHARED/Kconfig

# MEMORY MMAP: FLAGS MAP_SHARED_VALIDATE
source package/MEMORY-MMAP/BiscuitOS-MEMORY-MMAP-MAP-SHARED-VALIDATE/Kconfig

# MEMORY MMAP: FLAGS MAP_ANONYMOUS
source package/MEMORY-MMAP/BiscuitOS-MEMORY-MMAP-MAP-ANONYMOUS/Kconfig

# MEMORY MMAP: FLAGS MAP_NONBLOCK
source package/MEMORY-MMAP/BiscuitOS-MEMORY-MMAP-MAP-NONBLOCK/Kconfig

# MEMORY MMAP: FLAGS MAP_STACK
source package/MEMORY-MMAP/BiscuitOS-MEMORY-MMAP-MAP-STACK/Kconfig

# MEMORY MMAP: FLAGS MAP_HUGETLB
source package/MEMORY-MMAP/BiscuitOS-MEMORY-MMAP-MAP-HUGETLB/Kconfig

# MEMORY MMAP: FLAGS MAP_LOCKED
source package/MEMORY-MMAP/BiscuitOS-MEMORY-MMAP-MAP-LOCKED/Kconfig

# MEMORY MMAP: FLAGS MAP_POPULATE
source package/MEMORY-MMAP/BiscuitOS-MEMORY-MMAP-MAP-POPULATE/Kconfig

# MEMORY MMAP: FLAGS MAP_FIXED
source package/MEMORY-MMAP/BiscuitOS-MEMORY-MMAP-MAP-FIXED/Kconfig

# MEMORY MMAP: FLAGS MAP_GROWSDOWN
source package/MEMORY-MMAP/BiscuitOS-MEMORY-MMAP-MAP-GROWSDOWN/Kconfig

# MEMORY MMAP: FLAGS MAP_SYNC
source package/MEMORY-MMAP/BiscuitOS-MEMORY-MMAP-MAP-SYNC/Kconfig

# MEMORY MMAP: FLAGS MAP_NORESERVE
source package/MEMORY-MMAP/BiscuitOS-MEMORY-MMAP-MAP-NORESERVE/Kconfig

# MEMORY MMAP: FLAGS MAP_FIXED_NOREPLACE
source package/MEMORY-MMAP/BiscuitOS-MEMORY-MMAP-MAP-FIXED-NOREPLACE/Kconfig

# MEMORY MMAP: FLAGS MAP_UNINITIALIZED
source package/MEMORY-MMAP/BiscuitOS-MEMORY-MMAP-MAP-UNINITIALIZED/Kconfig

# MEMORY MMAP: VMA VM_SHARED
source package/MEMORY-MMAP/BiscuitOS-MEMORY-MMAP-VMA-VM-SHARED/Kconfig

# MEMORY MMAP: VMA VM_MAYSHARE
source package/MEMORY-MMAP/BiscuitOS-MEMORY-MMAP-VMA-VM-MAYSHARE/Kconfig

# MEMORY MMAP: VMA VM_READ
source package/MEMORY-MMAP/BiscuitOS-MEMORY-MMAP-VMA-VM-READ/Kconfig

# MEMORY MMAP: VMA VM_WRITE
source package/MEMORY-MMAP/BiscuitOS-MEMORY-MMAP-VMA-VM-WRITE/Kconfig

# MEMORY MMAP: VMA VM_EXEC
source package/MEMORY-MMAP/BiscuitOS-MEMORY-MMAP-VMA-VM-EXEC/Kconfig

# MEMORY MMAP: VMA VM_MAYEXEC
source package/MEMORY-MMAP/BiscuitOS-MEMORY-MMAP-VMA-VM-MAYEXEC/Kconfig

# MEMORY MMAP: VMA VM_GROWSDOWN
source package/MEMORY-MMAP/BiscuitOS-MEMORY-MMAP-VMA-VM-GROWSDOWN/Kconfig

# MEMORY MMAP: VMA VM_SYNC
source package/MEMORY-MMAP/BiscuitOS-MEMORY-MMAP-VMA-VM-SYNC/Kconfig

# MEMORY MMAP: VMA VM_PFNMAP
source package/MEMORY-MMAP/BiscuitOS-MEMORY-MMAP-VMA-VM-PFNMAP/Kconfig

# MEMORY MMAP: VMA VM_IO
source package/MEMORY-MMAP/BiscuitOS-MEMORY-MMAP-VMA-VM-IO/Kconfig

# MEMORY MMAP: VMA VM_DONTEXPAND
source package/MEMORY-MMAP/BiscuitOS-MEMORY-MMAP-VMA-VM-DONTEXPAND/Kconfig

# MEMORY MMAP: VMA VM_DONTDUMP
source package/MEMORY-MMAP/BiscuitOS-MEMORY-MMAP-VMA-VM-DONTDUMP/Kconfig

# MEMORY MMAP: VMA VM_UFFD_MISSING
source package/MEMORY-MMAP/BiscuitOS-MEMORY-MMAP-VMA-VM-UFFD-MISSING/Kconfig

# MEMORY MMAP: VMA VM_UFFD_WP
source package/MEMORY-MMAP/BiscuitOS-MEMORY-MMAP-VMA-VM-UFFD-WP/Kconfig

# MEMORY MMAP: VMA VM_LOCKED
source package/MEMORY-MMAP/BiscuitOS-MEMORY-MMAP-VMA-VM-LOCKED/Kconfig

# MEMORY MMAP: VMA VM_LOCKONFAULT
source package/MEMORY-MMAP/BiscuitOS-MEMORY-MMAP-VMA-VM-LOCKONFAULT/Kconfig

# MEMORY MMAP: VMA VM_SEQ_READ
source package/MEMORY-MMAP/BiscuitOS-MEMORY-MMAP-VMA-VM-SEQ-READ/Kconfig

# MEMORY MMAP: VMA VM_RAND_READ
source package/MEMORY-MMAP/BiscuitOS-MEMORY-MMAP-VMA-VM-RAND-READ/Kconfig

# MEMORY MMAP: VMA VM_SOFTDIRTY
source package/MEMORY-MMAP/BiscuitOS-MEMORY-MMAP-VMA-VM-SOFTDIRTY/Kconfig

# MEMORY MMAP: VMA VM_NORESERVE
source package/MEMORY-MMAP/BiscuitOS-MEMORY-MMAP-VMA-VM-NORESERVE/Kconfig

# MEMORY MMAP: RBTREE UPDATE GAP
source package/MEMORY-MMAP/BiscuitOS-MEMORY-MMAP-RB-UPDATE-GAP/Kconfig

# MEMORY MMAP: AREA
source package/MEMORY-MMAP/BiscuitOS-MEMORY-MMAP-AREA/Kconfig

# MEMORY MMAP: AREA NOREPLACE
source package/MEMORY-MMAP/BiscuitOS-MEMORY-MMAP-AREA-NOREPLACE/Kconfig

# MEMORY MMAP: AREA FIXED
source package/MEMORY-MMAP/BiscuitOS-MEMORY-MMAP-AREA-FIXED/Kconfig

# MEMORY MMAP: VMOPS -> FAULT
source package/MEMORY-MMAP/BiscuitOS-MEMORY-MMAP-VMOPS-FAULT/Kconfig

# MEMORY MMAP: VMOPS -> HUGE FAULT
source package/MEMORY-MMAP/BiscuitOS-MEMORY-MMAP-VMOPS-HUGE-FAULT/Kconfig

# MEMORY MMAP: VMOPS -> OPEN
source package/MEMORY-MMAP/BiscuitOS-MEMORY-MMAP-VMOPS-OPEN/Kconfig

# MEMORY MMAP: VMOPS -> CLOSE
source package/MEMORY-MMAP/BiscuitOS-MEMORY-MMAP-VMOPS-CLOSE/Kconfig

# MEMORY MMAP: SPECIAL MAPPING(LEGACY)
source package/MEMORY-MMAP/BiscuitOS-MEMORY-MMAP-SPECIAL-MAPPING-LEGACY/Kconfig

# MEMORY MMAP: SPECIAL MAPPING
source package/MEMORY-MMAP/BiscuitOS-MEMORY-MMAP-SPECIAL-MAPPING/Kconfig

endif # PK_MEMORY_MMAP
