menuconfig PK_KVM
	bool "KVM"

if PK_KVM

# kvm_module
source package/kvm/kvm_module/Kconfig

# kvm_userspace
source package/kvm/kvm_userspace/Kconfig

# kvm_hisotry
source package/kvm/kvm_history/Kconfig

# BiscuitOS KVM Application (4KiB)
source package/kvm/BiscuitOS-UKVM/Kconfig

# BiscuitOS KVM Application (2MiB)
source package/kvm/BiscuitOS-UKVM-2M/Kconfig

# BiscuitOS KVM Application (1Gig)
source package/kvm/BiscuitOS-UKVM-1G/Kconfig

# BiscuitOS KVM Application (SMP/Kernel+)
source package/kvm/BiscuitOS-UKVM-SMAP-kernel/Kconfig

# BiscuitOS KVM Application (SMP/Userspace+)
source package/kvm/BiscuitOS-UKVM-SMAP-userspace/Kconfig

# BiscuitOS qemu-kvm
source package/kvm/BiscuitOS-qemu-kvm/Kconfig

# BiscuitOS qemu-kvm 2M HugePage
source package/kvm/BiscuitOS-qemu-kvm-2M/Kconfig

# BiscuitOS qemu-kvm 1G HugePage
source package/kvm/BiscuitOS-qemu-kvm-1G/Kconfig

# BiscuitOS QEMU PCI Device Driver
source package/kvm/BiscuitOS-QEMU-PCI-module/Kconfig

# BiscuitOS QEMU PCI Application
source package/kvm/BiscuitOS-QEMU-PCI-Application/Kconfig

# Native Linux KVM tool
source package/kvm/BiscuitOS-kvmtools/Kconfig

# Native Linux KVM tool 2M
source package/kvm/BiscuitOS-kvmtools-2M/Kconfig

# Native Linux KVM tool 1G
source package/kvm/BiscuitOS-kvmtools-1G/Kconfig

endif # PK_KVM
