menuconfig PK_MMIO_SYNC_PCI
	bool "Sychronous MMIO Driver with PCI for Broiler"

if PK_MMIO_SYNC_PCI

config PK_MMIO_SYNC_PCI_VERSION
	default "default"
	string "verstion"

config PK_MMIO_SYNC_PCI_TAR
	default "tar.gz"
	string "tar type"

config PK_MMIO_SYNC_PCI_URL
	default "https://gitee.com/BiscuitOS_team/HardStack/raw/Gitee/Memory-Allocator/MMIO/Broiler-Synchronous-mmio-PCI"
	string "url"

config PK_MMIO_SYNC_PCI_GITHUB
	string "GitHub"

config PK_MMIO_SYNC_PCI_SRCFILE
	default "main.c Kconfig Makefile RunBiscuitOS.sh"
	string "Source code list"

config PK_MMIO_SYNC_PCI_CSRCFILE
	string "Compile source code list"

config PK_MMIO_SYNC_PCI_CONFIG
	string "CONFIG: Project Configure Options"

config PK_MMIO_SYNC_PCI_LIBPATH
	string "LIBS: Libraries to pass to the linker, e.g. -l<library>"

config PK_MMIO_SYNC_PCI_CPPFLAGS
	string "CPPFLAGS: C/C++ preprocessor flags, e.g. -I<include dir>"

config PK_MMIO_SYNC_PCI_DPKCONFIG
	string "PKG_CONFIG_PATH: Directories to add to pkg-config's search path"

config PK_MMIO_SYNC_PCI_CFLAGS
	string "CFLAGS: C compiler flags"

config PK_MMIO_SYNC_PCI_LDFLAGS
	string "LDFLAGS: Linker flags"

config PK_MMIO_SYNC_PCI_CXXFLAGS
	string "CXXFLAGS: C++ compiler flags"

config PK_MMIO_SYNC_PCI_ASFLAGS
	string "CCASFLAGS: assembler compiler flags (defaults to CFLAGS)"

config PK_MMIO_SYNC_PCI_BUILDARCH
	string "--host options on configure for Architecture"

endif # PK_MMIO_SYNC_PCI
