menuconfig PK_BISCUITOS_UKVM_SMAP_USER
	select PK_BISCUITOS_UKVM_SMAP_KERNEL
	bool "KVM App Specific MMAP on BiscuitOS (Userspace+)"

if PK_BISCUITOS_UKVM_SMAP_USER

config PK_BISCUITOS_UKVM_SMAP_USER_VERSION
	default "userspace"
	string "verstion"

config PK_BISCUITOS_UKVM_SMAP_USER_TAR
	default "tar.gz"
	string "tar type"

config PK_BISCUITOS_UKVM_SMAP_USER_URL
	default "https://gitee.com/BiscuitOS_team/HardStack/raw/Gitee/Virtualization/KVM/BiscuitOS-UKVM-Specific-mmap/userspace"
	string "url"

config PK_BISCUITOS_UKVM_SMAP_USER_GITHUB
	string "GitHub"

config PK_BISCUITOS_UKVM_SMAP_USER_SRCFILE
	default "main.c Makefile BiscuitOS-Virtual-Machine.S RunBiscuitOS.sh"
	string "Source code list"

config PK_BISCUITOS_UKVM_SMAP_USER_CSRCFILE
	string "Compile source code list"

config PK_BISCUITOS_UKVM_SMAP_USER_CONFIG
	string "CONFIG: Project Configure Options"

config PK_BISCUITOS_UKVM_SMAP_USER_LIBPATH
	string "LIBS: Libraries to pass to the linker, e.g. -l<library>"

config PK_BISCUITOS_UKVM_SMAP_USER_CPPFLAGS
	string "CPPFLAGS: C/C++ preprocessor flags, e.g. -I<include dir>"

config PK_BISCUITOS_UKVM_SMAP_USER_DPKCONFIG
	string "PKG_CONFIG_PATH: Directories to add to pkg-config's search path"

config PK_BISCUITOS_UKVM_SMAP_USER_CFLAGS
	string "CFLAGS: C compiler flags"

config PK_BISCUITOS_UKVM_SMAP_USER_LDFLAGS
	string "LDFLAGS: Linker flags"

config PK_BISCUITOS_UKVM_SMAP_USER_CXXFLAGS
	string "CXXFLAGS: C++ compiler flags"

config PK_BISCUITOS_UKVM_SMAP_USER_ASFLAGS
	string "CCASFLAGS: assembler compiler flags (defaults to CFLAGS)"

config PK_BISCUITOS_UKVM_SMAP_USER_BUILDARCH
	string "--host options on configure for Architecture"

endif # PK_BISCUITOS_UKVM_SMAP_USER
