menuconfig PK_MEMORY_HISTORY
	bool "Memory Development History"

if PK_MEMORY_HISTORY

# MMU 
source "package/memory_history/MMU/Kconfig"

# Bootmem
source "package/memory_history/bootmem/Kconfig"

# Buddy
source "package/memory_history/buddy/Kconfig"

# PCP
source "package/memory_history/PCP/Kconfig"

# PERCPU
source "package/memory_history/PERCPU/Kconfig"

# Slab
source "package/memory_history/SLAB/Kconfig"

# Slub
source "package/memory_history/slub/Kconfig"

# Slob
source "package/memory_history/slob/Kconfig"

# VMALLOC
source "package/memory_history/VMALLOC/Kconfig"

# kmap
source "package/memory_history/KMAP/Kconfig"

# fixmap
source "package/memory_history/FIXMAP/Kconfig"

# CMA
source "package/memory_history/CMA/Kconfig"

# BiscuitOS Memory
source "package/memory_history/BiscuitOS/Kconfig"

endif # PK_MEMORY_HISTORY
