menuconfig PK_CRASH
	bool "CRASH and BUG Example"

if PK_CRASH

# CRASH
source package/crash/crash/Kconfig

# CRASH: Function arguments
source package/crash/BiscuitOS-crash-register-with-func-argument/Kconfig

endif # PK_CRASH
