menuconfig PK_LIBXFCE4UTIL
	bool "libxfce4util"

if PK_LIBXFCE4UTIL

config LIB_LIBXFCE4UTIL_VERSION
	default "4.12.1" if XFCER4
	string "verstion"

config LIB_LIBXFCE4UTIL_TAR
	default "tar.bz2"
	string "tar type"

config LIB_LIBXFCE4UTIL_URL
	default "http://archive.xfce.org/src/xfce/libxfce4util/4.12" if XFCER4
	string "url"

config LIB_LIBXFCE4UTIL_SRC
	string "source code list"

config LIB_LIBXFCE4UTIL_LDFLAGS
	string "LDFLAGS"

config LIB_LIBXFCE4UTIL_CFLAGS
	string "CFLAGS"

config LIB_LIBXFCE4UTIL_CONFIG
	string "configure"

endif # PK_LIBXFCE4UTIL
