menuconfig PK_BISCUITOS_VMA_MERGE
	bool "VMA Merge Region Algorithm"

if PK_BISCUITOS_VMA_MERGE

# Layout 0: Disconnect with NEXT
source "package/memory-mapping/BiscuitOS-vma-merge/BiscuitOS-vma-merge-layout0-disconnect/Kconfig"

# Layout 0: Adjoin with NEXT
source "package/memory-mapping/BiscuitOS-vma-merge/BiscuitOS-vma-merge-layout0-adjoin/Kconfig"

# Layout 0: Intersect with NEXT
source "package/memory-mapping/BiscuitOS-vma-merge/BiscuitOS-vma-merge-layout0-intersect/Kconfig"

# Layout 1: Disconnect with NEXT
source "package/memory-mapping/BiscuitOS-vma-merge/BiscuitOS-vma-merge-layout1-disconnect/Kconfig"

# Layout 1: Adjoin with NEXT
source "package/memory-mapping/BiscuitOS-vma-merge/BiscuitOS-vma-merge-layout1-adjoin/Kconfig"

endif # 
