menuconfig PK_MOTION_MEMORY_SLAB_GENERAL
	bool "SLAB ALLOCATOR: GENERAL POOL"

if PK_MOTION_MEMORY_SLAB_GENERAL

config PK_MOTION_MEMORY_SLAB_GENERAL_VERSION
	default "default"
	string "verstion"

config PK_MOTION_MEMORY_SLAB_GENERAL_TAR
	default "tar.gz"
	string "tar type"

config PK_MOTION_MEMORY_SLAB_GENERAL_URL
	default "https://gitee.com/BiscuitOS_team/HardStack/raw/Gitee/MOTION/MEMORY/BiscuitOS-MOTION-MEMORY-SLAB-GENERAL"
	string "url"

config PK_MOTION_MEMORY_SLAB_GENERAL_GITHUB
	string "GitHub"

config PK_MOTION_MEMORY_SLAB_GENERAL_SRCFILE
	default "Kconfig  main.c  Makefile  Makefile.host  RunBiscuitOS.sh"
	string "Source code list"

config PK_MOTION_MEMORY_SLAB_GENERAL_CSRCFILE
	string "Compile source code list"

config PK_MOTION_MEMORY_SLAB_GENERAL_CONFIG
	string "CONFIG: Project Configure Options"

config PK_MOTION_MEMORY_SLAB_GENERAL_LIBPATH
	string "LIBS: Libraries to pass to the linker, e.g. -l<library>"

config PK_MOTION_MEMORY_SLAB_GENERAL_CPPFLAGS
	string "CPPFLAGS: C/C++ preprocessor flags, e.g. -I<include dir>"

config PK_MOTION_MEMORY_SLAB_GENERAL_DPKCONFIG
	string "PKG_CONFIG_PATH: Directories to add to pkg-config's search path"

config PK_MOTION_MEMORY_SLAB_GENERAL_CFLAGS
	string "CFLAGS: C compiler flags"

config PK_MOTION_MEMORY_SLAB_GENERAL_LDFLAGS
	string "LDFLAGS: Linker flags"

config PK_MOTION_MEMORY_SLAB_GENERAL_CXXFLAGS
	string "CXXFLAGS: C++ compiler flags"

config PK_MOTION_MEMORY_SLAB_GENERAL_ASFLAGS
	string "CCASFLAGS: assembler compiler flags (defaults to CFLAGS)"

config PK_MOTION_MEMORY_SLAB_GENERAL_BUILDARCH
	string "--host options on configure for Architecture"

endif # PK_MOTION_MEMORY_SLAB_GENERAL
