CONFIG_MAIN_PROJ_NAME="Apollo-11"
CONFIG_x86=y
CONFIG_ARCH_MAGIC="1"
CONFIG_ROOTFS=y
CONFIG_FS_APOLLO=y
CONFIG_TOOLCHAIN=y
CONFIG_APOLLO=y
CONFIG_APOLLO_11=y
CONFIG_APOLLO_VERSION="Apollo-11"
CONFIG_APOLLO_GITHUB="https://github.com/chrislgarry/Apollo-11.git"
