CONFIG_MAIN_PROJ_NAME="Debian-0.91"
CONFIG_x86=y
CONFIG_ARCH_MAGIC="1"
CONFIG_ROOTFS=y
CONFIG_FS_DEBIAN_LEGACY=y
CONFIG_TOOLCHAIN=y
CONFIG_LINUX_KERNEL=y
CONFIG_LINUX_LEGACY=y
CONFIG_LINUX_KERNEL_VERSION="0.99.1"
CONFIG_LINUX_BUILD_HIST="Legacy"
CONFIG_LINUX_KERNEL_GITHUB=y
CONFIG_LINUX_KERNEL_GITHUB_SITE="https://github.com/BiscuitOS/Kernel.git"
CONFIG_LINUX_KERNEL_SRC=1
CONFIG_LINUX_KERNEL_TAR_TYPE="tar.gz"
