CONFIG_MAIN_PROJ_NAME="linux-0.11"
CONFIG_x86=y
CONFIG_ARCH_MAGIC="1"
CONFIG_SUPPORT_BOARD_INDV=y
CONFIG_BOARD_NAME="GoingMerry"
CONFIG_DTS_NAME="GoingMerry_linux_0.11.dts"
CONFIG_COMMON_UTILISE=y
CONFIG_PK_BINUTILS=y
CONFIG_PK_GCC=y
CONFIG_ROOTFS=y
CONFIG_FS_MINIX=y
CONFIG_LINUX_KERNEL=y
CONFIG_LINUX_LEGACY=y
CONFIG_LINUX_KERNEL_VERSION="0.11.3"
CONFIG_LINUX_BUILD_HIST="Legacy"
CONFIG_LINUX_KERNEL_GITHUB=y
CONFIG_LINUX_KERNEL_GITHUB_SITE="https://github.com/BiscuitOS/Kernel.git"
CONFIG_LINUX_KERNEL_SRC=1
CONFIG_LINUX_KERNEL_TAR_TYPE="tar.gz"
