CONFIG_MAIN_PROJ_NAME="linux-4.16.1-aarch"
CONFIG_ARM64=y
CONFIG_ARCH_MAGIC="3"
CONFIG_COMMON_UTILISE=y
CONFIG_PK_BUSYBOX=y
CONFIG_BUSYBOX_WGET=y
CONFIG_BUSYBOX_VERSION="1.24.2"
CONFIG_BUSYBOX_SRC=3
CONFIG_PK_QEMU_SYSTEM=y
CONFIG_QEMU_SYSTEM_WGET=y
CONFIG_QEMU_SYSTEM_VERSION="3.1.0"
CONFIG_QEMU_SYSTEM_SRC=3
CONFIG_ROOTFS=y
CONFIG_FS_EXT4=y
CONFIG_TOOLCHAIN=y
CONFIG_TOOL_AARCH64=y
CONFIG_TOOL_AARCH64_WGET=y
CONFIG_TOOL_AARCH64_SRC=2
CONFIG_AARCH64_V7.4-2019.02=y
CONFIG_AARCH64_FULL_NAME="7.4-2019.02/aarch64-linux-gnu/gcc-linaro-7.4.1-2019.02-x86_64_aarch64-linux-gnu.tar.xz"
CONFIG_AARCH64_VERSION="v7.4-2019.02"
CONFIG_LINUX_KERNEL=y
CONFIG_LINUX_NEWEST=y
CONFIG_LINUX_KERNEL_VERSION="4.16.1"
CONFIG_LINUX_BUILD_HIST="Newest"
CONFIG_LINUX_KERNEL_WGET=y
CONFIG_LINUX_KERNEL_WGET_SITE="https://mirrors.edge.kernel.org/pub/linux/kernel/v4.x/"
CONFIG_LINUX_KERNEL_SRC=3
CONFIG_LINUX_KERNEL_TAR_TYPE="tar.xz"
CONFIG_LINUX_KERNEL_CROSS_COMPILE="aarch64-linux-gnu"
