CONFIG_MAIN_PROJ_NAME="linux-2.6.37_arm32"
CONFIG_ARM=y
CONFIG_ARCH_MAGIC="2"
CONFIG_COMMON_UTILISE=y
CONFIG_PK_BUSYBOX=y
CONFIG_BUSYBOX_WGET=y
CONFIG_BUSYBOX_VERSION="1.18.1"
CONFIG_BUSYBOX_SRC=3
CONFIG_PK_QEMU_SYSTEM=y
CONFIG_QEMU_SYSTEM_WGET=y
CONFIG_QEMU_SYSTEM_VERSION="3.1.0"
CONFIG_QEMU_SYSTEM_SRC=3
CONFIG_ROOTFS=y
CONFIG_FS_EXT4=y
CONFIG_TOOLCHAIN=y
CONFIG_TOOL_ARM_NONE_GNUEABI=y
CONFIG_ROOTFS_SIZE=150
CONFIG_FREEZE_SIZE=512
CONFIG_LINUX_KERNEL=y
CONFIG_LINUX_NEWEST=y
CONFIG_LINUX_KERNEL_VERSION="2.6.37"
CONFIG_LINUX_BUILD_HIST="Newest"
CONFIG_LINUX_KERNEL_WGET=y
CONFIG_LINUX_KERNEL_WGET_SITE="http://ftp.sjtu.edu.cn/sites/ftp.kernel.org/pub/linux/kernel/v2.6/"
CONFIG_LINUX_KERNEL_SRC=3
CONFIG_LINUX_KERNEL_TAR_TYPE="tar.xz"
CONFIG_LINUX_KERNEL_CROSS_GUNEABI=y
CONFIG_LINUX_KERNEL_CROSS_COMPILE="arm-linux-gnueabi"
