CONFIG_MAIN_PROJ_NAME="linux-5.0-arm32"
CONFIG_ARM=y
CONFIG_ARCH_MAGIC="2"
CONFIG_BOOTLOADER=y
CONFIG_UBOOT=y
CONFIG_UBOOT_WGET=y
CONFIG_UBOOT_WGET_SITE="ftp://ftp.denx.de/pub/u-boot/"
CONFIG_UBOOT_VERSION="2020.01"
CONFIG_UBOOT_SRC=3
CONFIG_UBOOT_TAR_TYPE="tar.bz2"
CONFIG_UBOOT_CROSS_GUNEABI=y
CONFIG_UBOOT_CROSS_COMPILE="arm-linux-gnueabi"
CONFIG_COMMON_UTILISE=y
CONFIG_PK_BUSYBOX=y
CONFIG_BUSYBOX_WGET=y
CONFIG_BUSYBOX_VERSION="1.24.2"
CONFIG_BUSYBOX_SRC=3
CONFIG_PK_QEMU_SYSTEM=y
CONFIG_QEMU_SYSTEM_WGET=y
CONFIG_QEMU_SYSTEM_VERSION="3.1.0"
CONFIG_QEMU_SYSTEM_SRC=3
CONFIG_ROOTFS=y
CONFIG_FS_EXT4=y
CONFIG_TOOLCHAIN=y
CONFIG_TOOL_ARM_GNUEABI=y
CONFIG_TOOL_ARM_GNUEABI_WGET=y
CONFIG_TOOL_ARM_GNUEABI_SRC=2
CONFIG_ARM_GNUEABI_V7.4-2019.02=y
CONFIG_ARM_GNUEABI_FULL_NAME="7.4-2019.02/arm-linux-gnueabi/gcc-linaro-7.4.1-2019.02-x86_64_arm-linux-gnueabi.tar.xz"
CONFIG_ARM_GNUEABI_VERSION="v7.4-2019.02"
CONFIG_LINUX_KERNEL=y
CONFIG_LINUX_NEWEST=y
CONFIG_LINUX_KERNEL_VERSION="5.0"
CONFIG_LINUX_BUILD_HIST="Newest"
CONFIG_LINUX_KERNEL_WGET=y
CONFIG_LINUX_KERNEL_WGET_SITE="http://ftp.sjtu.edu.cn/sites/ftp.kernel.org/pub/linux/kernel/v5.x/"
CONFIG_LINUX_KERNEL_SRC=3
CONFIG_LINUX_KERNEL_TAR_TYPE="tar.xz"
CONFIG_LINUX_KERNEL_CROSS_GUNEABI=y
CONFIG_LINUX_KERNEL_CROSS_COMPILE="arm-linux-gnueabi"
