menuconfig PK_LIBXRENDER
	bool "libXrender"

if PK_LIBXRENDER

config LIB_LIBXRENDER_VERSION
	default "0.9.7"
	string "verstion"

config LIB_LIBXRENDER_TAR
	default "tar.gz"
	string "tar type"

config LIB_LIBXRENDER_URL
	default "https://www.x.org/releases/X11R7.7/src/lib/"
	#default "https://www.x.org/releases/individual/proto/"
	string "url"

config LIB_LIBXRENDER_SRC
	string "source code list"

config LIB_LIBXRENDER_LDFLAGS
	string "LDFLAGS"

config LIB_LIBXRENDER_CFLAGS
	string "CFLAGS"

config LIB_LIBXRENDER_CONFIG
	string "configure"

endif # PK_LIBXRENDER
