menuconfig PK_JEMALLOC_TOOLS
	bool "jemalloc tools"

if PK_JEMALLOC_TOOLS

config PK_JEMALLOC_TOOLS_VERSION
	default "default"
	string "verstion"

config PK_JEMALLOC_TOOLS_TAR
	default "tar.xz"
	string "tar type"

config PK_JEMALLOC_TOOLS_URL
	default ""
	string "url"

config PK_JEMALLOC_TOOLS_GITHUB
	default "https://github.com/jemalloc/jemalloc.git"
	string "GitHub"

config PK_JEMALLOC_TOOLS_SRCFILE
	string "Source code list"

config PK_JEMALLOC_TOOLS_CONFIG
	default "--enable-silent-rules"
	string "CONFIG: Project Configure Options"

config PK_JEMALLOC_TOOLS_LIBPATH
	string "LIBS: Libraries to pass to the linker, e.g. -l<library>"

config PK_JEMALLOC_TOOLS_CPPFLAGS
	string "CPPFLAGS: C/C++ preprocessor flags, e.g. -I<include dir>"

config PK_JEMALLOC_TOOLS_DPKCONFIG
	string "PKG_CONFIG_PATH: Directories to add to pkg-config's search path"

config PK_JEMALLOC_TOOLS_CFLAGS
	string "CFLAGS: C compiler flags"

config PK_JEMALLOC_TOOLS_LDFLAGS
	string "LDFLAGS: Linker flags"

config PK_JEMALLOC_TOOLS_CXXFLAGS
	string "CXXFLAGS: C++ compiler flags"

config PK_JEMALLOC_TOOLS_ASFLAGS
	string "CCASFLAGS: assembler compiler flags (defaults to CFLAGS)"

config PK_JEMALLOC_TOOLS_BUILDARCH
	default "x86_64-unknown-linux-gnu"
	string "--host options on configure for Architecture"

endif # PK_JEMALLOC_TOOLS
