menuconfig PK_HMM
	bool "HETEROGENEOUS MEMORY MANAGEMENT"

if PK_HMM

# CXL
# CXL.mem SYSTEM-RAM
source package/HMM-MEMORY/BiscuitOS-CXL-MEMORY/Kconfig

# CXL.mem DEVDAX
source package/HMM-MEMORY/BiscuitOS-CXL-DEVDAX/Kconfig

# CXL.mem FSDAX
source package/HMM-MEMORY/BiscuitOS-CXL-FSDAX/Kconfig

# CXL SLD
source package/HMM-MEMORY/BiscuitOS-CXL-SLD/Kconfig

# CXL MLD
source package/HMM-MEMORY/BiscuitOS-CXL-MLD/Kconfig

# CXL MH-SLD
source package/HMM-MEMORY/BiscuitOS-CXL-MHSLD/Kconfig

# CXL MH-MLD
source package/HMM-MEMORY/BiscuitOS-CXL-MHMLD/Kconfig

# CXL GPU
source package/HMM-MEMORY/BiscuitOS-CXL-GPU/Kconfig

# CXL SHMEM: GPU
source package/HMM-MEMORY/BiscuitOS-CXL-SHMEM-GPU/Kconfig

# CXL TIERED MEMORY
source package/HMM-MEMORY/BiscuitOS-CXL-TIERED-MEMORY/Kconfig

# TIERED MEMORY
source package/HMM-MEMORY/BiscuitOS-TIERED-MEMORY/Kconfig

endif # PK_HMM
