menuconfig PK_MEMMAP_INFO_PHYSMEM
	bool "Information: Physical Memory"

if PK_MEMMAP_INFO_PHYSMEM

config PK_MEMMAP_INFO_PHYSMEM_VERSION
	default "default"
	string "verstion"

config PK_MEMMAP_INFO_PHYSMEM_TAR
	default "tar.gz"
	string "tar type"

config PK_MEMMAP_INFO_PHYSMEM_URL
	default "https://gitee.com/BiscuitOS_team/HardStack/raw/Gitee/Memory-Allocator/MEMORY-MAPPING/BiscuitOS-MEMMAP-INFO-PHYSMEM"
	string "url"

config PK_MEMMAP_INFO_PHYSMEM_GITHUB
	string "GitHub"

config PK_MEMMAP_INFO_PHYSMEM_SRCFILE
	default "main.c Makefile RunBiscuitOS.sh"
	string "Source code list"

config PK_MEMMAP_INFO_PHYSMEM_CSRCFILE
	string "Compile source code list"

config PK_MEMMAP_INFO_PHYSMEM_CONFIG
	string "CONFIG: Project Configure Options"

config PK_MEMMAP_INFO_PHYSMEM_LIBPATH
	string "LIBS: Libraries to pass to the linker, e.g. -l<library>"

config PK_MEMMAP_INFO_PHYSMEM_CPPFLAGS
	string "CPPFLAGS: C/C++ preprocessor flags, e.g. -I<include dir>"

config PK_MEMMAP_INFO_PHYSMEM_DPKCONFIG
	string "PKG_CONFIG_PATH: Directories to add to pkg-config's search path"

config PK_MEMMAP_INFO_PHYSMEM_CFLAGS
	string "CFLAGS: C compiler flags"

config PK_MEMMAP_INFO_PHYSMEM_LDFLAGS
	string "LDFLAGS: Linker flags"

config PK_MEMMAP_INFO_PHYSMEM_CXXFLAGS
	string "CXXFLAGS: C++ compiler flags"

config PK_MEMMAP_INFO_PHYSMEM_ASFLAGS
	string "CCASFLAGS: assembler compiler flags (defaults to CFLAGS)"

config PK_MEMMAP_INFO_PHYSMEM_BUILDARCH
	string "--host options on configure for Architecture"

endif # PK_MEMMAP_INFO_PHYSMEM
