menuconfig PK_OPEN_KAPI
	bool "open: kernel"

if PK_OPEN_KAPI

config PK_OPEN_KAPI_VERSION
	default "0.0.1"
	string "verstion"

config PK_OPEN_KAPI_TAR
	default "tar.gz"
	string "tar type"

config PK_OPEN_KAPI_URL
	default "https://gitee.com/BiscuitOS_team/HardStack/raw/Gitee/SystemCall/arm/open/kernel"
	string "url"

config PK_OPEN_KAPI_GITHUB
	string "GitHub"

config PK_OPEN_KAPI_SRCFILE
	default "open.c Kconfig Makefile 0000-syscall-add-open.patch"
	string "Source code list"

config PK_OPEN_KAPI_CSRCFILE
	string "Compile source code list"

config PK_OPEN_KAPI_CONFIG
	string "CONFIG: Project Configure Options"

config PK_OPEN_KAPI_LIBPATH
	string "LIBS: Libraries to pass to the linker, e.g. -l<library>"

config PK_OPEN_KAPI_CPPFLAGS
	string "CPPFLAGS: C/C++ preprocessor flags, e.g. -I<include dir>"

config PK_OPEN_KAPI_DPKCONFIG
	string "PKG_CONFIG_PATH: Directories to add to pkg-config's search path"

config PK_OPEN_KAPI_CFLAGS
	string "CFLAGS: C compiler flags"

config PK_OPEN_KAPI_LDFLAGS
	string "LDFLAGS: Linker flags"

config PK_OPEN_KAPI_CXXFLAGS
	string "CXXFLAGS: C++ compiler flags"

config PK_OPEN_KAPI_ASFLAGS
	string "CCASFLAGS: assembler compiler flags (defaults to CFLAGS)"

config PK_OPEN_KAPI_BUILDARCH
	string "--host options on configure for Architecture"

endif # PK_OPEN_KAPI
