menuconfig PK_DEFINE_PER_CPU_FIRST
	bool "DEFINE_PER_CPU_FIRST"

if PK_DEFINE_PER_CPU_FIRST

config PK_DEFINE_PER_CPU_FIRST_VERSION
	default "0.0.1"
	string "verstion"

config PK_DEFINE_PER_CPU_FIRST_TAR
	default "tar.gz"
	string "tar type"

config PK_DEFINE_PER_CPU_FIRST_URL
	default "https://gitee.com/BiscuitOS_team/HardStack/raw/Gitee/Algorithem/percpu/API/DEFINE_PER_CPU_FIRST"
	string "url"

config PK_DEFINE_PER_CPU_FIRST_GITHUB
	string "GitHub"

config PK_DEFINE_PER_CPU_FIRST_SRCFILE
	default "core.c Kconfig Makefile"
	string "Source code list"

config PK_DEFINE_PER_CPU_FIRST_CSRCFILE
	string "Compile source code list"

config PK_DEFINE_PER_CPU_FIRST_CONFIG
	string "CONFIG: Project Configure Options"

config PK_DEFINE_PER_CPU_FIRST_LIBPATH
	string "LIBS: Libraries to pass to the linker, e.g. -l<library>"

config PK_DEFINE_PER_CPU_FIRST_CPPFLAGS
	string "CPPFLAGS: C/C++ preprocessor flags, e.g. -I<include dir>"

config PK_DEFINE_PER_CPU_FIRST_DPKCONFIG
	string "PKG_CONFIG_PATH: Directories to add to pkg-config's search path"

config PK_DEFINE_PER_CPU_FIRST_CFLAGS
	string "CFLAGS: C compiler flags"

config PK_DEFINE_PER_CPU_FIRST_LDFLAGS
	string "LDFLAGS: Linker flags"

config PK_DEFINE_PER_CPU_FIRST_CXXFLAGS
	string "CXXFLAGS: C++ compiler flags"

config PK_DEFINE_PER_CPU_FIRST_ASFLAGS
	string "CCASFLAGS: assembler compiler flags (defaults to CFLAGS)"

config PK_DEFINE_PER_CPU_FIRST_BUILDARCH
	string "--host options on configure for Architecture"

endif # PK_DEFINE_PER_CPU_FIRST
