menuconfig PK_PAGING_PROC_CLEAR_REFS_HIWATER_RSS
	bool "PROC Clear Referenced with HIWATER RSS"

if PK_PAGING_PROC_CLEAR_REFS_HIWATER_RSS

config PK_PAGING_PROC_CLEAR_REFS_HIWATER_RSS_VERSION
	default "default"
	string "verstion"

config PK_PAGING_PROC_CLEAR_REFS_HIWATER_RSS_TAR
	default "tar.gz"
	string "tar type"

config PK_PAGING_PROC_CLEAR_REFS_HIWATER_RSS_URL
	default "https://gitee.com/BiscuitOS_team/HardStack/raw/Gitee/Memory-Allocator/PAGING-MECH/BiscuitOS-PAGING-PROC-CLEAR-REFS-HIWATER-RSS"
	string "url"

config PK_PAGING_PROC_CLEAR_REFS_HIWATER_RSS_GITHUB
	string "GitHub"

config PK_PAGING_PROC_CLEAR_REFS_HIWATER_RSS_SRCFILE
	default "main.c Makefile RunBiscuitOS.sh"
	string "Source code list"

config PK_PAGING_PROC_CLEAR_REFS_HIWATER_RSS_CSRCFILE
	string "Compile source code list"

config PK_PAGING_PROC_CLEAR_REFS_HIWATER_RSS_CONFIG
	string "CONFIG: Project Configure Options"

config PK_PAGING_PROC_CLEAR_REFS_HIWATER_RSS_LIBPATH
	string "LIBS: Libraries to pass to the linker, e.g. -l<library>"

config PK_PAGING_PROC_CLEAR_REFS_HIWATER_RSS_CPPFLAGS
	string "CPPFLAGS: C/C++ preprocessor flags, e.g. -I<include dir>"

config PK_PAGING_PROC_CLEAR_REFS_HIWATER_RSS_DPKCONFIG
	string "PKG_CONFIG_PATH: Directories to add to pkg-config's search path"

config PK_PAGING_PROC_CLEAR_REFS_HIWATER_RSS_CFLAGS
	string "CFLAGS: C compiler flags"

config PK_PAGING_PROC_CLEAR_REFS_HIWATER_RSS_LDFLAGS
	string "LDFLAGS: Linker flags"

config PK_PAGING_PROC_CLEAR_REFS_HIWATER_RSS_CXXFLAGS
	string "CXXFLAGS: C++ compiler flags"

config PK_PAGING_PROC_CLEAR_REFS_HIWATER_RSS_ASFLAGS
	string "CCASFLAGS: assembler compiler flags (defaults to CFLAGS)"

config PK_PAGING_PROC_CLEAR_REFS_HIWATER_RSS_BUILDARCH
	string "--host options on configure for Architecture"

endif # PK_PAGING_PROC_CLEAR_REFS_HIWATER_RSS
