menuconfig PK_LIBXCB_PROTO
	bool "libxcb-proto"

if PK_LIBXCB_PROTO

config LIB_LIBXCB_PROTO_VERSION
	default "1.7.1" if X11R7_7
	default "1.7.1"
	#default "1.13"
	string "verstion"

config LIB_LIBXCB_PROTO_TAR
	default "tar.gz"
	string "tar type"

config LIB_LIBXCB_PROTO_URL
	default "https://www.x.org/releases/X11R7.7/src/xcb/" if X11R7_7
	default "https://www.x.org/releases/X11R7.7/src/xcb/"
	#default "https://www.x.org/releases/individual/xcb/"
	string "url"

config LIB_LIBXCB_PROTO_SRC
	string "source code list"

config LIB_LIBXCB_PROTO_LDFLAGS
	string "LDFLAGS"

config LIB_LIBXCB_PROTO_CFLAGS
	string "CFLAGS"

config LIB_LIBXCB_PROTO_CONFIG
	string "configure"

endif # PK_LIBXCB_PROTO
