menuconfig PK_ZONE_ALLOC_ZONE_DMA
	bool "Alloc page from ZONE_DMA"

if PK_ZONE_ALLOC_ZONE_DMA

config PK_ZONE_ALLOC_ZONE_DMA_VERSION
	default "default"
	string "verstion"

config PK_ZONE_ALLOC_ZONE_DMA_TAR
	default "tar.gz"
	string "tar type"

config PK_ZONE_ALLOC_ZONE_DMA_URL
	default "https://gitee.com/BiscuitOS_team/HardStack/raw/Gitee/Memory-Allocator/ZONE/BiscuitOS-ZONE-alloc-page-ZONE_DMA"
	string "url"

config PK_ZONE_ALLOC_ZONE_DMA_GITHUB
	string "GitHub"

config PK_ZONE_ALLOC_ZONE_DMA_SRCFILE
	default "main.c Kconfig Makefile RunBiscuitOS.sh"
	string "Source code list"

config PK_ZONE_ALLOC_ZONE_DMA_CSRCFILE
	string "Compile source code list"

config PK_ZONE_ALLOC_ZONE_DMA_CONFIG
	string "CONFIG: Project Configure Options"

config PK_ZONE_ALLOC_ZONE_DMA_LIBPATH
	string "LIBS: Libraries to pass to the linker, e.g. -l<library>"

config PK_ZONE_ALLOC_ZONE_DMA_CPPFLAGS
	string "CPPFLAGS: C/C++ preprocessor flags, e.g. -I<include dir>"

config PK_ZONE_ALLOC_ZONE_DMA_DPKCONFIG
	string "PKG_CONFIG_PATH: Directories to add to pkg-config's search path"

config PK_ZONE_ALLOC_ZONE_DMA_CFLAGS
	string "CFLAGS: C compiler flags"

config PK_ZONE_ALLOC_ZONE_DMA_LDFLAGS
	string "LDFLAGS: Linker flags"

config PK_ZONE_ALLOC_ZONE_DMA_CXXFLAGS
	string "CXXFLAGS: C++ compiler flags"

config PK_ZONE_ALLOC_ZONE_DMA_ASFLAGS
	string "CCASFLAGS: assembler compiler flags (defaults to CFLAGS)"

config PK_ZONE_ALLOC_ZONE_DMA_BUILDARCH
	string "--host options on configure for Architecture"

endif # PK_ZONE_ALLOC_ZONE_DMA
