menuconfig PK_XCMISCPROTO
	bool "xcmiscproto"

if PK_XCMISCPROTO

config XCMISCPROTO_VERSION
	default "1.2.2"
	string "verstion"

config XCMISCPROTO_TAR
	default "tar.bz2"
	string "tar type"

config XCMISCPROTO_URL
	default "http://repository.timesys.com/buildsources/x/xcmiscproto/xcmiscproto-1.2.2/"
	string "url"

config XCMISCPROTO_SRC
	string "source code list"

config XCMISCPROTO_LDFLAGS
	string "LDFLAGS"

config XCMISCPROTO_CFLAGS
	string "CFLAGS"

config XCMISCPROTO_CONFIG
	string "configure"

endif # PK_XCMISCPROTO
