menuconfig PK_BISCUITOS_HUGETLB_ANON_SHARE_MIGRATE_64K
	bool "hugetlb: Anon-Shared on Migration (64KiB Hugepages+)"

if PK_BISCUITOS_HUGETLB_ANON_SHARE_MIGRATE_64K

config PK_BISCUITOS_HUGETLB_ANON_SHARE_MIGRATE_64K_VERSION
	default "default"
	string "verstion"

config PK_BISCUITOS_HUGETLB_ANON_SHARE_MIGRATE_64K_TAR
	default "tar.gz"
	string "tar type"

config PK_BISCUITOS_HUGETLB_ANON_SHARE_MIGRATE_64K_URL
	default "https://gitee.com/BiscuitOS_team/HardStack/raw/Gitee/Memory-Allocator/Hugetlb/BiscuitOS-hugetlb-anonymous-share-mapping-migration-64KiB"
	string "url"

config PK_BISCUITOS_HUGETLB_ANON_SHARE_MIGRATE_64K_GITHUB
	string "GitHub"

config PK_BISCUITOS_HUGETLB_ANON_SHARE_MIGRATE_64K_SRCFILE
	default "main.c Makefile RunBiscuitOS.sh"
	string "Source code list"

config PK_BISCUITOS_HUGETLB_ANON_SHARE_MIGRATE_64K_CSRCFILE
	string "Compile source code list"

config PK_BISCUITOS_HUGETLB_ANON_SHARE_MIGRATE_64K_CONFIG
	string "CONFIG: Project Configure Options"

config PK_BISCUITOS_HUGETLB_ANON_SHARE_MIGRATE_64K_LIBPATH
	string "LIBS: Libraries to pass to the linker, e.g. -l<library>"

config PK_BISCUITOS_HUGETLB_ANON_SHARE_MIGRATE_64K_CPPFLAGS
	string "CPPFLAGS: C/C++ preprocessor flags, e.g. -I<include dir>"

config PK_BISCUITOS_HUGETLB_ANON_SHARE_MIGRATE_64K_DPKCONFIG
	string "PKG_CONFIG_PATH: Directories to add to pkg-config's search path"

config PK_BISCUITOS_HUGETLB_ANON_SHARE_MIGRATE_64K_CFLAGS
	string "CFLAGS: C compiler flags"

config PK_BISCUITOS_HUGETLB_ANON_SHARE_MIGRATE_64K_LDFLAGS
	string "LDFLAGS: Linker flags"

config PK_BISCUITOS_HUGETLB_ANON_SHARE_MIGRATE_64K_CXXFLAGS
	string "CXXFLAGS: C++ compiler flags"

config PK_BISCUITOS_HUGETLB_ANON_SHARE_MIGRATE_64K_ASFLAGS
	string "CCASFLAGS: assembler compiler flags (defaults to CFLAGS)"

config PK_BISCUITOS_HUGETLB_ANON_SHARE_MIGRATE_64K_BUILDARCH
	string "--host options on configure for Architecture"

endif # PK_BISCUITOS_HUGETLB_ANON_SHARE_MIGRATE_64K
