menuconfig PK_VIDEOPROTO
	bool "videoproto"

if PK_VIDEOPROTO

config VIDEOPROTO_VERSION
	default "2.3.3"
	string "verstion"

config VIDEOPROTO_TAR
	default "tar.bz2"
	string "tar type"

config VIDEOPROTO_URL
	default "repository.timesys.com/buildsources/v/videoproto/videoproto-2.3.3/"
	string "url"

config VIDEOPROTO_SRC
	string "source code list"

config VIDEOPROTO_LDFLAGS
	string "LDFLAGS"

config VIDEOPROTO_CFLAGS
	string "CFLAGS"

config VIDEOPROTO_CONFIG
	string "configure"

endif # PK_VIDEOPROTO
