menuconfig PK_PCI_DMA_QEMU_DEV_MSI
	bool "QEMU PCI DEVICE: PCI DMA MSI (BiscuitOS-PCI-DMA-MSI)"

if PK_PCI_DMA_QEMU_DEV_MSI

config PK_PCI_DMA_QEMU_DEV_MSI_VERSION
	default "default"
	string "verstion"

config PK_PCI_DMA_QEMU_DEV_MSI_TAR
	default "tar.gz"
	string "tar type"

config PK_PCI_DMA_QEMU_DEV_MSI_URL
	default "https://gitee.com/BiscuitOS_team/HardStack/raw/Gitee/Device-Driver/PCIe/BiscuitOS-PCI-DMA-QEMU-DEVICE-MSI"
	string "url"

config PK_PCI_DMA_QEMU_DEV_MSI_GITHUB
	string "GitHub"

config PK_PCI_DMA_QEMU_DEV_MSI_SRCFILE
	default "main.c Kconfig Makefile.objs README.md"
	string "Source code list"

config PK_PCI_DMA_QEMU_DEV_MSI_CSRCFILE
	string "Compile source code list"

config PK_PCI_DMA_QEMU_DEV_MSI_CONFIG
	string "CONFIG: Project Configure Options"

config PK_PCI_DMA_QEMU_DEV_MSI_LIBPATH
	string "LIBS: Libraries to pass to the linker, e.g. -l<library>"

config PK_PCI_DMA_QEMU_DEV_MSI_CPPFLAGS
	string "CPPFLAGS: C/C++ preprocessor flags, e.g. -I<include dir>"

config PK_PCI_DMA_QEMU_DEV_MSI_DPKCONFIG
	string "PKG_CONFIG_PATH: Directories to add to pkg-config's search path"

config PK_PCI_DMA_QEMU_DEV_MSI_CFLAGS
	string "CFLAGS: C compiler flags"

config PK_PCI_DMA_QEMU_DEV_MSI_LDFLAGS
	string "LDFLAGS: Linker flags"

config PK_PCI_DMA_QEMU_DEV_MSI_CXXFLAGS
	string "CXXFLAGS: C++ compiler flags"

config PK_PCI_DMA_QEMU_DEV_MSI_ASFLAGS
	string "CCASFLAGS: assembler compiler flags (defaults to CFLAGS)"

config PK_PCI_DMA_QEMU_DEV_MSI_BUILDARCH
	string "--host options on configure for Architecture"

endif # PK_PCI_DMA_QEMU_DEV_MSI
