menuconfig PK_DAMAGEPROTO
	bool "damageproto"

if PK_DAMAGEPROTO

config PK_DAMAGEPROTO_VERSION
	default "1.2.1"
	string "verstion"

config PK_DAMAGEPROTO_TAR
	default "tar.gz"
	string "tar type"

config PK_DAMAGEPROTO_URL
	default "https://www.x.org/releases/individual/proto/"
	string "url"

config PK_DAMAGEPROTO_GITHUB
	string "GitHub"

config PK_DAMAGEPROTO_SRCFILE
	string "Source code list"

config PK_DAMAGEPROTO_CONFIG
	default "--enable-silent-rules --disable-static"
	string "CONFIG: Project Configure Options"

config PK_DAMAGEPROTO_LIBPATH
	string "LIBS: Libraries to pass to the linker, e.g. -l<library>"

config PK_DAMAGEPROTO_CPPFLAGS
	string "CPPFLAGS: C/C++ preprocessor flags, e.g. -I<include dir>"

config PK_DAMAGEPROTO_DPKCONFIG
	string "PKG_CONFIG_PATH: Directories to add to pkg-config's search path"

config PK_DAMAGEPROTO_CFLAGS
	string "CFLAGS: C compiler flags"

config PK_DAMAGEPROTO_LDFLAGS
	string "LDFLAGS: Linker flags"

config PK_DAMAGEPROTO_CXXFLAGS
	string "CXXFLAGS: C++ compiler flags"

config PK_DAMAGEPROTO_ASFLAGS
	string "CCASFLAGS: assembler compiler flags (defaults to CFLAGS)"

config PK_DAMAGEPROTO_BUILDARCH
	default "x86_64-unknown-linux-gnu"
	string "--host options on configure for Architecture"

endif # PK_DAMAGEPROTO
