menuconfig PK_REGISTER_X86
	bool "X86/i386/X64 Register"

if PK_REGISTER_X86

# CPID
source "package/Register/x86/CPUID/Kconfig"

# CR0
source "package/Register/x86/CR0/Kconfig"

# CR3
source "package/Register/x86/CR3/Kconfig"

# CR4
source "package/Register/x86/CR4/Kconfig"

# EFLAGS
source "package/Register/x86/EFLAGS/Kconfig"

# MSR
source "package/Register/x86/MSR/Kconfig"

endif # PK_REGISTER_X86
