menuconfig BOOT_SEABIOS
	bool "SeaBIOS"
	help
	  SeaBIOS for Intel i386.

if BOOT_SEABIOS

config SEABIOS_VER
	string "SeaBIOS release version"
	default "rel-1.9.3"
	help
	  Version of SeaBIOS.

config COREBOOT_ON
	bool "SeaBIOS running on X86 architecture machine"
	default n
	help
	  SeaBIOS running on Real-hardware.

endif # BOOT_SEABIOS
