menuconfig PK_NODES_SETALL
	bool "nodes_setall"

if PK_NODES_SETALL

config PK_NODES_SETALL_VERSION
	default "default"
	string "verstion"

config PK_NODES_SETALL_TAR
	default "tar.gz"
	string "tar type"

config PK_NODES_SETALL_URL
	default "https://gitee.com/BiscuitOS_team/HardStack/raw/Gitee/Algorithem/nodemask/nodes_setall"
	string "url"

config PK_NODES_SETALL_GITHUB
	string "GitHub"

config PK_NODES_SETALL_SRCFILE
	default "main.c Kconfig Makefile"
	string "Source code list"

config PK_NODES_SETALL_CSRCFILE
	string "Compile source code list"

config PK_NODES_SETALL_CONFIG
	string "CONFIG: Project Configure Options"

config PK_NODES_SETALL_LIBPATH
	string "LIBS: Libraries to pass to the linker, e.g. -l<library>"

config PK_NODES_SETALL_CPPFLAGS
	string "CPPFLAGS: C/C++ preprocessor flags, e.g. -I<include dir>"

config PK_NODES_SETALL_DPKCONFIG
	string "PKG_CONFIG_PATH: Directories to add to pkg-config's search path"

config PK_NODES_SETALL_CFLAGS
	string "CFLAGS: C compiler flags"

config PK_NODES_SETALL_LDFLAGS
	string "LDFLAGS: Linker flags"

config PK_NODES_SETALL_CXXFLAGS
	string "CXXFLAGS: C++ compiler flags"

config PK_NODES_SETALL_ASFLAGS
	string "CCASFLAGS: assembler compiler flags (defaults to CFLAGS)"

config PK_NODES_SETALL_BUILDARCH
	string "--host options on configure for Architecture"

endif # PK_NODES_SETALL
