menuconfig PK_MMU_MEMORY_HOTPLUG_AUTO
	bool "Memory Hotplug in C"

if PK_MMU_MEMORY_HOTPLUG_AUTO

config PK_MMU_MEMORY_HOTPLUG_AUTO_VERSION
	default "0.0.1"
	string "verstion"

config PK_MMU_MEMORY_HOTPLUG_AUTO_TAR
	default "tar.gz"
	string "tar type"

config PK_MMU_MEMORY_HOTPLUG_AUTO_URL
	default "https://gitee.com/BiscuitOS_team/HardStack/raw/Gitee/Memory-Allocator/Memory-Hotplug/memory-hotplug"
	string "url"

config PK_MMU_MEMORY_HOTPLUG_AUTO_GITHUB
	string "GitHub"

config PK_MMU_MEMORY_HOTPLUG_AUTO_SRCFILE
	default "main.c Kconfig Makefile"
	string "Source code list"

config PK_MMU_MEMORY_HOTPLUG_AUTO_CSRCFILE
	string "Compile source code list"

config PK_MMU_MEMORY_HOTPLUG_AUTO_CONFIG
	string "CONFIG: Project Configure Options"

config PK_MMU_MEMORY_HOTPLUG_AUTO_LIBPATH
	string "LIBS: Libraries to pass to the linker, e.g. -l<library>"

config PK_MMU_MEMORY_HOTPLUG_AUTO_CPPFLAGS
	string "CPPFLAGS: C/C++ preprocessor flags, e.g. -I<include dir>"

config PK_MMU_MEMORY_HOTPLUG_AUTO_DPKCONFIG
	string "PKG_CONFIG_PATH: Directories to add to pkg-config's search path"

config PK_MMU_MEMORY_HOTPLUG_AUTO_CFLAGS
	string "CFLAGS: C compiler flags"

config PK_MMU_MEMORY_HOTPLUG_AUTO_LDFLAGS
	string "LDFLAGS: Linker flags"

config PK_MMU_MEMORY_HOTPLUG_AUTO_CXXFLAGS
	string "CXXFLAGS: C++ compiler flags"

config PK_MMU_MEMORY_HOTPLUG_AUTO_ASFLAGS
	string "CCASFLAGS: assembler compiler flags (defaults to CFLAGS)"

config PK_MMU_MEMORY_HOTPLUG_AUTO_BUILDARCH
	string "--host options on configure for Architecture"

endif # PK_MMU_MEMORY_HOTPLUG_AUTO
