menuconfig PK_LIBPCIACCESS
	bool "libpciaccess"

if PK_LIBPCIACCESS

config LIB_LIBPCIACCESS_VERSION
	default "0.14"
	string "verstion"

config LIB_LIBPCIACCESS_TAR
	default "tar.bz2"
	string "tar type"

config LIB_LIBPCIACCESS_URL
	default "http://repository.timesys.com/buildsources/l/libpciaccess/libpciaccess-0.14/"
	string "url"

config LIB_LIBPCIACCESS_SRC
	string "source code list"

config LIB_LIBPCIACCESS_LDFLAGS
	string "LDFLAGS"

config LIB_LIBPCIACCESS_CFLAGS
	string "CFLAGS"

config LIB_LIBPCIACCESS_CONFIG
	string "configure"

endif # PK_LIBPCIACCESS
