menuconfig PK_MEMORY_MMAP_FILE_REVERSE_TREE
	bool "Memory Mapping: FILE-MAPPING REVERSE TREE"

if PK_MEMORY_MMAP_FILE_REVERSE_TREE

config PK_MEMORY_MMAP_FILE_REVERSE_TREE_VERSION
	default "default"
	string "verstion"

config PK_MEMORY_MMAP_FILE_REVERSE_TREE_TAR
	default "tar.gz"
	string "tar type"

config PK_MEMORY_MMAP_FILE_REVERSE_TREE_URL
	default "https://gitee.com/BiscuitOS_team/HardStack/raw/Gitee/Memory-Allocator/MMAP-MECH/BiscuitOS-MEMORY-MMAP-FILE-REVERSE-TREE"
	string "url"

config PK_MEMORY_MMAP_FILE_REVERSE_TREE_GITHUB
	string "GitHub"

config PK_MEMORY_MMAP_FILE_REVERSE_TREE_SRCFILE
	default "Kconfig  main.c  Makefile  Makefile.host  RunBiscuitOS.sh"
	string "Source code list"

config PK_MEMORY_MMAP_FILE_REVERSE_TREE_CSRCFILE
	string "Compile source code list"

config PK_MEMORY_MMAP_FILE_REVERSE_TREE_CONFIG
	string "CONFIG: Project Configure Options"

config PK_MEMORY_MMAP_FILE_REVERSE_TREE_LIBPATH
	string "LIBS: Libraries to pass to the linker, e.g. -l<library>"

config PK_MEMORY_MMAP_FILE_REVERSE_TREE_CPPFLAGS
	string "CPPFLAGS: C/C++ preprocessor flags, e.g. -I<include dir>"

config PK_MEMORY_MMAP_FILE_REVERSE_TREE_DPKCONFIG
	string "PKG_CONFIG_PATH: Directories to add to pkg-config's search path"

config PK_MEMORY_MMAP_FILE_REVERSE_TREE_CFLAGS
	string "CFLAGS: C compiler flags"

config PK_MEMORY_MMAP_FILE_REVERSE_TREE_LDFLAGS
	string "LDFLAGS: Linker flags"

config PK_MEMORY_MMAP_FILE_REVERSE_TREE_CXXFLAGS
	string "CXXFLAGS: C++ compiler flags"

config PK_MEMORY_MMAP_FILE_REVERSE_TREE_ASFLAGS
	string "CCASFLAGS: assembler compiler flags (defaults to CFLAGS)"

config PK_MEMORY_MMAP_FILE_REVERSE_TREE_BUILDARCH
	string "--host options on configure for Architecture"

endif # PK_MEMORY_MMAP_FILE_REVERSE_TREE
