menuconfig PK_MEMBLOCK
	bool "MEMBLOCK Memory Allocator"

if PK_MEMBLOCK

# memblock on userspace
source package/memblock/memblock_userspace/Kconfig

# memblock_set_region_node
source package/memblock/memblock_set_region_node/Kconfig

endif # PK_MEMBLOCK
