menuconfig PK_PCP_2_6_14
	bool "PCP on linux 2.6.14"

if PK_PCP_2_6_14

config PK_PCP_2_6_14_VERSION
	default "2.6.14"
	string "verstion"

config PK_PCP_2_6_14_TAR
	default "tar.gz"
	string "tar type"

config PK_PCP_2_6_14_URL
	default "https://gitee.com/BiscuitOS_team/HardStack/raw/Gitee/Memory-Allocator/History/mm/mm_bs"
	string "url"

config PK_PCP_2_6_14_GITHUB
	string "GitHub"
	default "https://gitee.com/BiscuitOS_team/BiscuitOS_Memory.git"

config PK_PCP_2_6_14_SRCFILE
	default "README.md"
	string "Source code list"

config PK_PCP_2_6_14_CSRCFILE
	string "Compile source code list"

config PK_PCP_2_6_14_CONFIG
	string "CONFIG: Project Configure Options"

config PK_PCP_2_6_14_LIBPATH
	string "LIBS: Libraries to pass to the linker, e.g. -l<library>"

config PK_PCP_2_6_14_CPPFLAGS
	string "CPPFLAGS: C/C++ preprocessor flags, e.g. -I<include dir>"

config PK_PCP_2_6_14_DPKCONFIG
	string "PKG_CONFIG_PATH: Directories to add to pkg-config's search path"

config PK_PCP_2_6_14_CFLAGS
	string "CFLAGS: C compiler flags"

config PK_PCP_2_6_14_LDFLAGS
	string "LDFLAGS: Linker flags"

config PK_PCP_2_6_14_CXXFLAGS
	string "CXXFLAGS: C++ compiler flags"

config PK_PCP_2_6_14_ASFLAGS
	string "CCASFLAGS: assembler compiler flags (defaults to CFLAGS)"

config PK_PCP_2_6_14_BUILDARCH
	string "--host options on configure for Architecture"

endif # PK_PCP_2_6_14
