menuconfig PK_PIO
	bool "PIO: Programming Input/Output Model"

if PK_PIO

# Broiler Sychronous PIO
source package/pio/Broiler-Synchronous-pio/Kconfig

# Broiler Sychronous PIO In Kernel
source package/pio/Broiler-Synchronous-pio-In-Kernel/Kconfig

# Broiler Sychronous PIO In PCI
source package/pio/Broiler-Synchronous-pio-PCI/Kconfig

# Broiler Asychronous PIO
source package/pio/Broiler-Asynchronous-pio/Kconfig

endif # PK_PIO
