menuconfig PK_EXPAT
	bool "expat"

if PK_EXPAT

config EXPAT_VERSION
	default "2.2.4"
	string "verstion"

config EXPAT_TAR
	default "tar.bz2"
	string "tar type"

config EXPAT_URL
	default "http://repository.timesys.com/buildsources/e/expat/expat-2.2.4/"
	string "url"

config EXPAT_SRC
	string "source code list"

config EXPAT_LDFLAGS
	string "LDFLAGS"

config EXPAT_CFLAGS
	string "CFLAGS"

config EXPAT_CONFIG
	string "configure"

endif # PK_EXPAT
