menuconfig PK_SYS_OPEN
	bool "sys_open"

if PK_SYS_OPEN

# C open
source "package/syscall/sys_open/open_common/Kconfig"

# getname
source "package/syscall/sys_open/getname_common/Kconfig"

# number
source "package/syscall/sys_open/number_open_common/Kconfig"

endif # PK_SYS_OPEN
