menuconfig PK_GLIB
	select PK_LIBFFI
	select PK_PCRE
	select PK_ZLIB
	bool "glib"

if PK_GLIB

choice
	prompt "GLIB Release Version"

config GLIBR2
	bool "Glib 2.48"

endchoice

config LIB_GLIB_VERSION
	default "2.48.1" if GLIBR2
	string "verstion"

config LIB_GLIB_TAR
	default "tar.xz"
	string "tar type"

config LIB_GLIB_URL
	default "http://ftp.acc.umu.se/pub/GNOME/sources/glib/2.48/" if GLIBR2
	string "url"

config LIB_GLIB_SRC
	string "source code list"

config LIB_GLIB_LDFLAGS
	default "-lpcre"
	string "LDFLAGS"

config LIB_GLIB_CFLAGS
	default "-Wno-missing-include-dirs"
	string "CFLAGS"

config LIB_GLIB_CONFIG
	default "glib_cv_stack_grows=no glib_cv_uscore=yes ac_cv_func_posix_getpwuid_r=yes ac_cv_func_posix_getgrgid_r=yes"
	string "configure"

endif # PK_GLIB
