menuconfig PK_BUDDY
	bool "BUDDY ALLOCATOR(ZONE ALLOCATOR)"

if PK_BUDDY

# BUDDY
source package/BUDDY-ALLOCATOR/BiscuitOS-BUDDY/Kconfig

# BUDDY: MEMORY POLICY
source package/BUDDY-ALLOCATOR/BiscuitOS-BUDDY-MEMORY-POLICY/Kconfig

# BUDDY GFP: GFP_KERNEL
source package/BUDDY-ALLOCATOR/BiscuitOS-BUDDY-GFP-KERNEL/Kconfig

# BUDDY GFP: GFP_DMA
source package/BUDDY-ALLOCATOR/BiscuitOS-BUDDY-GFP-DMA/Kconfig

# BUDDY GFP: GFP_DMA32
source package/BUDDY-ALLOCATOR/BiscuitOS-BUDDY-GFP-DMA32/Kconfig

# BUDDY GFP: GFP_HIGHMEM
source package/BUDDY-ALLOCATOR/BiscuitOS-BUDDY-GFP-HIGHMEM/Kconfig

# BUDDY GFP: GFP_HIGHUSER_MOVABLE
source package/BUDDY-ALLOCATOR/BiscuitOS-BUDDY-GFP-HIGHUSER-MOVABLE/Kconfig

# BUDDY GFP: GFP_PGTABLE_USER
source package/BUDDY-ALLOCATOR/BiscuitOS-BUDDY-GFP-PGTABLE-USER/Kconfig

# BUDDY GFP: GFP_PGTABLE_KERNEL
source package/BUDDY-ALLOCATOR/BiscuitOS-BUDDY-GFP-PGTABLE-KERNEL/Kconfig

endif # PK_BUDDY
