menuconfig PK_SYSCALL
	bool "System Call"

if PK_SYSCALL

# sys_brk
source "package/syscall/sys_brk/Kconfig"

# sys_close
source "package/syscall/sys_close/Kconfig"

# sys_open
source "package/syscall/sys_open/Kconfig"

# sys_mkdir
source "package/syscall/sys_mkdir/Kconfig"

# sys_mount
source "package/syscall/sys_mount/Kconfig"

# sys_read
source "package/syscall/sys_read/Kconfig"

# sys_write
source "package/syscall/sys_write/Kconfig"

endif # PK_SYSCALL
