menuconfig PK_ALGO_RADIXTREE
	bool "Algo  Radix-tree"

if PK_ALGO_RADIXTREE

config ALGO_RADIXTREE_VERSION
	default "0.11"
	string "verstion"

config ALGO_RADIXTREE_TAR
	string "tar type"

config ALGO_RADIXTREE_URL
	default "https://raw.githubusercontent.com/BiscuitOS/HardStack/master/Algorithem/tree/radix-tree/Basic"
	string "url"

config ALGO_RADIXTREE_LDFLAGS
	string "LDFLAGS"

config ALGO_RADIXTREE_CFLAGS
	default "-DCONFIG_BASE_SMALL=0"
	string "CFLAGS"

config ALGO_RADIXTREE_CONFIG
	string "configure"

config ALGO_RADIXTREE_SRC
	default "Makefile radix.c radix.h radix_run.c"
	string "source code list"

config ALGO_RADIXTREE_CSRC
	default "radix.c radix_run.c"
	string "Compile source code list"

endif # PK_ALGO_RADIXTREE
