menuconfig PK_MCE
	bool "MCE: Machine Check Exception Mechanism"

if PK_MCE

# MCELOG
source package/MCE/BiscuitOS-MCELOG/Kconfig

# MCE-Inject
source package/MCE/BiscuitOS-MCE-Inject/Kconfig

# MCE: software-offline poison page
source package/MCE/BiscuitOS-MCE-software-offline-poison-page/Kconfig

# MCE: hardware-offline poison page
source package/MCE/BiscuitOS-MCE-hardware-offline-poison-page/Kconfig

# MCE: madvise hardware-offline poison page
source package/MCE/BiscuitOS-MCE-madvise-hardware-offline-poison-page/Kconfig

# MCE: madvise software-offline poison page
source package/MCE/BiscuitOS-MCE-madvise-software-offline-poison-page/Kconfig

endif # PK_MCE
