menuconfig PK_MOD_PROJ
	bool "Module Project"

if PK_MOD_PROJ

config PK_MOD_PROJ_VERSION
	default "0.0.1"
	string "verstion"

config PK_MOD_PROJ_TAR
	default "tar.gz"
	string "tar type"

config PK_MOD_PROJ_URL
	default "https://gitee.com/BiscuitOS_team/HardStack/raw/Gitee/Device-Driver/base/Module"
	string "url"

config PK_MOD_PROJ_GITHUB
	string "GitHub"

config PK_MOD_PROJ_SRCFILE
	default "core.c Kconfig Makefile include/linux/demo.h src/demo.c"
	string "Source code list"

config PK_MOD_PROJ_CSRCFILE
	string "Compile source code list"

config PK_MOD_PROJ_CONFIG
	string "CONFIG: Project Configure Options"

config PK_MOD_PROJ_LIBPATH
	string "LIBS: Libraries to pass to the linker, e.g. -l<library>"

config PK_MOD_PROJ_CPPFLAGS
	string "CPPFLAGS: C/C++ preprocessor flags, e.g. -I<include dir>"

config PK_MOD_PROJ_DPKCONFIG
	string "PKG_CONFIG_PATH: Directories to add to pkg-config's search path"

config PK_MOD_PROJ_CFLAGS
	string "CFLAGS: C compiler flags"

config PK_MOD_PROJ_LDFLAGS
	string "LDFLAGS: Linker flags"

config PK_MOD_PROJ_CXXFLAGS
	string "CXXFLAGS: C++ compiler flags"

config PK_MOD_PROJ_ASFLAGS
	string "CCASFLAGS: assembler compiler flags (defaults to CFLAGS)"

config PK_MOD_PROJ_BUILDARCH
	string "--host options on configure for Architecture"

endif # PK_MOD_PROJ
