menuconfig PK_LIBFFI
	bool "libffi"

if PK_LIBFFI

config LIB_LIBFFI_VERSION
	default "3.2" if GLIBR2
	string "verstion"

config LIB_LIBFFI_TAR
	default "tar.gz"
	string "tar type"

config LIB_LIBFFI_URL
	default "https://www.mirrorservice.org/sites/sourceware.org/pub/libffi/" if GLIBR2
	string "url"

config LIB_LIBFFI_SRC
	string "source code list"

config LIB_LIBFFI_LDFLAGS
	string "LDFLAGS"

config LIB_LIBFFI_CFLAGS
	string "CFLAGS"

config LIB_LIBFFI_CONFIG
	string "configure"

endif # PK_LIBFFI
