menuconfig PK_APP_DEMO
	bool "Application Demo"

if PK_APP_DEMO

config PK_APP_DEMO_VERSION
	default "0.0.1"
	string "verstion"

config PK_APP_DEMO_TAR
	default "tar.gz"
	string "tar type"

config PK_APP_DEMO_URL
	default "https://raw.githubusercontent.com/BiscuitOS/HardStack/master/CodeSegment/demo/"
	string "url"

config PK_APP_DEMO_GITHUB
	string "GitHub"

config PK_APP_DEMO_SRCFILE
	default "demo.c Makefile"
	string "Source code list"

config PK_APP_DEMO_CSRCFILE
	string "Compile source code list"

config PK_APP_DEMO_CONFIG
	string "CONFIG: Project Configure Options"

config PK_APP_DEMO_LIBPATH
	string "LIBS: Libraries to pass to the linker, e.g. -l<library>"

config PK_APP_DEMO_CPPFLAGS
	string "CPPFLAGS: C/C++ preprocessor flags, e.g. -I<include dir>"

config PK_APP_DEMO_DPKCONFIG
	string "PKG_CONFIG_PATH: Directories to add to pkg-config's search path"

config PK_APP_DEMO_CFLAGS
	string "CFLAGS: C compiler flags"

config PK_APP_DEMO_LDFLAGS
	string "LDFLAGS: Linker flags"

config PK_APP_DEMO_CXXFLAGS
	string "CXXFLAGS: C++ compiler flags"

config PK_APP_DEMO_ASFLAGS
	string "CCASFLAGS: assembler compiler flags (defaults to CFLAGS)"

config PK_APP_DEMO_BUILDARCH
	string "--host options on configure for Architecture"

endif # PK_APP_DEMO
