menuconfig PK_OPEN_FLAGS_TMPFILE
	select PK_OPEN_KAPI
	bool "open flags: O_TMPFILE/__O_TMPFILE"

if PK_OPEN_FLAGS_TMPFILE

config PK_OPEN_FLAGS_TMPFILE_VERSION
	default "0.0.1"
	string "verstion"

config PK_OPEN_FLAGS_TMPFILE_TAR
	default "tar.gz"
	string "tar type"

config PK_OPEN_FLAGS_TMPFILE_URL
	default "https://gitee.com/BiscuitOS_team/HardStack/raw/Gitee/SystemCall/arm/open/flags/O_TMPFILE"
	string "url"

config PK_OPEN_FLAGS_TMPFILE_GITHUB
	string "GitHub"

config PK_OPEN_FLAGS_TMPFILE_SRCFILE
	default "open.c open-bs.c Makefile"
	string "Source code list"

config PK_OPEN_FLAGS_TMPFILE_CSRCFILE
	string "Compile source code list"

config PK_OPEN_FLAGS_TMPFILE_CONFIG
	string "CONFIG: Project Configure Options"

config PK_OPEN_FLAGS_TMPFILE_LIBPATH
	string "LIBS: Libraries to pass to the linker, e.g. -l<library>"

config PK_OPEN_FLAGS_TMPFILE_CPPFLAGS
	string "CPPFLAGS: C/C++ preprocessor flags, e.g. -I<include dir>"

config PK_OPEN_FLAGS_TMPFILE_DPKCONFIG
	string "PKG_CONFIG_PATH: Directories to add to pkg-config's search path"

config PK_OPEN_FLAGS_TMPFILE_CFLAGS
	string "CFLAGS: C compiler flags"

config PK_OPEN_FLAGS_TMPFILE_LDFLAGS
	string "LDFLAGS: Linker flags"

config PK_OPEN_FLAGS_TMPFILE_CXXFLAGS
	string "CXXFLAGS: C++ compiler flags"

config PK_OPEN_FLAGS_TMPFILE_ASFLAGS
	string "CCASFLAGS: assembler compiler flags (defaults to CFLAGS)"

config PK_OPEN_FLAGS_TMPFILE_BUILDARCH
	string "--host options on configure for Architecture"

endif # PK_OPEN_FLAGS_TMPFILE
