menuconfig PK_DRI2PROTO
	bool "dri2proto"

if PK_DRI2PROTO

config DRI2PROTO_VERSION
	default "2.6"
	string "verstion"

config DRI2PROTO_TAR
	default "tar.gz"
	string "tar type"

config DRI2PROTO_URL
	default "https://www.x.org/releases/X11R7.7/src/proto/"
	string "url"

config DRI2PROTO_SRC
	string "source code list"

config DRI2PROTO_LDFLAGS
	string "LDFLAGS"

config DRI2PROTO_CFLAGS
	string "CFLAGS"

config DRI2PROTO_CONFIG
	string "configure"

endif # PK_DRI2PROTO
