menuconfig PK_COMPOSITEPROTO
	bool "compositeproto"

if PK_COMPOSITEPROTO

config COMPOSITEPROTO_VERSION
	default "0.4.2"
	string "verstion"

config COMPOSITEPROTO_TAR
	default "tar.gz"
	string "tar type"

config COMPOSITEPROTO_URL
	default "https://www.x.org/releases/X11R7.7/src/proto/"
	string "url"

config COMPOSITEPROTO_SRC
	string "source code list"

config COMPOSITEPROTO_LDFLAGS
	string "LDFLAGS"

config COMPOSITEPROTO_CFLAGS
	string "CFLAGS"

config COMPOSITEPROTO_CONFIG
	string "configure"

endif # PK_COMPOSITEPROTO
