#
# Package common configure
#
menu "Common utilise"

config COMMON_UTILISE
	bool "Package and toolchain"
	help
	  binutilise

if COMMON_UTILISE

# busybox
source package/busybox/Kconfig

# qemu-system
source package/qemu/Kconfig

endif

endmenu
