menuconfig PK_FONTSPROTO
	bool "fontsproto"

if PK_FONTSPROTO

config FONTSPROTO_VERSION
	default "2.1.3"
	string "verstion"

config FONTSPROTO_TAR
	default "tar.bz2"
	string "tar type"

config FONTSPROTO_URL
	default "http://repository.timesys.com/buildsources/f/fontsproto/fontsproto-2.1.3/"
	string "url"

config FONTSPROTO_SRC
	string "source code list"

config FONTSPROTO_LDFLAGS
	string "LDFLAGS"

config FONTSPROTO_CFLAGS
	string "CFLAGS"

config FONTSPROTO_CONFIG
	string "configure"

endif # PK_FONTSPROTO
