menuconfig PK_MEMBLOCK_MEMBLOCK_ALLOC_FROM
	bool "MEMBLOCK API: memblock_alloc_from()"

if PK_MEMBLOCK_MEMBLOCK_ALLOC_FROM

config PK_MEMBLOCK_MEMBLOCK_ALLOC_FROM_VERSION
	default "default"
	string "verstion"

config PK_MEMBLOCK_MEMBLOCK_ALLOC_FROM_TAR
	default "tar.gz"
	string "tar type"

config PK_MEMBLOCK_MEMBLOCK_ALLOC_FROM_URL
	default "https://gitee.com/BiscuitOS_team/HardStack/raw/Gitee/Memory-Allocator/MEMBLOCK/BiscuitOS-MEMBLOCK-memblock_alloc_from"
	string "url"

config PK_MEMBLOCK_MEMBLOCK_ALLOC_FROM_GITHUB
	string "GitHub"

config PK_MEMBLOCK_MEMBLOCK_ALLOC_FROM_SRCFILE
	default "main.c Kconfig Makefile BiscuitOS_Insert.bs"
	string "Source code list"

config PK_MEMBLOCK_MEMBLOCK_ALLOC_FROM_CSRCFILE
	string "Compile source code list"

config PK_MEMBLOCK_MEMBLOCK_ALLOC_FROM_CONFIG
	string "CONFIG: Project Configure Options"

config PK_MEMBLOCK_MEMBLOCK_ALLOC_FROM_LIBPATH
	string "LIBS: Libraries to pass to the linker, e.g. -l<library>"

config PK_MEMBLOCK_MEMBLOCK_ALLOC_FROM_CPPFLAGS
	string "CPPFLAGS: C/C++ preprocessor flags, e.g. -I<include dir>"

config PK_MEMBLOCK_MEMBLOCK_ALLOC_FROM_DPKCONFIG
	string "PKG_CONFIG_PATH: Directories to add to pkg-config's search path"

config PK_MEMBLOCK_MEMBLOCK_ALLOC_FROM_CFLAGS
	string "CFLAGS: C compiler flags"

config PK_MEMBLOCK_MEMBLOCK_ALLOC_FROM_LDFLAGS
	string "LDFLAGS: Linker flags"

config PK_MEMBLOCK_MEMBLOCK_ALLOC_FROM_CXXFLAGS
	string "CXXFLAGS: C++ compiler flags"

config PK_MEMBLOCK_MEMBLOCK_ALLOC_FROM_ASFLAGS
	string "CCASFLAGS: assembler compiler flags (defaults to CFLAGS)"

config PK_MEMBLOCK_MEMBLOCK_ALLOC_FROM_BUILDARCH
	string "--host options on configure for Architecture"

endif # PK_MEMBLOCK_MEMBLOCK_ALLOC_FROM
