menuconfig PK_PAGING_PF_KERNEL_KPROBE
	bool "Page Fault: KPROBE-PF"

if PK_PAGING_PF_KERNEL_KPROBE

config PK_PAGING_PF_KERNEL_KPROBE_VERSION
	default "default"
	string "verstion"

config PK_PAGING_PF_KERNEL_KPROBE_TAR
	default "tar.gz"
	string "tar type"

config PK_PAGING_PF_KERNEL_KPROBE_URL
	default "https://gitee.com/BiscuitOS_team/HardStack/raw/Gitee/Memory-Allocator/PAGING-MECH/BiscuitOS-PAGING-PF-KERNEL-KPROBE"
	string "url"

config PK_PAGING_PF_KERNEL_KPROBE_GITHUB
	string "GitHub"

config PK_PAGING_PF_KERNEL_KPROBE_SRCFILE
	default "app.c main.c Makefile RunBiscuitOS.sh Kconfig Makefile.host"
	string "Source code list"

config PK_PAGING_PF_KERNEL_KPROBE_CSRCFILE
	string "Compile source code list"

config PK_PAGING_PF_KERNEL_KPROBE_CONFIG
	string "CONFIG: Project Configure Options"

config PK_PAGING_PF_KERNEL_KPROBE_LIBPATH
	string "LIBS: Libraries to pass to the linker, e.g. -l<library>"

config PK_PAGING_PF_KERNEL_KPROBE_CPPFLAGS
	string "CPPFLAGS: C/C++ preprocessor flags, e.g. -I<include dir>"

config PK_PAGING_PF_KERNEL_KPROBE_DPKCONFIG
	string "PKG_CONFIG_PATH: Directories to add to pkg-config's search path"

config PK_PAGING_PF_KERNEL_KPROBE_CFLAGS
	string "CFLAGS: C compiler flags"

config PK_PAGING_PF_KERNEL_KPROBE_LDFLAGS
	string "LDFLAGS: Linker flags"

config PK_PAGING_PF_KERNEL_KPROBE_CXXFLAGS
	string "CXXFLAGS: C++ compiler flags"

config PK_PAGING_PF_KERNEL_KPROBE_ASFLAGS
	string "CCASFLAGS: assembler compiler flags (defaults to CFLAGS)"

config PK_PAGING_PF_KERNEL_KPROBE_BUILDARCH
	string "--host options on configure for Architecture"

endif # PK_PAGING_PF_KERNEL_KPROBE
