menuconfig PK_PAGE_FAULT_USER_ADDR_USERSPACE
	select PK_PAGE_FAULT_USER_ADDR_KERNEL
	bool "User Address Page Fault (Userspace+)"

if PK_PAGE_FAULT_USER_ADDR_USERSPACE

config PK_PAGE_FAULT_USER_ADDR_USERSPACE_VERSION
	default "default"
	string "verstion"

config PK_PAGE_FAULT_USER_ADDR_USERSPACE_TAR
	default "tar.gz"
	string "tar type"

config PK_PAGE_FAULT_USER_ADDR_USERSPACE_URL
	default "https://gitee.com/BiscuitOS_team/HardStack/raw/Gitee/Memory-Allocator/page-fault/BiscuitOS-page-fault-user-address/userspace"
	string "url"

config PK_PAGE_FAULT_USER_ADDR_USERSPACE_GITHUB
	string "GitHub"

config PK_PAGE_FAULT_USER_ADDR_USERSPACE_SRCFILE
	default "main.c Makefile"
	string "Source code list"

config PK_PAGE_FAULT_USER_ADDR_USERSPACE_CSRCFILE
	string "Compile source code list"

config PK_PAGE_FAULT_USER_ADDR_USERSPACE_CONFIG
	string "CONFIG: Project Configure Options"

config PK_PAGE_FAULT_USER_ADDR_USERSPACE_LIBPATH
	string "LIBS: Libraries to pass to the linker, e.g. -l<library>"

config PK_PAGE_FAULT_USER_ADDR_USERSPACE_CPPFLAGS
	string "CPPFLAGS: C/C++ preprocessor flags, e.g. -I<include dir>"

config PK_PAGE_FAULT_USER_ADDR_USERSPACE_DPKCONFIG
	string "PKG_CONFIG_PATH: Directories to add to pkg-config's search path"

config PK_PAGE_FAULT_USER_ADDR_USERSPACE_CFLAGS
	string "CFLAGS: C compiler flags"

config PK_PAGE_FAULT_USER_ADDR_USERSPACE_LDFLAGS
	string "LDFLAGS: Linker flags"

config PK_PAGE_FAULT_USER_ADDR_USERSPACE_CXXFLAGS
	string "CXXFLAGS: C++ compiler flags"

config PK_PAGE_FAULT_USER_ADDR_USERSPACE_ASFLAGS
	string "CCASFLAGS: assembler compiler flags (defaults to CFLAGS)"

config PK_PAGE_FAULT_USER_ADDR_USERSPACE_BUILDARCH
	string "--host options on configure for Architecture"

endif # PK_PAGE_FAULT_USER_ADDR_USERSPACE
