menuconfig PK_PAGING_PT_K2PT_PAGE_KERNEL_IO_UC
	bool "Kernel with PageTable: PAGE_KERNEL_IO_NOCACHE"

if PK_PAGING_PT_K2PT_PAGE_KERNEL_IO_UC

config PK_PAGING_PT_K2PT_PAGE_KERNEL_IO_UC_VERSION
	default "default"
	string "verstion"

config PK_PAGING_PT_K2PT_PAGE_KERNEL_IO_UC_TAR
	default "tar.gz"
	string "tar type"

config PK_PAGING_PT_K2PT_PAGE_KERNEL_IO_UC_URL
	default "https://gitee.com/BiscuitOS_team/HardStack/raw/Gitee/Memory-Allocator/PAGING-MECH/BiscuitOS-PAGING-PT-K2PT-PAGE-KERNEL-IO-NOCACHE"
	string "url"

config PK_PAGING_PT_K2PT_PAGE_KERNEL_IO_UC_GITHUB
	string "GitHub"

config PK_PAGING_PT_K2PT_PAGE_KERNEL_IO_UC_SRCFILE
	default "main.c Makefile RunBiscuitOS.sh Kconfig Makefile.host"
	string "Source code list"

config PK_PAGING_PT_K2PT_PAGE_KERNEL_IO_UC_CSRCFILE
	string "Compile source code list"

config PK_PAGING_PT_K2PT_PAGE_KERNEL_IO_UC_CONFIG
	string "CONFIG: Project Configure Options"

config PK_PAGING_PT_K2PT_PAGE_KERNEL_IO_UC_LIBPATH
	string "LIBS: Libraries to pass to the linker, e.g. -l<library>"

config PK_PAGING_PT_K2PT_PAGE_KERNEL_IO_UC_CPPFLAGS
	string "CPPFLAGS: C/C++ preprocessor flags, e.g. -I<include dir>"

config PK_PAGING_PT_K2PT_PAGE_KERNEL_IO_UC_DPKCONFIG
	string "PKG_CONFIG_PATH: Directories to add to pkg-config's search path"

config PK_PAGING_PT_K2PT_PAGE_KERNEL_IO_UC_CFLAGS
	string "CFLAGS: C compiler flags"

config PK_PAGING_PT_K2PT_PAGE_KERNEL_IO_UC_LDFLAGS
	string "LDFLAGS: Linker flags"

config PK_PAGING_PT_K2PT_PAGE_KERNEL_IO_UC_CXXFLAGS
	string "CXXFLAGS: C++ compiler flags"

config PK_PAGING_PT_K2PT_PAGE_KERNEL_IO_UC_ASFLAGS
	string "CCASFLAGS: assembler compiler flags (defaults to CFLAGS)"

config PK_PAGING_PT_K2PT_PAGE_KERNEL_IO_UC_BUILDARCH
	string "--host options on configure for Architecture"

endif # PK_PAGING_PT_K2PT_PAGE_KERNEL_IO_UC
