menuconfig PK_MEMORY_GUP_FOLL_GET
	bool "GUP: FOLL_GET"

if PK_MEMORY_GUP_FOLL_GET

config PK_MEMORY_GUP_FOLL_GET_VERSION
	default "default"
	string "verstion"

config PK_MEMORY_GUP_FOLL_GET_TAR
	default "tar.gz"
	string "tar type"

config PK_MEMORY_GUP_FOLL_GET_URL
	default "https://gitee.com/BiscuitOS_team/HardStack/raw/Gitee/Memory-Allocator/MMAP-MECH/BiscuitOS-MEMORY-GUP-FOLL-GET"
	string "url"

config PK_MEMORY_GUP_FOLL_GET_GITHUB
	string "GitHub"

config PK_MEMORY_GUP_FOLL_GET_SRCFILE
	default "app.c  Kconfig  main.c  Makefile  Makefile.host  RunBiscuitOS.sh"
	string "Source code list"

config PK_MEMORY_GUP_FOLL_GET_CSRCFILE
	string "Compile source code list"

config PK_MEMORY_GUP_FOLL_GET_CONFIG
	string "CONFIG: Project Configure Options"

config PK_MEMORY_GUP_FOLL_GET_LIBPATH
	string "LIBS: Libraries to pass to the linker, e.g. -l<library>"

config PK_MEMORY_GUP_FOLL_GET_CPPFLAGS
	string "CPPFLAGS: C/C++ preprocessor flags, e.g. -I<include dir>"

config PK_MEMORY_GUP_FOLL_GET_DPKCONFIG
	string "PKG_CONFIG_PATH: Directories to add to pkg-config's search path"

config PK_MEMORY_GUP_FOLL_GET_CFLAGS
	string "CFLAGS: C compiler flags"

config PK_MEMORY_GUP_FOLL_GET_LDFLAGS
	string "LDFLAGS: Linker flags"

config PK_MEMORY_GUP_FOLL_GET_CXXFLAGS
	string "CXXFLAGS: C++ compiler flags"

config PK_MEMORY_GUP_FOLL_GET_ASFLAGS
	string "CCASFLAGS: assembler compiler flags (defaults to CFLAGS)"

config PK_MEMORY_GUP_FOLL_GET_BUILDARCH
	string "--host options on configure for Architecture"

endif # PK_MEMORY_GUP_FOLL_GET
