menuconfig PK_ZLIB
	bool "zlib"

if PK_ZLIB

config ZLIB_VERSION
	default "1.2.8" if GLIBR2
	string "verstion"

config ZLIB_TAR
	default "tar.gz"
	string "tar type"

config ZLIB_URL
	default "https://www.zlib.net/fossils/" if GLIBR2
	string "url"

config ZLIB_SRC
	string "source code list"

config ZLIB_LDFLAGS
	string "LDFLAGS"

config ZLIB_CFLAGS
	string "CFLAGS"

config ZLIB_CONFIG
	string "configure"

endif # PK_ZLIB
