menuconfig PK_VINTR_VIOAPIC
	bool "vInterrupt: Broiler vIOAPIC interrupt"

if PK_VINTR_VIOAPIC

config PK_VINTR_VIOAPIC_VERSION
	default "default"
	string "verstion"

config PK_VINTR_VIOAPIC_TAR
	default "tar.gz"
	string "tar type"

config PK_VINTR_VIOAPIC_URL
	default "https://gitee.com/BiscuitOS_team/HardStack/raw/Gitee/Virtualization/vInterrupt/Broiler-vIOAPIC-interrupt"
	string "url"

config PK_VINTR_VIOAPIC_GITHUB
	string "GitHub"

config PK_VINTR_VIOAPIC_SRCFILE
	default "main.c Kconfig Makefile README.md RunBiscuitOS.sh Makefile.host"
	string "Source code list"

config PK_VINTR_VIOAPIC_CSRCFILE
	string "Compile source code list"

config PK_VINTR_VIOAPIC_CONFIG
	string "CONFIG: Project Configure Options"

config PK_VINTR_VIOAPIC_LIBPATH
	string "LIBS: Libraries to pass to the linker, e.g. -l<library>"

config PK_VINTR_VIOAPIC_CPPFLAGS
	string "CPPFLAGS: C/C++ preprocessor flags, e.g. -I<include dir>"

config PK_VINTR_VIOAPIC_DPKCONFIG
	string "PKG_CONFIG_PATH: Directories to add to pkg-config's search path"

config PK_VINTR_VIOAPIC_CFLAGS
	string "CFLAGS: C compiler flags"

config PK_VINTR_VIOAPIC_LDFLAGS
	string "LDFLAGS: Linker flags"

config PK_VINTR_VIOAPIC_CXXFLAGS
	string "CXXFLAGS: C++ compiler flags"

config PK_VINTR_VIOAPIC_ASFLAGS
	string "CCASFLAGS: assembler compiler flags (defaults to CFLAGS)"

config PK_VINTR_VIOAPIC_BUILDARCH
	string "--host options on configure for Architecture"

endif # PK_VINTR_VIOAPIC
