menuconfig PK_GNU_GDB
	bool "GNU - gdb"

if PK_GNU_GDB

config GNU_GDB_VERSION
	default "8.0"
	string "verstion"

config GNU_GDB_TAR
	default "tar.gz"
	string "tar type"

config GNU_GDB_URL
	default "http://ftp.gnu.org/pub/gnu/gdb/"
	string "url"

config GNU_GDB_LDFLAGS
	string "LDFLAGS"

config GNU_GDB_CFLAGS
	string "CFLAGS"

config GNU_GDB_CONFIG
	string "configure"

endif # PK_GNU_GDB
