menuconfig PK_MEMORY_MMAP_MAP_SYNC
	select PK_E2FSPROGS
	bool "Memory Mapping: FLAGS MAP_SYNC"

if PK_MEMORY_MMAP_MAP_SYNC

config PK_MEMORY_MMAP_MAP_SYNC_VERSION
	default "default"
	string "verstion"

config PK_MEMORY_MMAP_MAP_SYNC_TAR
	default "tar.gz"
	string "tar type"

config PK_MEMORY_MMAP_MAP_SYNC_URL
	default "https://gitee.com/BiscuitOS_team/HardStack/raw/Gitee/Memory-Allocator/MMAP-MECH/BiscuitOS-MEMORY-MMAP-MAP-SYNC"
	string "url"

config PK_MEMORY_MMAP_MAP_SYNC_GITHUB
	string "GitHub"

config PK_MEMORY_MMAP_MAP_SYNC_SRCFILE
	default "main.c Makefile RunBiscuitOS.sh"
	string "Source code list"

config PK_MEMORY_MMAP_MAP_SYNC_CSRCFILE
	string "Compile source code list"

config PK_MEMORY_MMAP_MAP_SYNC_CONFIG
	string "CONFIG: Project Configure Options"

config PK_MEMORY_MMAP_MAP_SYNC_LIBPATH
	string "LIBS: Libraries to pass to the linker, e.g. -l<library>"

config PK_MEMORY_MMAP_MAP_SYNC_CPPFLAGS
	string "CPPFLAGS: C/C++ preprocessor flags, e.g. -I<include dir>"

config PK_MEMORY_MMAP_MAP_SYNC_DPKCONFIG
	string "PKG_CONFIG_PATH: Directories to add to pkg-config's search path"

config PK_MEMORY_MMAP_MAP_SYNC_CFLAGS
	string "CFLAGS: C compiler flags"

config PK_MEMORY_MMAP_MAP_SYNC_LDFLAGS
	string "LDFLAGS: Linker flags"

config PK_MEMORY_MMAP_MAP_SYNC_CXXFLAGS
	string "CXXFLAGS: C++ compiler flags"

config PK_MEMORY_MMAP_MAP_SYNC_ASFLAGS
	string "CCASFLAGS: assembler compiler flags (defaults to CFLAGS)"

config PK_MEMORY_MMAP_MAP_SYNC_BUILDARCH
	string "--host options on configure for Architecture"

endif # PK_MEMORY_MMAP_MAP_SYNC
