menuconfig PK_PCF8574_TRAFFIC
	bool "PCF8574 Traffic Light Application"

if PK_PCF8574_TRAFFIC

config PK_PCF8574_TRAFFIC_VERSION
	default "0.0.1"
	string "verstion"

config PK_PCF8574_TRAFFIC_TAR
	default "tar.gz"
	string "tar type"

config PK_PCF8574_TRAFFIC_URL
	default "https://gitee.com/BiscuitOS_team/HardStack/raw/Gitee/Device-Driver/i2c/Device/PCF8574/Traffic"
	string "url"

config PK_PCF8574_TRAFFIC_GITHUB
	string "GitHub"

config PK_PCF8574_TRAFFIC_SRCFILE
	default "traffic.c Makefile"
	string "Source code list"

config PK_PCF8574_TRAFFIC_CSRCFILE
	string "Compile source code list"

config PK_PCF8574_TRAFFIC_CONFIG
	string "CONFIG: Project Configure Options"

config PK_PCF8574_TRAFFIC_LIBPATH
	string "LIBS: Libraries to pass to the linker, e.g. -l<library>"

config PK_PCF8574_TRAFFIC_CPPFLAGS
	string "CPPFLAGS: C/C++ preprocessor flags, e.g. -I<include dir>"

config PK_PCF8574_TRAFFIC_DPKCONFIG
	string "PKG_CONFIG_PATH: Directories to add to pkg-config's search path"

config PK_PCF8574_TRAFFIC_CFLAGS
	string "CFLAGS: C compiler flags"

config PK_PCF8574_TRAFFIC_LDFLAGS
	string "LDFLAGS: Linker flags"

config PK_PCF8574_TRAFFIC_CXXFLAGS
	string "CXXFLAGS: C++ compiler flags"

config PK_PCF8574_TRAFFIC_ASFLAGS
	string "CCASFLAGS: assembler compiler flags (defaults to CFLAGS)"

config PK_PCF8574_TRAFFIC_BUILDARCH
	string "--host options on configure for Architecture"

endif # PK_PCF8574_TRAFFIC
